@charset "utf-8";
body {
	background-image: url(../images/index_bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 200%;
	background-color: #027382;
}
a{
	color: #333333;
	text-decoration: underline;	
}
a:hover {
	color: #333333;
	text-decoration: none;
}