@charset "utf-8";
/* CSS Document */

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
}

body {
	overflow-x: hidden;
	background: url(../images/bg.jpg) repeat;
	color: #4C371D;
	font-size: 15px;
	font-family: 微軟正黑體;
	vertical-align: middle;
	text-align: center;
}

#wraper {
	position: absolute;
	z-index: 20;
	margin: 0 auto;
	width: 100%;
	background: url(../images/centerbg.png) center bottom repeat-y;
}

#top {
	margin: 0 auto;
	height: 530px;
}

#menu {
	position: relative;
	top: 0px;
	height: 80px;
	background: url(../images/menubg.png) top center no-repeat;
	text-align: center;
}

#menu2 {
	position: relative;
	left: 140px;
	margin: 0 auto;
	margin-top: -125px;
	width: 1200px;
	height: 153px;
	background: url(../images/menubg.png) left bottom no-repeat;
	text-align: center;
}

#menu3 {
	position: relative;
	margin: 0 auto;
	margin-top: -125px;
	width: 920px;
	height: 153px;
	background: url(../images/menubg2.png) -5px bottom no-repeat;
	text-align: center;
}

#main {
	position: relative;
	z-index: 10;
	margin: 0 auto;
	width: 1200px;
}

#container {
	float: right;
	margin-right: 80px;
}

#content {
	margin: 0 auto;
	width: 960px;
	height: auto;
	background: #F8F1DE;
	color: #4C371D;
	line-height: 25px;
	padding:0 0 2% 0;
}

#contenttop {
    width:100%;
	margin: 0 auto;
	height: 12px;
	background: url(../images/main_top.png)  center top no-repeat;
}

#contentbottom {
	margin: 0 auto;
	height: 19px;
	background: url(../images/main_bottom.png)  center top no-repeat;
}

#footer2 {
	clear: both;
	margin: 0 auto 100px auto;
	width: 100%;
	height: 215px;
	background: url(../images/footer.png) center bottom no-repeat;
}

.page01 {
	vertical-align: text-top;
}

.page02 {
	padding-left: 12px;
}

.notice {
	margin: 0 auto;
	width: 700px;
	background: #81D3FD;
	text-align: left;
}

.copyright2 a {
	color: #BC9069;
	text-decoration: none;
}

.copyright2 {
	margin: -140px auto 0 auto;
	width: 100%;
	color: #BC9069;
	text-align: center;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

.photo1 {
	float: left;
	padding-left: 230px;
}

.photo2 {
	float: right;
	padding-right: 230px;
}

.photo1 img,.photo2 img {
	border: 0;
}

#photobox {
	position: relative;
	/* top:15px; */
	z-index: 10;
	margin: 0px auto auto auto;
	width: 1024px;
}

.title {
	margin: 0 auto;
	height: 37px;
	background: url(../images/title.png) center center no-repeat;
}

.partnertitle {
	padding-left: 80px;
	height: 49px;
	line-height: 51px;
	background: url(../images/partnertitle.png) left center no-repeat;
	clear:both;
	font-size:17px;
	color:#4C3D06;
	margin:4% 0 0 0;
}

.partner {
	margin: 0 40px 0 40px;
}

.artice {
	margin: 0 30px 0 30px;
}

div.artice p {
	margin: 2% 0 0 0;
}

.title2 {
	float: left;
	margin-left: 30px;
	padding: 0 0 0 30px;
	height: 37px;
	background: url(../images/icon.png) left center no-repeat;
	color: #fff;
	font-size: 18px;
	line-height: 37px;
}

.titles {
	height: 32px;
	font-size: 14px;
	line-height: 32px;
}

.activelogo {
	position: relative;
	margin: 0 auto;
	/* margin-top:-40px; */
	width: 1100px;
	text-align: center;
}

.iactivelogo {
	/*margin: 0 auto;*/
	/* margin-top:-40px; */
    /* width:1200px; */
	/* border:1px solid #000; */
	/* background: url(../images/isky.png) center center no-repeat; */
	/*text-align: center;*/
	display: block;
}

.iactivelogo img {
    display: block;
	margin-left:auto;
	margin-right:auto;
}

.activelogo a img {
    border:0;
}

.left {
    display:none;
}

/******精彩相簿*******/

.abgne_tab {
	clear: left;
	width: 100%;
	margin: 10px 0;
}

.notebtn2 {
    float:left;
	text-align:center;
	width:25%;
	margin:3% 0;
	background: url(../images/tabs.png) center center no-repeat;
	height:36px;
	line-height:36px;
}

.notebtn2>a {
    color: #451F00;
	text-decoration: none;
}

div.tab_container {
	clear: left;
	width: 90%;
	height: 400px;
	/*border: 1px solid #999;
	border-top: none; 
	background: #ecefff;*/
	margin:0 5%;
}
div.tab_container .tab_content {
	padding: 0;
}
div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}

/*********文字css***********/

.word {
	margin: 0 30px;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 20px;
	white-spacing: pre-wrap;
}

.word2 {
	color: #4f4f4f;
	font-size: 12px;
}

.word3 {
	margin: 0 30px;
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 20px;
	white-spacing: pre-wrap;
}

.info {
	   /* margin-left:28px; */
	color: #0194fe;
	letter-spacing: 4px;
	font-weight: bold;
	font-size: 18px;
}

.info2 {
	margin: 0 30px;
	color: #0194fe;
	letter-spacing: 4px;
	font-weight: bold;
	font-size: 18px;
}

.infotitle2 {
			/* margin:0 30px; */
	padding: 3px 0;
	color: #0194fe;
	letter-spacing: 3px;
	font-size: 18px;
}
			
/*********相簿css**********/

.album_photo {
	top: 0px;
	left: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 4px 0 0 0px;
	/* padding-top: 30px; */
	width: 25%;
	height: 170px;
/* background-image: url(../images/photobg.png); */
	background-position: center top;
	background-repeat: no-repeat;
	font-weight: bold;
}

.album_photo img,.album_photo2 img {
	border: 1px solid #352A18;
	width:154px;
	height:115px;
}

.album_photo2 {
	top: 0px;
	left: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	/* margin-bottom: 5px; */
	padding: 4px 0 0 13px;
	/* padding-top: 30px; */
	width: 190px;
	height: 120px;
	/* background-image: url(../images/photobg.png); */
	/* background-position: center top; */
	/* background-repeat: no-repeat; */
}

.album_photo_txt {
	float: left;
	padding: 10px 0 13px 0px;
	width: 190px;
	text-align: center;
	font-weight: bold;
	line-height: normal;
}

.album_photo_txt2 {
	float: left;
	padding: 0 0 13px 9px;
	width: 190px;
	text-align: center;
	line-height: normal;
}

.album_photo_txt a,.album_photo_txt2 a {
	color: #3A240F;
	text-decoration: none;
}

.album_photo_txt a:hover,.album_photo_txt2 a:hover {
	text-decoration: underline;
}

.tab_name {
    background:#A67C52;
	color:#fff;
	margin: 2% 5%;
	height:35px;
    line-height:35px;
	padding:0 0 0 2%;
}

.top img {
	margin-right: 35px;
	border: 0;
}

.page_box {
	float: left;
	display: inline;
	/* margin-right: 170px; */
	margin-bottom: 20px;
	/* margin-left: 170px; */
	width: 870px;
}

.page_detail_box {
	float: left;
	padding-top: 5px;
	width: 165px;
}

.page_detail_leftTXT {
	float: left;
	margin-bottom: 20px;
	padding-left: 25px;
	width: 150px;
	/* background-image: url(../images/pic_6.jpg); */
	/* background-position: left 5px; */
	/* background-repeat: no-repeat; */
	line-height: normal;
}

.page_detail_leftTXT a {
	color: #4f4f4f;
	text-decoration: none;
}

.page_detail_leftTXT a:hover {
	text-decoration: underline;
}

.page_detail_box2 {
	float: right;
	width: 600px;
}


.page_detail_cnt {
	float: left;
	display: inline;
	overflow: hidden;
	margin-bottom: 20px;
	width: 428px;
	line-height: 200%;
}

.fb_bg {
	float: left;
	margin-top: 20px;
	width: 100%;
	background-color: #75c4cf;
}

.back {
	float: left;
	margin-bottom: 30px;
	width: 428px;
}

.back img {
	border: 0;
}


/**********景點介紹*********/

.articeicon {
	background: url(../images/articeicon.png) left top no-repeat;
	padding:0 0 0 50px;
	margin:10px 0;
	color:#B05D01;
	min-height:30px;
	font-size:17px;
	font-weight:700;
}

.dubai02_1 {
    float:left;
	width:65%;
}

.dubai02_2 {
    float:right;
	width:35%;
	text-align:right;
}

.dubai02_3 {
    float:left;
	width:50%;
}

.dubai02_4 {
    float:right;
	width:50%;
	text-align:right;
}

.dubai02_5 {
    float:left;
	width:37%;
}

.dubai02_6 {
    float:right;
	width:63%;
	text-align:left;
}

.dubai02_7 {
    float:left;
	width:70%;
}

.dubai02_8 {
    float:right;
	width:30%;
	text-align:right;
}

.dubai02_9 {
    float:left;
	width:23%;
}

.dubai02_10 {
    float:right;
	width:77%;
	text-align:left;
}

.dubai02_11 {
    float:left;
	width:76%;
}

.dubai02_12 {
    float:right;
	width:24%;
	text-align:right;
}

.dubai02_13 {
    float:left;
	width:65%;
}

.dubai02_14 {
    float:right;
	width:35%;
	text-align:right;
}

.dubai02_15 {
    float:left;
	width:15%;
}

.dubai02_16 {
    float:right;
	width:85%;
	text-align:left;
}

.dubai02_17 {
    float:left;
	width:50%;
}

.dubai02_18 {
    float:right;
	width:50%;
	text-align:right;
}

.dubai02_19 {
    float:left;
	width:30%;
}

.dubai02_20 {
    float:right;
	width:70%;
	text-align:left;
}

.dubai02_21 {
    float:left;
	width:24%;
}

.dubai02_22 {
    float:right;
	width:76%;
	text-align:left;
}

.dubai02_23 {
    float:left;
	width:65%;
}

.dubai02_24 {
    float:right;
	width:35%;
	text-align:right;
}

/********飯店介紹*******/

.hostel_1 {
    float:left;
	width:52%;
}

.hostel_2 {
    float:right;
	width:48%;
}

/**********旅遊注意事項***********/

table.matter01>tbody>tr>td {
    vertical-align:top;
	height:70px;
	padding:0 0 10px 0;
}

table.matter01>tbody>tr>td:first-child {
    width:6%;
}

/******遊記分享首頁******/

#news {
	margin: 10px 45px 0 45px;
}

/******遊記分享內頁******/

.travelpoint {
	height: 45px;
	background: url(../images/travelpoint.png) left center no-repeat;
	font-size: 18px;
	line-height: 45px;
	padding:0 0 0 8%;
}

.newscontent {
    background:#fff;
	padding:0.3% 2% 2% 2%;
	margin:1% 0 0 0;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	min-height:250px;
}


/********行程表*******/

.notetitle {
    padding-left: 80px;
	height: 49px;
	line-height: 51px;
	background: url(../images/partnertitle.png) left center no-repeat;
	clear:both;
	font-size:17px;
	color:#4C3D06;
	margin:4% 0 3% 0;
	font-weight:800;
}

.notebox {
    margin:0 10%;
}

.notebtn {
    float:left;
	text-align:center;
	width:33%;
	margin:3% 0;
}

table.note {
	width:90%;
	border-collapse: collapse;
	border-top: #BDB591 solid 1px;
	border-left: #BDB591 solid 1px;
	border-bottom: #BDB591 solid 1px;
	margin:0 5%;
} 

.note th {
    background: #A67C52;
	border-right: #BDB591 solid 1px;
	border-bottom: 0;
	text-align:center;
	font-weight:normal;
	height:50px;
	color:#fff;
}

.note td {
	border-right: #BDB591 solid 1px;
	border-bottom: 0;
	vertical-align: top;
	height:40px;
	line-height:40px;
	background: #F1E3C0;
	padding:0 0 0 4%;
}

.note td:first-child {
    text-align:center;
	padding:0 4%;
}

td.two {
	background: #F7F2DF;
}

/**********裝備檢查表*********/

table.matter02 {
    float:left;
	width:25%;
	border-collapse: collapse;
	border-top: #BDB591 solid 1px;
	/*border-left: #BDB591 solid 1px;*/
	background: #F3EACB;
} 

.matter02 td {
	border-right: #BDB591 solid 1px;
	border-bottom: #BDB591 solid 1px;
	vertical-align: middle;
	height:35px;
	padding:0 0 0 8px;
}

.print {
    display:block;
}

/**********海外旅遊實施要則*********/

table.attention>tbody>tr>td {
    vertical-align:top;
	height:70px;
	padding:0 0 10px 0;
}

table.attention>tbody>tr>td:first-child {
    width:3%;
	font-weight:900;
	font-size:18px;
}

table.eight {
	width:33%;
	border-collapse: collapse;
	border-top: #BDB591 solid 1px;
	border-left: #BDB591 solid 1px;
} 

.eight th {
    background: #E6CD8A;
	border-right: #BDB591 solid 1px;
	border-bottom: #BDB591 solid 1px;
	text-align:left;
	padding:0 0 0 5%;
	font-weight:normal;
}

.eight td {
	border-right: #BDB591 solid 1px;
	border-bottom: #BDB591 solid 1px;
	vertical-align: middle;
	height:35px;
	padding:0 0 0 5%;
	background: transparent;
}

/**********一日在地生活體驗************/

.dir {
	border-collapse: collapse;
	border-top: #000000 solid 1px;
	border-left: #000000 solid 1px;
	background: #fbffea;
}

.dir td {
	padding: 10px;
	border-right: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	vertical-align: top;
}

.dir2 {
	border-collapse: collapse;
	border-top: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	border-left: #000000 solid 1px;
	background: #fbffea;
}

.dir2 td {
	padding: 5px;
	border-right: #000000 solid 1px;
	vertical-align: top;
}

td.blacktitle {
	padding: 5px 0;
	border-bottom: #000000 solid 1px;
	background: #535353;
	color: #fff;
	text-align: center;
	font-size: 18px;
}

td.orangeword {
	background: #ffdeb7;
}

/**********符合名單*********/

.box{
  float: left;
  width: 25%;
  margin: 1% 0 1% 0%;
  text-align:center;
  width: 19%\9;
  text-align:left\9;
  margin: 1% 0 1% 6%\9;
}

/**********選單css*********/

#navigation {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	margin-left: 250px;
	padding: 0;
	padding-bottom: 10px;
	min-width: 1000px;
	list-style: none;
	text-align: center;
}

#navigation li {
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
		/* border-right: 1px solid #999; */
	font-size: 18px;
	font-family: 微軟正黑體;
	line-height: 65px;
}

#navigation li a {
	display: block;
	margin: 0 0 20px 0;
	padding: 0px 5px;
	height: 55px;
	min-width: 180px;
	color: #563514;
	text-decoration: none;
}

#navigation li a img,#navigation2 li a img  {
    border:0;
}
	
	/* #navigation li a:first-child {
	    width:95px; */
	
	/* margin:0 0 0 3px; */
	
#navigation li a:hover {
	display: block;
	color: #382008;
	text-decoration: none;
		/* line-height:30px; */
}

#navigation li ul {
	position: absolute;
	left: 0;
	float: left;
	display: none;
	margin-top: 0px;
	padding: 0;
		/* max-width: 650px; */
		/* min-width: 340px; */
		/* background: #313131 no-repeat bottom; */
	color: #fff;
	list-style: none;
}
    /*第二層*/
#navigation li ul li {
	padding: 0px;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
}

#navigation li >ul>li>a {
 /* display: inline; */
	min-width: 100px;
}

#navigation li ul li a:hover {
 /* text-decoration: underline; */
}
	
/**********內頁選單css*********/

#navigation2 {
	position: relative;
	display: inline-Block;
	margin: 0 auto;
	margin-left: 250px;
	padding: 0;
	padding-bottom: 10px;
	min-width: 1000px;
		/* background: url(../images/menubg.png) no-repeat; */
	list-style: none;
	text-align: center;
}

#navigation2 li {
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	font-size: 18px;
	font-family: 微軟正黑體;
	line-height: 65px;
}

#navigation2 li a {
	display: block;
	margin: 0 0 20px 0;
	padding: 0px 5px;
	height: 55px;
	min-width: 180px;
	color: #563514;
	text-decoration: none;
}
	
	/* #navigation li a:first-child {
	    width:95px; */
	
	/* margin:0 0 0 3px; */
	
#navigation2 li a:hover {
	display: block;
	color: #382008;
	text-decoration: none;
		/* line-height:30px; */
}

#navigation2 li ul {
	position: absolute;
	left: 0;
	float: left;
	display: none;
	margin-top: 0px;
	padding: 0;
		/* max-width: 650px; */
		/* min-width: 340px; */
		/* background: #313131 no-repeat bottom; */
	color: #fff;
	list-style: none;
}

#navigation2 li ul li {
	padding: 0px;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
}

#navigation2 li >ul>li>a {
 /* display: inline; */
	min-width: 100px;
}

#navigation2 li ul li a:hover {
 /* text-decoration: underline; */
}

#menu3 	#navigation2 {
	position: relative;
	left: 60px;
	display: inline-Block;
	margin: 0;
	margin-top: 65px;
		/* margin-left:100px; */
	padding: 0;
	padding-bottom: 10px;
	width: 780px;
		/* background: url(../images/menubg.png) no-repeat; */
	list-style: none;
	text-align: center;
}

.iactivelogo_mobile {
	display: none;
}

.sidebar {
    display:none;
}

@media screen and (max-height: 768px) {
	
	#wraper {
		top: 0;
	}
	/* .iactivelogo {margin-top:-3.5em; */
	
	.iactivelogo img {
		width: auto;
		height: 280px;
	}

	#menu {
		top: 0em;
	}

	#photobox {
		top: -20px;
	}
}

@media screen and (max-height: 600px) {
	
	#wraper {
		top: 0;
	}

	.iactivelogo {
		margin-top: -5em;
	}

	#menu {
		top: -2em;
	}

	#photobox {
		top: -25px;
	}
}

@media screen and (max-width: 1100px)  and (min-width: 769px) {

	#top {
		margin-left: -25px;
	}

	#main {
		margin-left: -95px;
	}

	#navigation2 {
		margin-left: 150px;
	}

	#navigation {
		margin-left: 120px;
	}

}

/*手機版*/

@media only screen and (max-width: 768px) and (min-width: 320px) {

	img {
		height: auto;
		max-width: 100%;
	}

	#photobox, #menu, .iactivelogo, .activelogo {
		display: none;
	}

	.iactivelogo_mobile {
		display: block;
	}
	
	.iactivelogo_mobile img {
		display: block;
		margin-left:auto;
		margin-right:auto;
	}

	#top {
		height: auto;
		margin-bottom: -38%;
	}
	
	#wraper {
	   	display: block;
		margin-left:auto;
		margin-right:auto;
	}

	#wraper , #top , #main, #content {
		width: auto;
	}
	
	#main {
	    
	}

	#container {
		margin-right: 0px;
	}

	#contenttop {
		background: url(../images/main_top.png)  center bottom no-repeat;
	}

	#contenttop, #contentbottom,.title {
		background-size: contain;
	}

	.title {
		background: url(../images/title_mobile.png) center center no-repeat;
	}

	#footer2 {
		width: auto;
		height: 315px;
		background: url(../images/footer_mobile.png) center bottom no-repeat;
		background-size: contain;
		margin: 0;
	}

	.copyright2 {
		width: auto;
		margin: -10% auto 0 auto;
	}
	
	.artice,.title,#main {
		margin: 0 5px;
	}
	
	.artice {
	    width:auto;
	}
	
	.sidebar {
        display:block;
		margin-top:auto;
		margin-bottom:auto;
    }
	
	.left {
	    display:block;
	}
	
	/****收合選單****/

	.menutitle .left { 
	    margin-top: 10%; border:none; width:100%; padding:0; margin-left:0 auto; margin-right:0 auto;
	}
	
	.menutitle .left ul {
    	padding:0; margin:0;list-style:none;
	}
	
	.menutitle .left ul li { 
	    text-align:center; padding: 0 0 5% 0;
	}
	
	.menutitle .left ul li a { 
	    font-size:13px; text-decoration:none; display:block; height:90px;
	}
	
	.menutitle .left ul li a:hover, .menutitle .left ul li a.selected { 
	    color:#fff;font-weight:bold;
	}
	
	.menutitle .left ul li.child {
	    display:none; width:100%; margin:0 auto;
	}
	
	.menutitle .left ul li.child a img {
	    
	}
	
	.menutitle .left ul li.child a:hover, .menutitle .left ul li.child a.selected {
	    color:#fff;
	}
	
	.menutitle .left ul li > img {
	    margin: 0; padding: 0; clear: both;
	}
	
 	.box {
        float: left;
        width: 33%;
    }
	
	.partner {
	    margin: 0 10px 0 10px;
    }
	
	.partnertitle {
	    background: url(../images/partnertitle_mobile.png) left center no-repeat;
	    background-size: contain;
	    padding-left: 20%;
	}
	
	.dubai02_1,.dubai02_2,.dubai02_3,.dubai02_4,.dubai02_5,.dubai02_6,.dubai02_7,.dubai02_8,.dubai02_9,.dubai02_10,.dubai02_11,.dubai02_12,.dubai02_13,.dubai02_14,.dubai02_15,.dubai02_16,.dubai02_17,.dubai02_18,.dubai02_19,.dubai02_20,.dubai02_21,.dubai02_22,.dubai02_23,.dubai02_24 {
	 width:auto;
	 float:none;
	}
	
	.dubai02_1>img,.dubai02_2>img,.dubai02_3>img,.dubai02_4>img,.dubai02_5>img,.dubai02_6>img,.dubai02_7>img,.dubai02_8>img,.dubai02_9>img,.dubai02_10>img,.dubai02_11>img,.dubai02_12>img,.dubai02_13>img,.dubai02_14>img,.dubai02_15>img,.dubai02_16>img,.dubai02_17>img,.dubai02_18>img,.dubai02_19>img,.dubai02_20>img,.dubai02_21>img,.dubai02_22>img,.dubai02_23>img,.dubai02_24>img {
	 text-align:center;
	}
	
	.hostel_1,.hostel_2 {
    float:none;
	width:auto;
}

table.matter01>tbody>tr>td:first-child {
    width:10%;
}

.checkbox {
    margin:0 3%;
}

table.matter02 {
    float:none;
	width:100%;
	border-top: 0;
	border-left: #BDB591 solid 1px;
	}
	
.matter02 td:first-child {
    width:10%;
	font-size:22px;
	text-align:center;
	padding:0 0 0 0;
}	

.print {
    display:none;
}

.notebox {
    padding:2% 0 0 0;
}
.notebox img {
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.notebtn {
    float:none;
	text-align:center;
	width:auto;
	margin:3% 0;
}

.album_photo {
   width: 50%;
}

.notebtn2 {
    float:none;
	width:auto;
	text-align:center;
}
	
}

@media only screen and (max-width: 320px) {

 	.box {
        float: left;
        width: 50%;
    }
	
	.ord {
	    text-align:left;
		white-space:nowrap;
	}

}#top iframe {
	text-align: center;
}
.1 {
	color: #FF0;
}
