@charset "UTF-8";
/* CSS Document */

.subpage .intro  {
    background: url(../img/intro-bg-small.jpg) no-repeat bottom center scroll;
	height: 250px !important;
}

.subpage .main-menu {
	margin-top: 76px;
}

.subpage .intro .intro-body {
	width: 100%;
}

.content-blog {
	padding-bottom: 70px;
	padding-top: 20px;
}

body.subpage {
	
    background: url(../img/sub-body-background.jpg) repeat center center;
	background-repeat: repeat-y;
	color: #111111;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
}

.subpage #contacts {
	background: url(../img/footer.png) center bottom;
	padding-top: 187px;
	margin-top: -50px;
}


/*rules*/

ul.list_ch {
	list-style-type:trad-chinese-formal;
}

ul.list_num {
	list-style-type: decimal;
}

ul.list_ch li {
	margin-bottom: 4%;
}

.table {
	margin-top: 20px;
}

.table-bordered,
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	/*border: 1px solid #2F488C;*/
	/*background-color: #fff;*/
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th {
	border: 1px solid #2F488C;
	background-color: #2F488C;
	color: #fff;
	text-shadow: none;
}

.bg-gray {
	background-color: #E7E7E7;
}

/*reminds*/

.subpage #accordion .panel {
	box-shadow: none;
	background-color: rgba(245, 245, 245, 0);
}

.subpage #accordion .panel-default {
	border: none;
	margin-bottom:2%;
}

.subpage #accordion .panel-default > .panel-heading {
	background: url(../img/large-wood-background.jpg) repeat center center;
	color: #fff;
}

.subpage #accordion .panel-heading {
	border-radius: 3px;
	padding: 15px;
}

.subpage #accordion a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

.subpage #accordion .panel-title {
	font-size:20px;
	color: #fff;
}

.subpage #accordion .panel-title .fa,
.subpage #accordion .panel-body .table .fa {
	margin-right: 5px;
}

.subpage #accordion .panel-body .list_num li
 {
	margin-bottom: 2%;
}

/*hotel*/
#hotel .media-body h3,
#about-intro .media-body h3
 {
	color: #2F488C;
}

#hotel .media-body h2 {
	color: #EB6EA5;
}


#hotel .media-left, .media > .pull-left,
#about-intro .media-left, .media > .pull-left,
#spots .media-left, .media > .pull-left {
	padding-right: 30px;
}

#hotel p,
#about-intro p,
#spots p {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
}

/*about-intro*/
#about-intro .media-body h2 {
	color: #2F488C;
    font-size: 28px;
}

/*schedule*/
#schedule .table .label {
	text-shadow: none;
}

#schedule .label-invisible {
	background-color: #fff;
	color: #fff;
}

.mt-0 {
	margin-top: 0px !important;
}



/*medias*/
.left-sidebar-w {
	margin-bottom: 30px;
	position: relative;
}

.left-sidebar-w .btn {
	float: left;
	margin-top: 20px;
}

.btn-wood { 
  background: url(../img/small-wood-background.jpg) repeat center center;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.66);
	border: 1px solid transparent;
	
	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	-moz-box-shadow:    inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	box-shadow:         inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
}

.btn-wood:hover,
.btn-wood:focus {
    color: #fff;
}

.mt0 {
	margin-top: 0px !important;
}

.subpage #medias #accordion .panel-default > .panel-heading,
.subpage #namelist #accordion .panel-default > .panel-heading {
  border: 1px solid #d0dce3;
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.60);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.60);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.60);

	background: rgba(245,247,250,0.42);
	background: -moz-linear-gradient(top, rgba(245,247,250,0.42) 0%, rgba(221,230,236,0.42) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,247,250,0.42)), color-stop(100%, rgba(221,230,236,0.42)));
	background: -webkit-linear-gradient(top, rgba(245,247,250,0.42) 0%, rgba(221,230,236,0.42) 100%);
	background: -o-linear-gradient(top, rgba(245,247,250,0.42) 0%, rgba(221,230,236,0.42) 100%);
	background: -ms-linear-gradient(top, rgba(245,247,250,0.42) 0%, rgba(221,230,236,0.42) 100%);
	background: linear-gradient(to bottom, rgba(245,247,250,0.42) 0%, rgba(221,230,236,0.42) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fa', endColorstr='#dde6ec', GradientType=0 );
	
}

.subpage #medias #accordion .panel-title,
.subpage #namelist #accordion .panel-title
{
		color: #2F488C;

}

/*spots*/
#spots .media-body h2,
#spots h2 {
	color: #6c3b25;
	font-size: 36px;
}

#spots .media-body h3 {
	color: #2F488C;
	font-size: 23px;
	padding-bottom:20px;
}

#spots .post-body .left-sidebar-w {
	width: 30%;
}

#spots .post-body .right-cnt-w {
	width: 67%;
	float: right;
}

#spots .post-body .spots-items-top {
	min-height: 280px;
	background: url("../img/large-wood-background.jpg") repeat scroll center center;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.66);
	border: 1px solid transparent;
	
	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	-moz-box-shadow:    inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	box-shadow:         inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.33;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 15px 25px 15px 25px;
}

#spots .post-body .spots-items-btm {
	min-height: 140px;
	background: url("../img/large-wood-background.jpg") repeat scroll center center;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.66);
	border: 1px solid transparent;
	
	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	-moz-box-shadow:    inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	box-shadow:         inset 1px 0px 4px 0px rgba(0, 0, 0, 0.42);
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.33;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 15px 25px 15px 25px;
}

#spots .post-body .spots-items-top-snow {
	background: url("../img/intro-info-element-1.png") no-repeat scroll center center;
	height: 38px;
	left: 9px;
	position: absolute;
	top: -5px;
	width: 110px;
	z-index: 42;
}

#spots .post-body .spots-items-top h3,
#spots .post-body .spots-items-btm h3
  {
text-transform: uppercase;
	position:relative;
  }

#spots .post-body .spots-items-top h3:before,
#spots .post-body .spots-items-btm h3:before 
  {
	content:'';
	position:absolute;
	width: 80px;
	height: 17px;
	background:url(../img/about-specific-content-element-1-xs.png) no-repeat center center;
	bottom: -30px;
	left: 50%;
	margin-left: -39px;
}

#spots .post-body .spots-items-top .btn-lg,
#spots .post-body .spots-items-btm .btn-lg {
	color: #fff;
	transition: all 0.3s ease-in-out 0s;
	font-size: 17px;
	line-height: 1.33;
	padding: 10px 16px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	
}

#spots .post-body .spots-items-btm-snow {
	background: url("../img/contacts-elements-after-bg-2.png") no-repeat scroll center center;
	height: 160px;
	right: 10px;
	position: absolute;
	top: 340px;
	width: 283px;
	z-index: 2;
	bottom: -62px;
}

#spots .post-body .right-cnt-w .media-body h4 {
	color: #2F488C;
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;
}

#spots .post-body .right-cnt-w .media img {
	margin-bottom: 20px;
    max-width: 100%;
    border-radius: 10px;
}

#spots .spots-number h2 {
	color: #2F488C;
	font-size: 32px;
}

#spots .spots-number h3 {
	color: #2F488C;
	margin-bottom: 10px;
}

#spots .post-body .media {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #55a3d1;
}

.border-none {
	border-bottom: none !important;
}

#back-to-top {
	padding: 30px 15px 7px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index:2147483646;
	font-size: 40px;
	visibility:visible;
}

#back-to-top a {
	transition:all 0.3s ease-in-out 0s;
}

#spots .post-body .left-sidebar-w .btn-wood {
	font-size: 17px;
	margin-top: 0px;
}

#spots .media .gears ul {
	list-style: none;
	padding-left: 0px !important;
}

.text-blue {
	color: #EB6EA5;
    font-weight: 600;
}

#spots .media .snow-info ul li {
	list-style: decimal;
	margin-bottom: 1%;
}

#spots .media .snow-info ul {
	padding-left: 25px !important;
}

#spots .post-body .right-cnt-w .media-body .h4{
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	font-weight: normal !important;
}

.mt20 {
	margin-top: 20px;
}


.mt30 {
	margin-top: 30px;
}

.table {
    width: 60%;
    max-width: 100%;
    margin-bottom: 20px;
}
