/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'PingFangTC-Regular';
    src: local('PingFangTC-Regular'),
        url('../fonts/PingFangTC-Regular.otf') format('truetype');
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Airal !important;
}

body {
    color: white;
    font-size:  90%;
    line-height: 1.2em;
}

.slide{
    position: relative;
    z-index: -2;
    display: block;
    width: 100%;
    height: 568px;
    background-repeat: no-repeat;
}

.content{
	width:100%;
}

#slide1 {
    background-image: url(img/0-1.png);
    background-position: center center;
}

#slide1 .content p {
	text-align: center;
	line-height: 1.2em;
}

#slide1 .content .yellow{
	color: yellpw;
}

#bigttl {
    display: block;
    width: 100%;
    height: 190px;
    background-image: url(img/0-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#bear {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 252px;
    background-image: url(img/0-3.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#cbk {
    position: absolute;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 252px;
    background-image: url(img/0-4.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


#slide2, #slide4 {
    height: 736px;
    background-image: url(img/1-1.png);
    background-size: 100%;
}

#slide2 .content,
#slide4 .content{
	width: 90%;
	margin: 0 auto;
    font-size: 90%;
}

#ttl2 {
    display: block;
    width: 100%;
    height: 120px;
    background-image: url(img/1-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#period{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border:1px solid #d0121b;
    color: #d0121b;
    border-radius: 10px;
}

#slide2 .award1, #slide2 .award2, #slide2 .award3{
	display: flex;
    align-items: center;
}

#slide2 .award1::before{
	content: url(img/1-4.png);
	margin-right: 1rem;
}

#slide2 .award2::before{
	content: url(img/1-5.png);
	margin-right: 1rem;
}

#slide2 .award3::before{
	content: url(img/1-6.png);
	margin-right: 1rem;
}

#car {
    position: absolute;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 302px;
    background-image: url(img/1-9.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#car::after{
	display: flex;
	justify-content: center;
	width: 80%;
	content: '＊本圖僅供參考，實際配備與顏色請依照實車為主，中華賓士保留對車款變更或解釋之權利。';
    position: absolute;
    left:10%;
    bottom: 0;
    font-size: 50%;
    padding-top: 50px;
}

#atmosphere{
    position: absolute;
    right: 3%;
    bottom: 16%;
    z-index: 2;
    display: block;
    width: 35%;
    height: 240px;
    background-image: url(img/1-8.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

#slide3 {
    height: 736px;
    background-image: url(img/1-10.png);
    background-size: 100%;
	color:#231815;
}

#slide3 .content{
	width: 90%;
	margin: 0 auto;
    font-size: 90%;
}

#slide3 #gift1{
	display: block;
    padding-top: 75px;
    width: 100%;
    background-image: url(img/1-11.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#slide3 #gift2{
	display: block;
    padding-top: 75px;
    width: 100%;
    background-image: url(img/1-12.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#slide3 ul li{
	margin-bottom: 1em;
}

#slide3 ul li::before{
	content: url(img/dot.png);
	padding-top: 50px;
	margin-right: .5em;
}


@media (min-width:360px) {
	.slide{
    	height: 640px;
	}
    #bigttl {
        height: 210px;
    }
    #slide2{
    	height: 765px;
    }
    #slide3{
    	height: 765px;
    }
	#slide3 #gift1{
	    padding-top: 90px;
	}

	#slide3 #gift2{
	    padding-top: 90px;
	}
    #slide4{
    	height: 765px;
    }
}

@media (min-width:375px) {
	.slide{
    	height: 667px;
	}
	.content{
		width:90%;
		margin:0 auto;
	}
    #bigttl {
        height: 250px;
    }
    #bear {
        height: 300px;
    }
    #slide2 {
    	height: 768px;
    }
    #slide4 {
    	height: 768px;
    }
}

@media (min-width:411px) {
	.slide{
    	height: 731px;
	}
    #slide2{
    	height: 800px;
    }
	#slide3 #gift1{
	    padding-top: 100px;
	}

	#slide3 #gift2{
	    padding-top: 100px;
	}
    #slide4{
    	height: 800px;
    }
}

@media (min-width:414px) {
	.slide{
    	height: 736px;
	}
	#slide1 .content p {
		line-height: 1.5em;
	}
	#bigttl {
        height: 250px;
    }
    #bear {
        height: 300px;
    }
    #ttl2{
    	height: 133px;
    }
}

@media (min-width: 768px){
	body{
		font-size: 20px;
		width: 768px;
	    overflow-x: hidden;
	    margin: 0 auto;
	}
	.slide{
    	height: 1074px;
    	background-size: 100%;
	}
	.content{
		display: block;
		width: 60%;
		height: 100%;
		margin:0 auto;
	}
	#slide1{
    	background-position: left top;
	}
	#bigttl {
	    height: 430px;
	    margin-top: -50px;
	}
	#cbk{
    	height: 429px;
	}
    #bear {
        height: 535px;
    }
    #ttl2{
    	height: 240px;
    }

}
