#leaf_1 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_2 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_3 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_4 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_5 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_6 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_7 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_8 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_9 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_10 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_11 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_12 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_13 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#leaf_14 .history_list_leaf{
    -skrollr-animation-name:animation1;
}

#otherleaf_1{
    -skrollr-animation-name:animation4;
}

#otherleaf_2{
    -skrollr-animation-name:animation4;
}

#otherleaf_3{
    -skrollr-animation-name:animation3;
}

#otherleaf_4{
    -skrollr-animation-name:animation4;
}

#otherleaf_5{
    -skrollr-animation-name:animation3;
}

#otherleaf_6{
    -skrollr-animation-name:animation3;
}

#otherleaf_7{
    -skrollr-animation-name:animation3;
}

#otherleaf_8{
    -skrollr-animation-name:animation4;
}

#otherleaf_9{
    -skrollr-animation-name:animation3;
}






@-skrollr-keyframes animation1 {
    -50-bottom{
        opacity: 0;
        margin-left: -35px;
        margin-top: 10px;
        transform:scale(-0.2,0.2);
    }
    
    -200-bottom {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0;
        transform:scale(-0.58,0.58);
    }

}

@-skrollr-keyframes animation2_1 {
    -50-bottom{
        opacity: 0;
        margin-left: -220px;
        margin-top: 30px;
        transform:scale(0.3);
    }
    
    -200-bottom {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0;
        transform:scale(1);
    }

}

@-skrollr-keyframes animation2_2 {
    -50-bottom{
        opacity: 0;
        margin-left: -160px;
        margin-top: -43px;
        transform:scale(0.3);
    }
    
    -200-bottom {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0;
        transform:scale(1);
    }

}

@-skrollr-keyframes animation3 {
    -70-bottom{
        opacity: 0;
        margin-left: 25px;
        transform:scale(0.3);
    }
    
    -200-bottom {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0;
        transform:scale(1);
    }

}

@-skrollr-keyframes animation4 {
    -130-bottom{
        opacity: 0;
        margin-left: -30px;
        margin-top: 20px;
        transform:scale(0.3);
    }
    
    -250-bottom {
        opacity: 1;
        margin-left: 0px;
        margin-top: 0;
        transform:scale(1);
    }

}
