@charset "utf-8";

/* ============================
	Base Structure
	Last Update 2007.6.22
 ============================ */
 
 /* disposal of IE6 */
body {

}

/* body design */
body {
	
	background-color: #fee7ef;
	color: #fff;
	background-image: url(../images/bg01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

.container{
	width:100%;
	background-color:#009999
}

.pic{
	background-image:url(../images/trip03_1.jpg);
	background-position:right;
	
}

#building {
}

/* building-box design */
#building {
	width:100%;
	margin-right:auto;
	margin-left:auto;
	padding: 0;
	color: #000;
}

/* ============================
	Module Structure - Level 1
	Last Update 2007.6.22
 ============================ */
 
#header {
	width:100%;
	float:left;
	padding: 0px;
	color: #ff0909;
	margin:auto;
	text-align:center;
}

#contents {
	margin-right:auto;
	margin-left:auto;
	width:988px;
	padding: 0px;
	color: #000;
}

#footer {
	width:100%;
	margin: 0;
	_margin: 0;
	padding: 0px;
	color: #000;
	text-align:center;
}

/* ============================
	Module Structure - Level 2
	float-box Layout
	Last Update 2007.6.22
 ============================ */


#contents #main {
	overflow:hillden;
	float: left;
	width: 710px;
	margin: 0;
	_margin: 0;
	padding: 0;
	color: #000;
	background-image:url(../images/bg02.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

#contents #main  #title{
	float: left;
	width: 681px;
	margin-left:29px;
	_margin-left:13px;
	text-align:left;
	height:38px;
	padding-top:10px;
	background-image:url(../images/line.gif);
	background-repeat: repeat-x;
	background-position:left;
}

#contents #main  #head{
	float: left;
	width: 645px;
	margin-left:29px;
	_margin-left:13px;
	padding-top:10px;
	padding-left:30px;
	padding-bottom:5px;
	background-image:url(../images/flower.gif);
	background-repeat:no-repeat;
	background-position: 0px 10px;
	color: #a60e63;
}


#contents #main  #head ol{
	list-style-type: decimal;
	width:660px;

	
}

#contents #main  #head ol li{
	padding-top:0px;
	padding-bottom:0px;
}

#contents #main  #head ol li p{
	padding-top:0px;
	padding-bottom:15px;
}


#contents #main  #head #box1{

	width:200px;
}

#contents #main  #head #box2{
	width:200px;

}


#contents #main  #head a{
	color: #a60e63;
	font-size: 18px;	
}

#contents #main  #head a:hover{
	color: #a60e63;
	font-size: 18px;
	text-decoration: underline;
}

#contents #main  #head #contents12{
	padding-left:18px;
		width:600px;
	
}

#contents #main  #head #contents12 ol{
	list-style-type:decimal;

	line-height:20px;
	padding-top:0px;
	padding-bottom:25px;
}

#contents #main  #head #contents12 ol li{
	text-align: justify;	
	width:620px;
}

#contents #main  #head #contents12 ol li p{
	line-height:20px;	

}

#contents #main  #head #contents12 p{
		line-height:30px;
		text-align: justify;
		
}


#contents #main  #head #contents12 ul{
	list-style-type: disc;
	width:630px;
	line-height:20px;
}

#contents #main  #head #contents12 ul li{
	padding-bottom:20px;

}

#contents #main  #head #contents12 ul li p{
	line-height:20px;
}


#contents #main  #video{
	float: left;
	width: 322px;
	height:267px;
	margin-left:29px;
	_margin-left:13px;
	padding-bottom:80px;
}

#contents #main #box{
	float:left;
	width:710px;
	}

#contents #main  #box #date {
	padding-left:25px;
	padding-bottom:10px;
	padding-top:10px;
	color: #a60e63;
	font-size: 18px;	
}

#contents #main  #box #pictures{
	float: left;
	width: 184px;
	height:180px;
	margin: 0;
	_margin: 0;
	padding-left:25px;
	padding-top:19px;
	background-image:url(../images/pic.jpg);
	background-position:right;
	background-repeat:no-repeat;
	font-size:12px;
}

#contents #main  #box #pictures #pic{
	float: left;
	width:145px;
	clear: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 17px;

}

#contents #main  #box #pictures a{
	color:#666;
	padding-right:15px;
	
	
}

#contents #main  #box #pictures a:hover{
	color:#666;
	text-decoration:underline;
	padding-right:15px;
	
}

#contents #sub  {
	float: left;
	width: 240px;
	margin: 0;
	_margin: 0;
	padding: 0;
	color: #000;
}

#footer {
	clear: both;
	background-image: url(../images/bg03.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/* disposal of float-box Layout [  clearfix ] */
#contents {
	/*\*/
	_overflow: visible;
	_height: 1px;
	zoom: 1;
	/**/
	/*\*//*/
	display: inline-table;
	/**/
}
#contents:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	margin: -1px 0 0 0;
}

/* ============================
	Module Structure - Level 3
	Last Update 2007.6.22
 ============================ */
 
 #header h1 {
	margin: 0;
	padding: 0;
}
 
  #header h2 {
	margin: 0;
	padding: 0;
}

 #header h3 {
	margin: 0;
	padding: 12px;
	text-align: right;
}


#contents ul {
	margin: 0;
	padding: 6px 0;
}

#contents h3 {
	margin: 0;
	padding: 6px 0;
}

#contents p {
	margin: 0;
	padding: 6px 0;
}

#footer address {
	margin: 0;
	padding: 0 12px 0 0;
	text-align: right;
}

/* ============================
	Module Structure - Level 4
	Last Update 2007.6.22
 ============================ */
 
#contents p.contribute {
	margin: 0 0 18px 0;
	_margin: 0 0 9px 0;
	padding: 4px 8px 4px 0;
	text-align: right;
}
