@charset "utf-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'PingFangTC-Regular';
    /* 定義你的字型名稱 */
    src: local('PingFangTC-Regular'), /* 如果user電腦已經有這個字型就用local的 */
    url('fonts/PingFangTC-Regular.otf') format('truetype');
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x:hidden;
    font-size: 100%;
    font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Airal !important;
}

table {
    font-size: 100%;
}

p {
    padding: 10px;
    line-height: 1.5;
    font-size: 1.4rem;
}

.xttl {
    display: block;
    width: 100%;
    clear:both;
}

.xttl:after {
    display: inline-block;
    margin: 16px 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 25%;
}
.xttl:before {
    display: inline-block;
    margin: 16px 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 25%;
}

img,
object,
embed,
video{
    width: 100%;
    max-width: 100%;
    border:0;
    outline: 0;
}

a, a:link, a:hover, a:active, a:visited{
    color: #783996;
    text-decoration: none;
}

h1,h2, h3 {
    color: #783996;
    font-weight: bold;
}

.clearfix {
    clear: both;
    margin: 2rem 0;
}

header {
    position: relative;
    z-index: 9999;
    top: 0px;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f1;
}

header.gray{
    background-color: #f2f2f1;
    border-bottom:0;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 414px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gohome-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    display: block;
    width: 85px;
    float: left;
    margin-left: -42.5px;
}

.gohome-btn img {
    width: 100%;
}

.footer-down {
    background-color: #FFF;
    height: auto;
    width: 100%;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 5px 0;
}

.footer-copy {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: .5rem 0;
    border-top: 1px solid #bbb;
    background-color: #fff;
    max-width: 414px;
}

.copy {
    color: #bbb;
    font-size: 70%;
    line-height: 1.5em;
    padding: unset;
}

.footer-copy a, .footer-copy a:link, .footer-copy a:hover, .footer-copy a:active, .footer-copy a:visited{
    color: #bbb;
    text-decoration: none;
}

/* 行動版面: 480px 以下。 */

.gridContainer {
    position: relative;
    width: 100%;
    max-width: 414px;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}

.content{
    position: relative;
}

.floatlayer {
    position: absolute;
    top: .5rem;
    right: .5rem;
    text-align: right;
    z-index: 9999;
}

.shareb {
    width: 2.25rem;
    margin-right: .25rem;
}

h1{
    font-size: 180%;
}
h2{
    font-size: 150%;
}
h3{
    font-size: 125%;
}

.mainttl{
    text-align: center;
    clear: both;
    padding: .5rem 0;
    font-weight: bold;
}

.subttl{
    font-weight: 700;
    padding: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    clear:both;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo_amway {
    width: auto;
    height: 34px;
    vertical-align: middle;
}
@media (max-width: 480px){
    .footer-down {
        font-size: 12px;
    }
    .logo_amway, .footer_logo {
    height: 20px;
    }
}

.css-table {
  display: flex;
  width:100%;
  text-size-adjust:none;
  -webkit-text-size-adjust:none;
  font-size:10pt;
  text-align: center;
}

.css-table .bkgray {
    background: #eee;
}

.css-table .thead {
    display: flex;
    flex-direction: column;
    background: #000;
    color:#fff;
}

.css-table .tbody {
    display: flex;
    flex:1;
    flex-direction: column;
}

.css-table .tr {
    display: flex;
}

.css-table .thead .tr{
    flex-basis: 100%;
}

.css-table .thead .td{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border:1px solid white;
  width:24px;
}

.css-table .tbody .td,
.css-table .tbody .td0,
.css-table .tbody .td4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border:1px solid white;
}

.css-table .tbody .td1,
.css-table .tbody .td2,
.css-table .tbody .td3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border:1px solid white;
  height: 100%;
}

.css-table .tbody .td {
  flex-basis: 25%;
}

.css-table .tbody .td0 {
  flex-basis: 45px;
}

.css-table .tbody .td1 {
  flex-basis: 25%;
  flex-direction: column;
}

.css-table .tbody .td2 {
  flex-basis: 50%;
}

.css-table .tbody .td3 {
  flex-basis: 55%;
}

.css-table .tbody .td4 {
  flex-basis: calc(100% - 45px);
}
