@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 170%;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
	position:relative;
	top:0px;
	left:0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-attachment: scroll;
	background-image: url(image/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #165f97;

SCROLLBAR-ARROW-COLOR: #165f97;
 SCROLLBAR-FACE-COLOR: #699abd;
 SCROLLBAR-DARKSHADOW-COLOR: #165f97;
 SCROLLBAR-BASE-COLOR: #165f97;
 SCROLLBAR-HIGHLIGHT-COLOR: #165f97;
 SCROLLBAR-SHADOW-COLOR: #165f97;
 SCROLLBAR-TRACK-COLOR: #165f97;
 SCROLLBAR-3DLIGHT-COLOR: #165f97;

}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 170%;
	color: #ffffff;
	
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 170%;
	color: #b0e0ff;
	letter-spacing: 1px;
	text-decoration: underline;
}
a:hover {
	font-size: 13px;
	color: #b0e0ff;
	text-decoration: underline;
	letter-spacing: 1px;
	line-height: 170%;
	

}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFCC00;
}
.txt2 {
	font-size: 14px;
	font-weight: bold;
	color: #88D7D7;
}
.txt3 {
	font-size: 14px;
	font-weight: bold;
	color: #0E4169;
}
.txt4 {
	font-size: 12px;
	color: #FFFFFF;
	line-height: normal;
}
.photo_1 {
	background-image: url(5_news_report/images/photo01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
	height: 239px;
	width: 201px;
}

.photo_2 {
	background-image: url(5_news_report/images/photo02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
	height: 239px;
	width: 201px;
}

.photo_3 {
	background-image: url(5_news_report/images/photo03.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
	height: 239px;
	width: 201px;
}
.photo_4 {
	background-image: url(5_news_report/images/photo04.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
	height: 239px;
	width: 201px;
}
.footer_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3388b0;
}

.footer_txt a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3388b0;
    text-decoration: underline;
}

.footer_txt a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3388b0;
    text-decoration: none;
}
.article_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3388b0;
}

.article_right a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3388b0;
	text-decoration: underline;
}

.article_right a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3388b0;
	text-decoration: underline;
}


.all_bg {
	background-attachment: scroll;
	background-image: url(image/bg/bg_all.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.index_bg1 {
	background-attachment: scroll;
	background-image: url(image/bg/index_bg_01.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.index_bg2 {
	background-attachment: scroll;
	background-image: url(image/bg/index_bg_03.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.txt5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFCC00;
}
