    body {
        margin: 0;
        padding: 0;
        background: #f29b84;
        font-size: 100%;
        letter-spacing: 1px;
    }

    .AAleft span {
        background-color: #ab120e !important;
        color: #fff !important;
        padding: 0 .5rem;
        border-radius: 30px;
    }

    .phone {
        display: block;
    }

    .pc {
        display: none;
    }

    .noshow {
        display: none;
    }

    @media (min-width: 600px) {
        .phone {
            display: none;
        }

        .pc {
            display: block;
        }
    }


    .arrow {
        position: fixed;
        bottom: 6%;
        left: 50%;
        margin-left: -20px;
        z-index: 9;
    }

    .bc {
        -webkit-animation-name: bounce;
        -moz-animation-name: bounce;
        -o-animation-name: bounce;
        animation-name: bounce;
    }

    .animates {
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-fill-mode: both;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -ms-animation-duration: 2s;
        -o-animation-duration: 2s;
        animation-duration: 2s;
    }

    @-webkit-keyframes bc {

        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
        }
    }

    @-moz-keyframes bc {

        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
        }

        40% {
            -moz-transform: translateY(-30px);
        }

        60% {
            -moz-transform: translateY(-15px);
        }
    }

    @-o-keyframes bc {

        0%,
        20%,
        50%,
        80%,
        100% {
            -o-transform: translateY(0);
        }

        40% {
            -o-transform: translateY(-30px);
        }

        60% {
            -o-transform: translateY(-15px);
        }
    }

    @keyframes bc {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }

    #LayoutDiv2 {
        -webkit-animation-duration: 3s;
        /*动画持续时间*/
        -webkit-animation-iteration-count: 1;
        /*动画次数*/
        -webkit-animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
    }


    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            opacity: 0;
        }

        to {
            -webkit-transform: rotate(360deg);
            opacity: 1;
        }
    }

    @-moz-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            opacity: 0;
        }

        to {
            -webkit-transform: rotate(360deg);
            opacity: 1;
        }
    }
    }

    @-o-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            opacity: 0;
        }

        to {
            -webkit-transform: rotate(360deg);
            opacity: 1;
        }
    }

    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            opacity: 0;
        }

        to {
            -webkit-transform: rotate(360deg);
            opacity: 1;
        }
    }

    #rays {
        position: absolute;
        z-index: 2;
        overflow-x: hidden;
        background: url(img/rays.png) 0 0 no-repeat;
        width: 309px;
        height: 309px;

        -webkit-animation-name: spin;
        -moz-animation-name: spin;
        -o-animation-name: spin;
        animation-name: spin;

        -webkit-animation-duration: 20000ms;
        -moz-animation-duration: 20000ms;
        -o-animation-duration: 20000ms;
        animation-duration: 20000ms;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;

        animation-timing-function: linear !important;
    }

    .linkbutton {
        background-color: #ab120e;
        width: 100%;
        padding: 10px 0px 10px 0px !important;
        color: #FFF;
        text-align: center;
        text-decoration: none;
        letter-spacing: 3px;
        position: fixed;
        bottom: 0px;
        z-index: 999;
    }

    a,
    a:link,
    a:hover,
    a:visited {
        color: #FFF;
        text-decoration: none;
    }

    .empha{
        display: inline;
        font-weight: bold;
        color: blue;
        letter-spacing: 0;
    }