@charset "utf-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


body {
    font-size: 100%;
    font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Airal !important;
    overflow-x: hidden;
}

p {
    padding: 0 5%;
    line-height: 2;
    -webkit-margin-before: 1rem;
    -webkit-margin-after: 1rem;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 90%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 3px 6px;
    vertical-align: middle;
}

.bigpad th,
.bigpad td {
    padding: 6px;
}

th.noborder {
    border: 0;
    font-size: 90%;
    padding-bottom: .5rem;
}

th.noborder>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: calc(100% + 6px);
    height: 40px;
    background: #8cb81b;
    margin-left: -3px;
    font-size: 80%;
    color: #fff;
    line-height: 1.5;
}

th.noborder>div::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -10px;
    display: block;
    width: 30px;
    height: 10px;
    background: url(img/arrow-down.svg) 100% 100% no-repeat;
}

ul  {
    padding-inline-start: 1.5rem;
}

@media (min-width: 769px) {
    ul {
        padding-inline-start: 40px;
    }
}

li {
    line-height: 1.5;
    margin: 0 1.5rem 1rem 1.5rem;
    letter-spacing: 1px;
    text-align: justify;
}

@media (min-width: 769px) {
    li {
        margin-right: unset;
    }
}



big {
    font-size: 105%;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 5px;
}

small {
    font-size: 90%;
    letter-spacing: 0;
    white-space: nowrap;
}

.small {
    letter-spacing: 0;
    white-space: nowrap;
}

@media (min-width: 415px) {
    p {
        padding: 10px 30px;
    }
}

img,
object,
embed,
video,
iframe {
    max-width: 100%;
    border: 0;
    outline: 0;
    margin: 0 auto;
}

@media (min-width: 415px) {
    img {
        max-width: 414px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
    color: #000000;
    text-decoration: none;
}

ul.a {
    list-style-type: disc;
}

ul.b {
    list-style-type: circle;
}

ul.c {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}

ul.a li {
    line-height: 1.5;
}

.hl {
    display: inline;
    background-color: yellow;
    color: red;
}

.css-table {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 10px 30px;
    border: 1px solid #000;
}

.tr {
    display: flex;
}

.td {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: .5rem;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.yellow {
    background: rgb(255, 242, 204);
}

.green {
    background: rgba(221, 237, 198, 0.43);
}

.orange {
    background: rgb(251, 228, 213);
}

.td.left {
    align-items: flex-start;
}

.nobdr {
    border-right: 0;
}

.nobdm {
    border-bottom: 0;
}


.clearfix {
    clear: both;
    margin: 2rem 0;
}

#head {
    display: none;
}

.logo {
    float: left;
}

@media(max-width: 414px) {
    .css-table {
        margin: unset;
    }

    .logo {
        display: none;
    }

    #head {
        display: block;
        width: 100%;
        background: url(img/logo.gif) #FFFFFF no-repeat center center;
        text-align: right;
        padding-top: 15px;
        margin: 0;
        height: 70px;
        position: relative;
        top: 0;
        border-bottom: 1px solid #EFEFEF;
    }

    blockquote {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .td {
        font-size: 90%;
        padding: .25rem;
        align-items: flex-start;
    }

    .css-table .tr .td:nth-child(2) {
        width: 17%;
    }
}


.wrapper {
    position: relative;
    width: 100%;
    max-width: 414px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gohome-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    display: block;
    width: 85px;
    float: left;
    margin-left: -42.5px;
}

.gohome-btn img {
    width: 100%;
}

.footer-down {
    background-color: #FFF;
    height: auto;
    width: calc(100% - 20px);
    color: #5f5f5f;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.footer-copy {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: .5rem 0;
    border-top: 1px solid #bbb;
    background-color: #fff;
}

.copy {
    color: #bbb;
    font-size: 70%;
    line-height: 1.5em;
    padding: unset;
}

.footer-copy a,
.footer-copy a:link,
.footer-copy a:hover,
.footer-copy a:active,
.footer-copy a:visited {
    color: #bbb;
    text-decoration: none;
}

/* 行動版面: 480px 以下。 */

.gridContainer {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .gridContainer {
        max-width: 800px;
        padding-top: 2rem;
    }
}

.content {
    position: relative;
}

.floatlayer {
    position: absolute;
    top: 100px;
    right: .5rem;
    z-index: 9999;
    line-height: .5;
}

.shareb {
    width: 2.25rem;
    margin-right: .25rem;
}

h1 {
    font-size: 180%;
    line-height: 150%;
    text-align: center;
}

h2 {
    font-size: 150%;
    line-height: 150%;
    text-align: center;
}

h3 {
    font-size: 125%;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    margin: 1rem 0;
}

.mainttl {
    text-align: center;
    clear: both;
    padding: .5rem 0;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.subttl {
    font-weight: 700;
    padding: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    clear: both;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo_amway {
    width: auto;
    height: 34px;
    vertical-align: middle;
}

@media (max-width: 480px) {
    .footer-down {
        font-size: 12px;
    }

    .logo_amway,
    .footer_logo {
        height: 20px;
    }
}



ul.decimal {
    list-style: decimal;
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
}

ul.decimal>li {
    margin: 1rem 0;
}