body,
html {
    margin: 0;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343434;
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
}

li,
ol,
p,
ul {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.tooltip {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5
}

.tooltip>.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 16px;
    text-align: center;
    font-size: 9px;
    position: absolute;
    right: 0;
    bottom: 2rem;
    padding: 0;
    margin: 0;
}

.tooltip .find {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 43, 43, 0.9);
    height: 40px;
    padding-left: 25px;
}

.tooltip .find .closed {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    text-align: center;
    width: 25px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, .7);
    color: #fff
}

.tooltip .find .list {
    clear: both;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.tooltip .find .list:after,
.tooltip .find .list:before {
    content: '';
    display: table
}

.tooltip .find .list>li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    overflow: hidden;
    text-align: center;
}

.tooltip .find .list>li>a {
    text-align: center;
    color: #fff;
    font-size: 1em;
    width: 80%;
    line-height: 24px;
    height: 24px;
    border-radius: 20px;
}

.tooltip .find .list>li.active>a {
    background-color: #ffa03b
}

.tooltip .find .list>li>a>span {
    display: inline-block;
    vertical-align: middle;
    color: #bbb;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    letter-spacing: 1px
}

.tooltip .find .list>li.active>a>span {
    color: #fff;
}

.tooltip .find.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0)
}

.hide {
    display: none !important;
}