<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogConfig" type="wwwins.Lib.Common.LogConfig, wwwins.Lib.Common" />
    <section name="LibConfig" type="wwwins.Lib.Common.LibConfig, wwwins.Lib.Common" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> 
  </configSections>
  <LogConfig LogFolder="D:\DevSites\KeyAccounts\Amway\official\WebSites\youngmom\logs" AppName="youngmom" MailOn="false" MailTo="" MailSender="" SenderName="youngmom" MailSubject="[youngmom UAT]前台系統錯誤通知" />
  <LibConfig configSource="app_data\LibConfig.xml" />
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="DBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.180.161.68;initial catalog=YMbackend;persist security info=True;user id=YMbackendUser;password=556.YYa@;Max Pool size=200;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
     	<add key="AmwayＷebServiceLoginUrl" value="http://127.0.0.1/AmwayAppService/InterfaceMobileHubV2.ashx"/>
      <add key="FBGroupURL" value="https://www.facebook.com/groups/185540838524279/" />
      <add key="AmwayOCRApiURL" value="http://amwaytwyoungma.cloudapp.net/AmwayOCRWebApiHost/api/AmwayOCRApi" />
    </appSettings>

    <system.web>
      <customErrors mode="Off" defaultRedirect="/help/500.aspx" redirectMode="ResponseRewrite">
        <error statusCode="404" redirect="/help/404.aspx" />
      </customErrors>
      <compilation debug="true" targetFramework="4.0" defaultLanguage="C#">
        <assemblies>
          <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </assemblies>
      </compilation>
      <pages pageBaseType="AmwayCampaignPageBase">
        <namespaces>
          <add namespace="System.Linq" />
          <add namespace="System.Data.Entity" />
          <add namespace="wwwins.Lib.Common" />
        </namespaces>
      </pages>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/help/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/help/500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>