/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Tahoma, sans-serif;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background: url(../img/bg_sm.png) #fafafa no-repeat;
    background-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: url(../img/bg_sm@2x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    body {
        background: url(../img/bg_sm@3x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}

.ssfooter {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #fefefe;
    font-size: 90%;
    letter-spacing: 1px;
}

.ssfooter div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.ssfooter p {
    text-align: center;
    line-height: 1.5;
    font-size: 90%;
}

.ssfooter a,
.ssfooter a:link,
.ssfooter a:hover,
.ssfooter a:visited,
.ssfooter a:active {
    color: #fefefe;
    text-decoration: none;
    padding: 0 1rem;
}

button {
    cursor: pointer;
    padding: 0;
    outline: 0;
    border: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.livenav .wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
}

.livenav .logo {
    display: inline-flex;
    width: 104px;
    height: 36px;
    background: url(../img/livelogo.png) no-repeat;
    background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .livenav .logo {
        background: url(../img/livelogo@2x.png) no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .livenav .logo {
        background: url(../img/livelogo@3x.png) no-repeat;
        background-size: 100%;
    }
}

.livenav .menu {
    display: none;
}

.livenav .menu>a>i {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-image: url(../img/menu1.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: .3rem;
}

.livenav .menu>a:nth-child(2)>i {
    background-image: url(../img/menu2.svg);
}

.livenav .menu>a:nth-child(3)>i {
    background-image: url(../img/menu3.svg);
}

.livenav .menu>a:nth-child(4)>i {
    background-image: url(../img/menu4.svg);
}

.livenav .menu>a:nth-child(5)>i {
    background-image: url(../img/menu5.svg);
}

.livenav .toggler {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    outline: none;
}

.livenav .toggler i {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../img/toggler.svg) no-repeat;
    background-size: 100%;
}

.responsive .livenav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(27, 19, 55, .9);
    z-index: 9999;
}

.responsive .livenav .toggler i {
    background: url(../img/closew.svg) no-repeat;
}

.responsive .livenav .menu {
    position: fixed;
    left: 0;
    top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(27, 19, 55, .9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
    margin: 0 1rem 1rem 0rem;
    z-index: 9999;
}

.responsive .livenav .menu>a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3.8rem;
    color: #fff;
    font-size: 80%;
    text-decoration: none;
    background-color: rgba(124, 37, 210, 0.3);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -mos-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: .5rem;
}

.responsive .livenav .menu>a>i {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: unset;
    margin-bottom: .5rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}

.livecontent {
    display: flex;
    width: 100%;
}

.download_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 10rem;
}

.responsive .download_wrap {
    margin-top: 36px;
}

.app {
    display: inline-flex;
    width: 97px;
    height: 25px;
    background: url(../img/apple.png) no-repeat;
    background-size: 100%;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: .5rem;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .app {
        background: url(../img/apple@2x.png) no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .app {
        background: url(../img/apple@3x.png) no-repeat;
        background-size: 100%;
    }
}

.android {
    display: inline-flex;
    width: 97px;
    height: 25px;
    background: url(../img/android.png) no-repeat;
    background-size: 100%;
    margin-left: 2rem;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .android {
        background: url(../img/android@2x.png) no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .android {
        background: url(../img/android@3x.png) no-repeat;
        background-size: 100%;
    }
}


.livecontent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.livecontent .ttl {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    letter-spacing: 1px;
}

.livecontent .ttl h1 {
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    color: #7c25d2;
    font-size: 120%;
}

.livecontent .ttl h1::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/fire.svg) no-repeat;
    background-size: 100%;
    margin-right: .5rem;
}

.livecontent .recommand {
    flex-direction: column;
    align-items: center;
}

.lset {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.rset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    position: relative;
    display: inline-flex;
    width: 140px;
    height: 140px;
    margin-bottom: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-size: 80%;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: url(../img/boxmask.png) no-repeat;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box .live {
    position: absolute;
    top: .5rem;
    left: .15rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 26px;
    background: url(../img/boxicon1.png) no-repeat;
    color: #fff;
    font-size: 9pt;
    text-indent: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .box .live {
        background: url(../img/boxicon1@2x.png) no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .box .live {
        background: url(../img/boxicon1@3x.png) no-repeat;
        background-size: 100%;
    }
}


.box .view {
    position: absolute;
    top: .5rem;
    left: .15rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 26px;
    background: url(../img/boxicon2.png) no-repeat;
    color: #7c25d2;
    font-size: 9pt;
    text-indent: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .box .view {
        background: url(../img/boxicon2@2x.png) no-repeat;
        background-size: 100%;
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .box .view {
        background: url(../img/boxicon2@3x.png) no-repeat;
        background-size: 100%;
    }
}


.box .ssinfo {
    position: absolute;
    color: #fff;
    z-index: 3;
    flex-direction: column;
    bottom: .5rem;
    left: .25rem;
}

.box .ssinfo .name,
.box .ssinfo .info {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 12px;
    line-height: 12px;
    margin-bottom: .5rem;
    font-size: 75%;
}

.box .ssinfo .name::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../img/heart.svg) no-repeat;
    margin-right: .25rem;
}

.box .hashtag {
    position: absolute;
    color: #fff;
    z-index: 3;
    bottom: 1rem;
    left: .25rem;
    color: #ffddad;
    font-size: 90%;
}

.box img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
}

.recommand .lset .box {
    display: inline-flex;
    width: 295px;
    height: 295px;
    font-size: 100%;
}

.recommand .lset .box::before {
    background: url(../img/boxmask2.png);
}

.recommand .lset .box .view {
    top: 2.25rem;
}

.recommand .lset .box .ssinfo {
    bottom: 2rem;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: .5rem;
}

.recommand .lset .box .ssinfo .name,
.recommand .lset .box .ssinfo .info {
    display: inline;
    align-items: center;
    max-width: 50%;
    margin-bottom: unset;
}

.recommand .lset .box .ssinfo .name::before {
    position: relative;
    top: 3px;
}

.recommand .lset .box .ssinfo .name::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: white;
    margin-left: 12px;
    margin-right: 8px;
}

.recommand .lset .box .ssinfo .info {
    font-size: 90%;
}

.liveaside {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.liveaside::before {
    content: "";
    position: absolute;
    top: -57%;
    width: 100%;
    height: 38rem;
    background: url(../img/bgx.png) no-repeat;
    background-size: 100%;
    z-index: 0;
}

.liveaside .ttl {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    letter-spacing: 1px;
    background-color: transparent;
}

.liveaside .ttl h1,
.liveaside .ttl .panel {
    display: inline-flex;
    align-items: center;
    color: #7c25d2;
}

.liveaside .ttl h1 {
    font-size: 120%;
    margin-left: 1rem;
}

.liveaside .ttl .panel {
    font-size: 90%;
    margin-right: 2rem;
}

.liveaside .ttl h1::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/crown.svg) no-repeat;
    background-size: 100%;
    margin-right: .5rem;
}

.liveaside .ttl .panel a,
.liveaside .ttl .panel a:link,
.liveaside .ttl .panel a:hover,
.liveaside .ttl .panel a:visited,
.liveaside .ttl .panel a:active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #7c25d2;
    text-decoration: none;
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid #7c25d2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.liveaside .ttl .panel a:hover,
.liveaside .ttl .panel a:active {
    background: #7c25d2;
    color: #fff;
    border: 0;
}

.liveaside .wrap {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 5px;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.liveaside .wrap .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
}

.liveaside .wrap .row:last-child {
    border-bottom: 0;
}

.liveaside .wrap .row>.rank {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 45px;
    color: #333;
    font-size: 90%;
}

.liveaside .wrap .row:nth-child(1)>.rank {
    background: url(../img/ribbon1.svg) no-repeat;
}

.liveaside .wrap .row:nth-child(2)>.rank {
    background: url(../img/ribbon2.svg) no-repeat;
}

.liveaside .wrap .row:nth-child(3)>.rank {
    background: url(../img/ribbon3.svg) no-repeat;
}

.liveaside .wrap .row:nth-child(4)>.rank::before {
    content: "4";
}

.liveaside .wrap .row:nth-child(5)>.rank::before {
    content: "5";
}

.liveaside .wrap .row:nth-child(6)>.rank::before {
    content: "6";
}

.liveaside .wrap .row:nth-child(7)>.rank::before {
    content: "7";
}

.liveaside .wrap .row:nth-child(8)>.rank::before {
    content: "8";
}

.liveaside .wrap .row:nth-child(9)>.rank::before {
    content: "9";
}

.liveaside .wrap .row:nth-child(10)>.rank::before {
    content: "10";
}


.liveaside .wrap .row {
    color: #333 !important;
    text-decoration: none !important;
    clear: both;
}

.liveaside .wrap .row div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    height: 33px;
}

.liveaside .wrap .row div>span:first-child {
    font-size: 90%;
}

.liveaside .wrap .row div .view {
    font-size: 80%;
    color: #7c25d2;
}

.liveaside .wrap .row div .view::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 13px;
    background: url(../img/sfire.svg) no-repeat;
    margin-right: .25rem;
}

.liveaside .wrap .row img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

@media (min-width: 350px) {

    body {
        background: url(../img/bg_md.png) #fafafa no-repeat;
        background-size: 100%;
    }

    .responsive .livenav .menu>a {
        width: 20%;
        height: 4.5rem;
        font-size: 90%;
    }

    .download_wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 10rem;
    }

    .app {
        margin-bottom: unset;
        margin-top: 4.5rem;
        margin-left: 2.5rem;
        margin-right: .5rem;
    }

    .android{
        margin-top: 4.5rem;
        margin-left: unset;
    }

    .box {
        width: 160px;
        height: 160px;
    }

    .box .live {
        left: .25rem;
    }

    .box .view {
        left: .25rem;
    }

    .box .ssinfo {
        left: .5rem;
    }

    .box .ssinfo .name,
    .box .ssinfo .info {
        font-size: 80%;
    }

    .box .hashtag {
        left: .5rem;
    }

    .recommand .lset .box {
        width: 340px;
        height: 340px;
    }
}


@media (min-width: 350px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: url(../img/bg_md@2x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}

@media (min-width: 350px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background: url(../img/bg_md@3x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}


@media (min-width: 400px) {

    body {
        background: url(../img/bg_lg.png) #fafafa no-repeat;
        background-size: 100%;
    }

    .livenav .wrap {
        height: 40px;
    }

    .responsive .livenav .menu {
       top: 40px;
    }

    .responsive .livenav .menu>a {
        height: 5rem;
    }

    .responsive .download_wrap {
        margin-top: 40px;
    }

    .app {
        margin-top: 5rem;
    }

    .android{
        margin-top: 5rem;
    }

    .box {
        width: 165px;
        height: 165px;
    }

    .recommand .lset .box {
        width: 360px;
        height: 360px;
    }

    .box .ssinfo .name,
    .box .ssinfo .info {
        font-size: 90%;
        height: 16px;
        line-height: 16px;
    }

    .box .ssinfo .name::before {
        width: 16px;
        height: 16px;
    }

    .livecontent .ttl h1,
    .liveaside .ttl h1 {
        font-size: 120%;
        margin-left: 2rem;
    }

    .liveaside .wrap .row {
        width: 90%;
    }

    .liveaside .wrap .row div {
        width: 14rem;
    }
}

@media (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: url(../img/bg_lg@2x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}

@media (min-width: 400px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background: url(../img/bg_lg@3x.png) #fafafa no-repeat;
        background-size: 100%;
    }
}

@media (min-width: 480px) {

    .download_wrap {
    }

    .app {
        margin-bottom: unset;
        margin-top: 6rem;
        margin-left: 3rem;
        margin-right: .5rem;
    }

    .android{
        margin-top: 6rem;
        margin-left: unset;
    }

    .box {
        width: 180px;
        height: 180px;
    }

    .recommand .lset .box {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 768px) {

    .livenav {
        background-color: rgba(27, 19, 55, .9);
    }

    .livenav .wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 89px;
        margin: 0 auto;
        overflow: hidden;
        padding-left: unset;
        padding-right: unset;
    }

    .livenav .logo {
        display: inline-flex;
        width: 258px;
        height: 89px;
        background: url(../img/livelogo.png) no-repeat;
    }

    .livenav .menu {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .livenav .menu>a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        font-size: 90%;
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        border-right: 1px solid white;
    }

    .livenav .menu>a:last-child {
        border-right: none;
    }

    .livenav .menu>a:hover {
        color: white;
    }

    .livenav .menu>a.active {
        color: white;
    }


    .livenav .toggler {
        display: none;
    }
    .download_wrap {
        height: 14.8rem;
        padding-left: 5rem;
        padding-bottom: 10rem;
    }

    .app {
        display: inline-flex;
        width: 194px;
        height: 50px;
        background: url(../img/apple.png) no-repeat;
        margin-bottom: unset;
        margin-right: 10px;
    }

    .android {
        display: inline-flex;
        width: 194px;
        height: 50px;
        background: url(../img/android.png) no-repeat;
    }

    .row {
        justify-content: center;
        margin-bottom: 10px;
    }

    .box {
        width: 175px;
        height: 175px;
    }

    .recommand .lset .box {
        width: 360px;
        height: 360px;
    }

    .livecontent {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 730px;
        margin: 0 auto;
    }

    .livecontent .row {
        justify-content: space-between;
    }

    .livecontent .ttl {
        justify-content: flex-start;
        padding-left: unset;
    }

    .livecontent .recommand {
        flex-direction: row;
    }

    .lset {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 360px;
        height: 360px;
    }
    .rset {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 360px;
        height: 360px;
        margin-left: 5px;
    }
}


@media (min-width: 996px) {
    body {
        background: url(../img/bg.jpg) no-repeat;
        background-position: center top;
    }
    .hidden-lg {
        display: none;
    }

    .livenav {
        background-color: transparent;
    }

    .livenav .wrap {
        height: 120px;
    }

    .livenav .menu {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 567px;
    }
    .download_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 360px;
        margin: 0 auto;
        overflow: hidden;
        padding-left: unset;
        padding-top: unset;
    }

    .app {
        margin-left: 106px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 80px;
    }

    .livecontent {
        margin: unset;
    }

    .livecontent .ttl h1 {
        margin-left: .5rem;
        color: #fff;
        font-size: 100%;
    }

    .livecontent .ttl h1::before {
        background: url(../img/firew.svg) no-repeat;
    }

    .box {
        width: 175px;
        height: 175px;
        margin-bottom: 8px;
        border-radius: 5px;
    }

    .box::before {
        height: 102px;
    }

    .box .live {
        top: .5rem;
        left: .5rem;
    }

    .box .view {
        top: .5rem;
        left: .5rem;
    }

    .box .ssinfo {
        bottom: .5rem;
        left: .8rem;
    }

    .box .hashtag {
        bottom: 1rem;
        left: .8rem;
    }

    .recommand .lset .box {
        display: inline-flex;
        width: 360px;
        height: 360px;
        font-size: 100%;
    }

    .liveaside {
        width: 270px;
        margin-top: unset;
        margin-left: 10px;
        margin-right: 10px;
    }

    .liveaside .ttl h1,
    .liveaside .ttl .panel {
        margin-left: .5rem;
        margin-right: .5rem;
        color: #fff
    }

    .liveaside .ttl h1 {
        font-size: 100%;
    }

    .liveaside .ttl h1::before {
        background: url(../img/crownw.svg) no-repeat;
    }


    .liveaside .ttl .panel a,
    .liveaside .ttl .panel a:link,
    .liveaside .ttl .panel a:hover,
    .liveaside .ttl .panel a:visited,
    .liveaside .ttl .panel a:active {
        color: #fff;
        text-decoration: none;
        border: none;
    }

    .liveaside .ttl .panel a:hover,
    .liveaside .ttl .panel a:active {
        color: #fff;
        background: transparent;
    }

    .liveaside .wrap .row {
        width: 100%;
        margin: unset;
    }

    .liveaside .wrap .row div {
        width: 150px;
    }
}

@media (min-width: 1025px) {

    .download_wrap {
        width: 1080px;
        height: 360px;
    }


    .app {
        margin-left: 160px;
    }

    .livenav .wrap {
        justify-content: space-between;
        width: 1080px;
    }


    .container {
        justify-content: center;
        width: 1080px;
    }
}