<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>排列五-排列五规则|排列五玩法|排列五介绍-星城体育彩票百科</title>
    <meta name="keywords" content="排列五, 数字彩">
    <meta name="description" content="排列五是从00000—99999中选择一组五位数字进行投注的数字彩游戏，由国家体育总局体育彩票管理中心统一发行，在全国范围内进行联合销售。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="http://news.xincastle-sports.com/">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/1494304ccc8aa06a13e96f6d11c97971.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>排列五</h2>
            <div class="synonym"> <span class="synonym-box">同义词</span> <span>五位数字排列</span></div>
            <p>排列五是从00000—99999中选择一组五位数字进行投注的数字彩游戏，由国家体育总局体育彩票管理中心统一发行，在全国范围内进行联合销售。</p>
            <a class="bshare-more myshare hide" title="排列五" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票发行与销售管理暂行规定》和《体育彩票发行与销售管理暂行办法》，制定了排列五的相关规则。排列5电脑体育彩票由国家体育总局体育彩票管理中心统一发行，在全国范围内采用计算机网络系统进行联合销售。实行自愿购买原则，凡购买该彩票者即被视为同意并遵守本规则。</p>
                        <p>购买者可在全国各省（区、市）体育彩票管理中心设置的投注站进行投注。投注号码可由投注机随机产生，也可通过投注人自选确定投注号码。投注号码经系统确认后打印出的兑奖凭证即为“排列5”电脑体育彩票，交购买者保存。“排列5”每注2元人民币。</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p style="white-space: normal;">与排列三不同的是，排列五只有一个奖级，所选号码与中奖号码全部相同且顺序一致即中奖，奖金每注100000元。</p>
                        <p style="white-space: normal;">排列五只有一个奖级，所选号码与中奖号码全部相同且顺序一致即中奖，奖金单注100000元。例如：中奖号码为87656，则排列5的中奖结果为：87656。
                            <br>
                        </p>
                        <p style="white-space: normal;">&nbsp;“排列5”按每期销售总额的50%计提奖金,计提奖金分为当期奖金和调节基金，其中49%为当期奖金，1%为调节基金。</p>
                        <p style="white-space: normal;">“排列5”设置奖池，奖池由当期奖金与实际中出奖金的差额累计而成。若当期奖金大于当期中出奖金时，余额滚入奖池；若当期奖金小于当期中出奖金时，差额用奖池补足；若奖池不足时，用调节基金补足，调节基金不足时，从发行经费中垫支。调节基金还包括弃奖收入和逾期未退票的票款。调节基金专项用于支付各种不可预见情况下的奖金支出风险以及设立特别奖。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p style="white-space: normal;">“排列5”每天开奖一次，摇奖过程在公证人员监督下进行，通过电视台播出。</p>
                        <p style="white-space: normal;">“排列5”单独摇奖，其中奖号码为全国联网电脑体育彩票排列5当期摇出的全部中奖号码。
                            <br>
                        </p>
                        <p style="white-space: normal;">每期开奖后，国家体育总局体育彩票管理中心需将中奖号码、当期销售总额、各奖等中奖情况以及奖池资金余额等信息，通过新闻媒体向社会公布，并将开奖结果通知各销售终端。
                            <br>
                        </p>
                        <p style="white-space: normal;">当期每注彩票只有一次中奖机会，不得兼中兼得，另行设立的特别奖项除外的。
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p style="white-space: normal;">“排列5”兑奖当期有效。每期自开奖次日起60天为兑奖期，逾期未兑奖者，视为弃奖同时奖金将纳入调节基金。</p>
                        <p style="white-space: normal;">兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。凡伪造、涂改中奖彩票，冒领奖金者，送交司法机关追究法律责任。
                            <br>
                        </p>
                        <p style="white-space: normal;">根据国家个人所得税的相关规定，单注奖金大于1万需要缴纳20％的个人所得税，由兑奖机构依法代扣代缴。
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p style="white-space: normal;">1、奇偶：1、3、5、7、9为奇，0、2、4、6、8为偶。按位置可分为第一位奇偶、第二位奇偶、第三位奇偶、第四位奇偶、第五位奇偶。</p>
                        <p style="white-space: normal;">2、胆码：胆码是指当期号码的必出码(也叫金号、金码)，胆码分单码和两码。如果能确定当期的单码和两码就能大大杀掉一些多余的号码，以减少投注的数量，降低成本；但如果定的胆码出错则满盘皆输。
                            <br>
                        </p>
                        <p style="white-space: normal;">3、遗漏值：把每个数字没出现的期数值统称为遗漏值。
                            <br>
                        </p>
                        <p style="white-space: normal;">4、和值与合值：和值与合值是很重要的2个术语，和值表示某些数的总和，比如：号码和值就是把这个号码的数字相加的总和。55467的和值就是27。合值一般都是表示某个参数值的个位数字，也就是和值尾，比如：55467的合值就是7。
                            <br>
                        </p>
                        <p style="white-space: normal;">5、跨度：当期开奖号码中最大号减最小号的值为跨度，也叫首尾边距(对组选号码来说的)，其最大边距为9，最小边距为0。如开奖号码为32357，7-2=5，那么跨度值为5。
                            <br>
                        </p>
                        <p style="white-space: normal;">6、振幅：振幅是指本期开奖号码与上期开奖号码按位比较的差值的绝对值。
                            <br>
                        </p>
                        <p style="white-space: normal;">
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p style="white-space: normal;">1、排列五每天一期（除春节假期之外）</p>
                        <p style="white-space: normal;">2、排列五只设一个奖级，五位数字相同并且顺序一致即中奖，奖金单注100000元
                            <br>
                        </p>
                        <p style="white-space: normal;">3、“排列三”、“排列五”每期共同摇奖，一次摇出5个号码，“排列三”的中奖号码为当期摇出的全部中奖号码的前3位，“排列五”的中奖号码为当期摇出的全部中奖号码。
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/10.html">数字彩 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/43.html">11选5</a></li>
                    <li class="haveline"><a href="../view/58.html">15选5</a></li>
                    <li><a href="../view/59.html">大乐透</a></li>
                    <li class="haveline"><a href="../view/60.html">福彩3D</a></li>
                    <li><a href="../view/61.html">快3</a></li>
                    <li class="haveline"><a href="../view/62.html">快乐扑克</a></li>
                    <li><a href="../view/63.html">排列三</a></li>
                    <li class="haveline"><a href="../view/64.html">七乐彩</a></li>
                    <li><a href="../view/65.html">七星彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>