<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>竞彩-竞彩规则|竞彩玩法|竞彩介绍-星城体育彩票百科</title>
    <meta name="keywords" content="体育彩票">
    <meta name="description" content="竞彩是以足球、篮球为竞猜对象的体育彩票，由国家体彩中心选定赛程并安排开停售时间。竞彩面向全国销售，截至目前竞彩足球开设7种玩法、竞彩篮球开设6种玩法。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="../../zuqiu/javascript:;">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/d92be36d7e9c2b92b0751b5772e5b4ff.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>竞彩</h2>
            <div class="synonym"> <span class="synonym-box">同义词</span> <span>竞彩足球，竞彩篮球</span></div>
            <p>竞彩是以足球、篮球为竞猜对象的体育彩票，由国家体彩中心选定赛程并安排开停售时间。竞彩面向全国销售，截至目前竞彩足球开设7种玩法、竞彩篮球开设6种玩法。</p>
            <a class="bshare-more myshare hide" title="竞彩" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p><span style="font-family: 宋体;font-size: 14px">竞彩（包括竞彩足球、竞彩篮球）是由国家体育总局体彩管理中心发行的，通过线下竞彩实体店联合销售的体育类彩票游戏。国家体彩中心选定并公布竞彩足球和竞彩篮球的开售和预售赛程，中国竞彩网是竞彩官方的线上平台。目前，竞彩足球的玩法包括胜平负、让球胜平负、单场、混合、比分、半全场、进球数<span style="font-family:Times New Roman">7</span><span style="font-family:宋体">种玩法；竞彩篮球的玩法包括胜负、让分胜负、混合、单场、大小分、胜分差</span><span style="font-family:Times New Roman">6</span><span style="font-family:宋体">种玩法。竞彩足球是以足球比赛为投注对象，以</span><span style="font-family:Times New Roman">90</span><span style="font-family:宋体">分钟加上伤停补时的结果为最终赛果，加时赛及点球大战不计算入内。而篮球的赛果是包含加时赛的最终结果，所以篮球比赛并没有平局这个赛果。</span></p>
                        <p><span style="font-family: 宋体;font-size: 14px">根据《彩票管理条例及实施细则》、《彩票发行销售管理办法》等有关规定，制定了竞彩的相关规则。凡是购买竞彩足球及竞彩篮球任何玩法的彩民即被视为同意并遵循竞彩的相关规则。同时，不得向未成年人销售或兑奖。</p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>奖金</h3>
        <div>
          <p><span style="font-family: 宋体;font-size: 14px">竞彩（包括竞彩足球、竞彩篮球）的返奖率</span><span style="font-family: 宋体;font-size: 14px">（也称</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">返还率</span><span style="font-family: 宋体;font-size: 14px">）</span><span style="font-family: 宋体;font-size: 14px">为73％，另外的27％分别用于彩票发行费和彩票公益金。北京单场的奖金计算是以开奖的</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">SP</span><span style="font-family: 宋体;font-size: 14px">值为准的，而竞彩相反是以出票时的SP值计算奖金的，所以投注竞彩的所有玩法都可以提前知晓中奖的奖金数额。</p>
          <p><span style="font-family: 宋体;font-size: 14px">1.</span><span style="font-family: 宋体;font-size: 14px">&nbsp;竞彩足球</p>
          <p><span style="font-family: 宋体;font-size: 14px">竞彩足球的玩法包括胜平负、让球胜平负、单场、混合过关、比分、半全场、总进球数共<span style="font-family:Times New Roman">7</span><span style="font-family:宋体">种。</span></p>
                        <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 16px;background: rgb(255, 255, 255)">①</span><span style="font-family: 宋体;font-size: 14px">因为每一场比赛的盘口有差异，所以国家体彩中心会根据盘口开出每场比赛不让球的胜平负和让球的胜平负</span><span style="font-family: 宋体;font-size: 14px">供彩民选择。</p>
          <p style="text-align:center"><span style="font-family: 宋体;font-size: 14px"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455869987.png" title="editor/1455869987.png" alt="图片1111.png"></p>
          <p><span style="font-family: 宋体;font-size: 14px">如图中所示，朝鲜不让球的SP分别为1.10&nbsp;6.25&nbsp;19.00，让两球的SP为2.50&nbsp;3.60&nbsp;2.22</p>
          <p><span style="font-family: 宋体;font-size: 14px">投注竞彩胜平负和让球胜平负可以选择单关投注或者</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">过关投注</span><span style=";font-family:宋体;font-weight:bold;font-size:14px">。</p>
          <p><span style="font-family: 宋体;font-size: 14px">彩民可以选择</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">单式、复式</span><span style="font-family: 宋体;font-size: 14px">投注。竞彩足球很多彩民也会选择</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">胆拖投注</span><span style="font-family: 宋体;font-size: 14px">，力求做到不流失奖金。</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">②</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩单场投注（以竞彩足球为例）是从国家体彩中心公布的当期赛程中挑出一场比赛进行投注，投注内容有胜平负、让球胜平负、进球数、半全场和比分。</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">③</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">混合过关是选择</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">2—4场比赛进行过关投注。投注的选项有胜平负、让球胜平负、半全场、总进球数和比分。</p>
          <p style="text-align:center"><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455870040.png" title="editor/1455870040.png" alt="图片2222.png"></p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">④</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">比分是对所选赛事最终结果竞猜投注的玩法，需要指出的是竞彩足球是以</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">90分钟加补时的结果计算的，加时赛不包含入内。而篮球是包括加时赛在内的最终赛果。</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"></p>
          <p style="text-align:center"><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455870127.png" title="editor/1455870127.png" alt="图片3333.png"></p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩比分的投注也可以选择单关或者过关，但是过关投注最多只能选择四</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">场比赛。由于比分的投注选项比较多，所以很多彩民会选择复式或者胆拖投注。</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">&nbsp; &nbsp; &nbsp;&nbsp;</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">⑤</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">半全场胜平负是把一场完整的比赛拆分成上下半场投注的一种玩法，共有胜胜、胜平、胜负、平胜、平平、平负、负胜、负平、负负</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">9个投注选项。竞彩半全场胜平负与竞彩比分投注规则一致，可以选择单关或者过关投注（过关最多能选择四场比赛）。</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"></p>
          <p style="text-align:center"><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455870165.png" title="editor/1455870165.png" alt="图片4444.png"></p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">⑥</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">总进球数是竞猜主客两队在该场比赛总进球数的一种玩法，共有</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">0球、1球、2球、3球、4球、5球、6球、7+球八个投注选项，每一个选项都有投注对应的SP值。竞彩足球总进球数可以选择单关或者过关投注（过关最多能选择六场比赛）。</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"></p>
          <p style="text-align:center"><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455870226.png" title="editor/1455870226.png" alt="图片5555.png"></p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">2.</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩篮球</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩篮球的玩法包括胜负、让分胜负、胜分差、大小分、混合过关共5种玩法。</p>
          <p style="text-align:center"><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)"><img src="http://7xpmht.com1.z0.glb.clouddn.com//editor%2F1455870293.png" title="editor/1455870293.png" alt="图片6666.png"></p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩篮球胜负是竞猜某场比赛结果的玩法，包括主胜（客负）和客胜（主负）两个投注选项。竞彩篮球胜负可以选择单关投注，也可以进行</span><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-weight: bold;font-size: 14px;background: rgb(255, 255, 255)">过关投注</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">（最多可以选择八场比赛）。&nbsp;</p>
          <p><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">竞彩篮球让分胜负是以让分的形式选择主队让分/受让分后胜或者负的一种玩法。通过让分平衡了两队的差距，所以两边的SP值也比较平均（与竞彩篮球胜负不同）。竞彩篮球胜负可以选择单关投注，也可以进行</span><span style="font-family: 宋体;letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">过关投注</span><span style="font-family: 宋体;color: rgb(51, 51, 51);letter-spacing: 0;font-size: 14px;background: rgb(255, 255, 255)">（最多可以选择八场比赛）。&nbsp;</p>
          <p><span style="font-family: 宋体; font-size: 14px;">竞彩篮球胜分差是竞猜主客队最终在本场交锋结束的分差值。共有主胜1—5分、主胜6—10分、主胜11—15分、主胜16—20分、主胜21—25分、主胜26+和客胜1—5分、客胜6—10分、客胜11—15分、客胜16—20分、客胜21—25分、客胜26+&nbsp;十二个投注选项。</p>
          <p><span style="font-family: 宋体; font-size: 14px;">竞彩篮球大小分是竞猜双方总得分大于或者小于预设分的一种玩法。该种玩法简单明了，有大分和小分两个投注选项。竞彩篮球大小分</span><span style="font-family: 宋体; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 14px; background: rgb(255, 255, 255);">可以选择单关投注，也可以进行</span><span style="font-family: 宋体; letter-spacing: 0px; font-size: 14px; background: rgb(255, 255, 255);">过关投注</span><span style="font-family: 宋体; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 14px; background: rgb(255, 255, 255);">（最多可以选择八场比赛）。</p>
          <p><span style="font-family: 宋体; font-size: 14px;">竞彩篮球混合过关是集合胜负、让分胜负、胜分差、大小分的投注玩法，混合过关中的过关投注最高支持八串一。</p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>开奖</h3>
        <div>
          <p><span style="font-family: 宋体;font-size: 14px">竞彩足球和竞彩篮球，所投注的比赛结束以后进行开奖和兑奖。足球比赛以<span style="font-family:Times New Roman">90</span><span style="font-family:宋体">分（含补时）的结果为准，篮球比赛最终结果包含加时赛部分。当比赛结果开出之后，如有特殊情况发生不影响原先计奖开出的结果。</span></p>
                        <p><span style="font-family: 宋体;font-size: 14px">当期的销售、</span><span style=";font-family:宋体;color:rgb(255,0,0);font-weight:bold;font-size:14px">奖池</span><span style="font-family: 宋体;font-size: 14px">、开奖等信息，国家体彩中心通过线下销售网点、线上网站（中国竞彩网）及其他媒体向社会公布。</p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>兑奖</h3>
        <div>
          <p><span style="font-family: 宋体;font-size: 14px">竞彩赛果开出之后，持投注时的纸质彩票到指定地点进行兑奖。兑奖的有效期是<span style="font-family:Times New Roman">60</span><span style="font-family:宋体">个自然日。逾期未兑奖的奖金将被纳入彩票公益金。</span></p>
                        <p><span style="font-family: 宋体;font-size: 14px">中奖彩票为唯一兑奖凭证。中奖彩票因玷污、损坏等原因不能正确识别的，不能进行兑奖。</p>
          <p><span style="font-family: 宋体;font-size: 14px">兑奖机构有权查验彩票中奖者的中奖彩票以及有效身份证件，彩票中奖者兑奖时应予配合。</p>
          <p><span style="font-family: 宋体;font-size: 14px">凡伪造、变造彩票或使用伪造、变造彩票兑奖的，按照《彩票管理条例》等相关规定依法追究法律责任。</p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>涨姿势</h3>
        <div>
          <p><span style="font-family: 宋体;font-size: 14px">1<span style="font-family:宋体">，竞彩是以足球和篮球比赛为投注对象，竞彩足球包括</span><span style="font-family:Times New Roman">7</span><span style="font-family:宋体">种玩法、竞彩篮球包括</span><span style="font-family:Times New Roman">5</span><span style="font-family:宋体">种玩法</span></p>
                        <p><span style="font-family: 宋体;font-size: 14px">2<span style="font-family:宋体">，竞彩的返奖率为</span></span><span style="font-family: 宋体;font-size: 14px">73％</p>
          <p><span style="font-family: 宋体;font-size: 14px">3<span style="font-family:宋体">，竞彩的最终奖金以出票时的</span><span style="font-family:Times New Roman">SP</span><span style="font-family:宋体">为准</span></p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/53.html">体育彩票 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/45.html">胜负彩</a></li>
                    <li><a href="../view/46.html">总进球数</a></li>
                    <li class="haveline"><a href="../view/49.html">半全场</a></li>
                    <li><a href="../view/54.html">北京单场</a></li>
                    <li class="haveline"><a href="../view/55.html">比分</a></li>
                    <li><a href="../view/56.html">任选九场</a></li>
                    <li class="haveline"><a href="../view/57.html">上下单双</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float '" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>