<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>北京单场-北京单场规则|北京单场玩法|北京单场介绍-星城体育彩票百科</title>
    <meta name="keywords" content="北京北单,竞技彩">
    <meta name="description" content="北京单场是北京体彩中心统一管理发行的竞技彩票游戏， 目前有胜平负、比分、半全场、进球数、上下单双、胜负 过关6种玩法。北京单场统一开停售时间，奖金计算以最 终开奖为准。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../../database/index.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="http://news.xincastle-sports.com/">情报中心</a></li>
                <li><a href="http://xinc.tw/livesport/app/">App下载</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;" onclick="LogoutDialogue();">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="../base/login.html" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/796b0f085f41f5295e9750af149278a5.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>北京单场</h2>
            <div class="synonym"> <span class="synonym-box">同义词</span> <span>北京北单</span></div>
            <p>北京单场是北京体彩中心统一管理发行的竞技彩票游戏， 目前有胜平负、比分、半全场、进球数、上下单双、胜负 过关6种玩法。北京单场统一开停售时间，奖金计算以最 终开奖为准。
            </p>
            <a class="bshare-more myshare hide" title="北京单场" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p><span style="font-family: 宋体, SimSun; font-size: 16px;">北京单场是北京体彩中心统一管理发行的竞技彩票游戏，目前有胜平负、比分、半全场、进球数、上下单双、胜负过关6种玩法。北京单场统一开停售时间，奖金计算以最终开奖为准。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>规则</h3>
        <div>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">北京单场是由北京体彩中心统一公布赛程及开停售时间的竞技彩票游戏，包括胜平负、比分、半全场、进球数、上下单双、胜负过关6种玩法。北京单场的比分、半全场、进球数玩法和竞彩足球的同类型玩法基本一致，只是最终的开奖SP有所区别，北单所有玩法的计奖SP值都是以开奖为准的。另外，北单胜负过关玩法的竞猜对象包括足球、篮球、网球、橄榄球、排球、羽毛球、乒乓球、沙滩排球、冰球、曲棍球、手球、水球比赛，这点也区别与竞彩（足球、篮球）和北单的其他玩法。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">根据《彩票管理条例及实施细则》、《彩票发行销售管理办法》等有关规定，制定了北京单场的相关规则。北京单场竞技彩票游戏采用计算机网络系统发行销售。凡购买北京单场者即被视为同意并遵守以上规则，不得向未成年人出售彩票或兑付奖金。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>奖金</h3>
        <div>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">北京单场的返奖率（也称返还率）为65％，另外的13％和22％分别用于彩票发行费和彩票公益金。北京单场的奖金计算是以开奖的SP值为准的，而竞彩相反是以出票时的SP值计算奖金的。所以北京单场投注时显示的奖金数值并不是最终的准确数值。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">1，北京单场胜平负有单关投注和过关投注两种玩法，过关投注最多可以选择15场比赛进行投注（即15串1）。北单的过关投注最终奖金=SP1×SP2......×65％×2（元）×倍数。复式的过关投注本金比较高，彩民一般都发起合买（彩票合买）。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">2，北京单场比分是竞猜足球比分的一种玩法，以90分钟比赛含补时的比分为最终开奖结果。该玩法支持单关投注和过关投注，过关投注可以选择2串1或者3串1。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">3，北京单场半全场是竞猜半场和全场胜平负的玩法，包括胜胜、胜平、胜负、平胜、平平、平负、负胜、负平、负负九个投注选项，投注方式同样可以选择单关投注或者过关投注（过关最高支持6串1）。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">4，北京单场进球数是竞猜足球比赛主客队总进球数的一种玩法。投注规则与北京单场半全场一样，可以选择单过投注或者6串以内的过关投注。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">5，北京单场上下单双是结合大小球和单双数的一种小众玩法，包括上单、上双、下单、下双四个投注选项。玩法规则同样是支持单关投注和过关投注，过关投注最高支持6串1。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">6，北京单场胜负过关是通过让分之后竞猜主胜或者客胜的玩法。胜负过关竞猜对象除了足球、篮球外，还包括网球、橄榄球、排球、羽毛球、乒乓球等比赛。竞猜对象广泛也大大提高了彩民的投注乐趣。本玩法只支持过关投注，过关范围为3串1—15串1。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>开奖</h3>
        <div>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">北京单场当期的比赛结束后，北京体彩中心会通过互联网及其他媒体公布相关的赛果和开奖SP值。北京单场的返奖率为65％，所以最终的开奖奖金=SP(SP1×SP2......×SPn)×65％×2（元）×倍数。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">由于天气等不可控因素的存在，很多比赛往往会出现推迟、延误或者取消。根据北京体彩中心的官方规定，如果部分场次超过原定开奖时间12小时仍未有结果，那么该场比赛在过关投注中的SP值以1来计算（示例：如果投注了7串1，其中一场比赛延期并且超过12小时，那么该场比赛的SP值按1计算，相当于7串1降级成了6串1）。未超过12小时的以实际结果进行开奖、计奖。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>兑奖</h3>
        <div>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">北京单场当期赛果公布后的60个自然日内，到指定地点兑奖。逾期未兑奖的奖金将被纳入彩票公益金。每注彩票只有一次中奖机会，不能兼中兼得。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">中奖彩票为唯一兑奖凭证。中奖彩票因玷污、损坏等原因不能被正确识别的，将不能予以兑奖。兑奖机构有权查验彩票中奖者的中奖彩票以及有效身份证件，彩民兑奖时应积极配合。</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">凡伪造、仿造彩票或者使用伪造、仿造彩票兑奖的，按照相关规定将依法追究法律责任。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>涨姿势</h3>
        <div>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">1，北京单场有6种玩法，受注赛程由北京体彩中心统一安排</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">2，北京单场的返奖率为65％</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</p>
          <p><span style="font-family: 宋体, SimSun; font-size: 16px;">3，北京单场的最终奖金计算以开奖时的SP为准</p>
          <p><br>
          </p>
        </div>
      </div>
    </div>
    <div class="mylabel"> 标签： <a href="../tag/60.html">北京北单 </a> <a href="../tag/13.html">竞技彩 </a> </div>
  </div>
  <div class="area-right">
    <form action="/lotterywiki/search" method="get" class="search-input hide">
      <i class="icon-icon_check"></i>
      <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
      <input type="submit" value="搜索" class="btn">
    </form>
    <div class="related-term">
      <h4>相关词条</h4>
      <ul class="term-list">
        <li class="haveline"><a href="../view/44.html">竞彩</a></li>
        <li><a href="../view/45.html">胜负彩</a></li>
        <li class="haveline"><a href="../view/46.html">总进球数</a></li>
        <li><a href="../view/49.html">半全场</a></li>
        <li class="haveline"><a href="../view/55.html">比分</a></li>
        <li><a href="../view/56.html">任选九场</a></li>
        <li class="haveline"><a href="../view/57.html">上下单双</a></li>
      </ul>
    </div>
    <div class="latest-entry">
      <h4>最新词条</h4>
      <ul class="img-list">
        <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
        <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
        <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
      </ul>
      <ul class="m-list">
        <li class=" first huise explain"><a href="../view/89.html">
          <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
          <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
          </a></li>
        <li class=" explain"><a href="../view/88.html">
          <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
          <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
          </a></li>
        <li class=""><a href="../view/87.html">
          <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
          <p></p>
          </a></li>
        <li class=" huise"><a href="../view/86.html">
          <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
          <p></p>
          </a></li>
        <li class=""><a href="../view/85.html">
          <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
          <p></p>
          </a></li>
        <li class=" huise"><a href="../view/84.html">
          <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
          <p></p>
          </a></li>
      </ul>
    </div>
  </div>
</div>
<footer class="footer">
  <ol>
    <li>Copyright © 2017 星城体育 | <a href="http://www.miitbeian.gov.cn" target="_blank">黔ICP备18000990号-6</a> ALL Rights Reserved</li>
                            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
                            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
                            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
                            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
                            </ol>
                            </footer>
                            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                            <script src="../../base/js/jquery-1.11.3.min.js"></script>
                            <!-- Site's js file -->
                            <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>