<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>15选5-15选5规则|15选5玩法|15选5介绍-星城体育彩票百科</title>
    <meta name="keywords" content="15选5, 数字彩">
    <meta name="description" content="15选5，即从01-15的15个数字号码中选择5个号码组合为一注进行投注的组合式乐透游戏。由中国福利彩票发行管理中心统一组织发行，在华东六省市区域内联合销售。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="../../zuqiu/javascript:;">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/327606d0eb814e08489b6ee637371a4e.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>15选5</h2>
            <p>15选5，即从01-15的15个数字号码中选择5个号码组合为一注进行投注的组合式乐透游戏。由中国福利彩票发行管理中心统一组织发行，在华东六省市区域内联合销售。</p>
            <a class="bshare-more myshare hide" title="15选5" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p><span style="font-family: 宋体, SimSun;">15选5，即从01-15的15个数字号码中选择5个号码组合为一注进行投注的组合式乐透游戏。由中国福利彩票发行管理中心统一组织发行，在华东六省市区域内联合销售。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>规则</h3>
        <div>
          <p>根据《彩票发行与销售管理暂行规定》，结合计算机网络技术和乐透型彩票特点，制定出了15选5的相关规则。</p>
          <p>&nbsp;</p>
          <p>华东六省市联合销售电脑福利彩票15选5由中国福利彩票发行管理中心统一组织，由江苏省、浙江省、上海市、安徽省、江西省和福建省（华东六省市）福利彩票发行中心在各自所属行政区域内联合销售。</p>
          <p>&nbsp;</p>
          <p>15选5共设置特等、一等、二等3个奖项，根据国家有关规定单注奖金最高额度为500万元。购买者可分为自选和机选投注，其开奖号码都是随机产生，投注方式有单式投注、复式投注、多期投注、多倍投注和基数组合投注等。</p>
          <p>&nbsp;　　</p>
          <p>15选5采用计算机网络系统销售，每天一期，每晚19：35开奖。</p>
          <p>&nbsp;</p>
          <p>15选5彩票实行自愿购买，凡购买者均被视为同意并遵守本规则。不得向未成年人销售彩票或兑付奖金。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>奖金</h3>
        <div>
          <p>15选5按当期销售额的50%、15%和35%分别计提返奖奖金、发行费和公益金。返奖奖金分为当期奖金和调节基金，其中，49%为当期奖金，1%为调节基金。</p>
          <p>&nbsp;</p>
          <p>15选5当期奖金设为两个奖等，一等奖和特别奖为高奖等，二等奖为低奖等，一等奖的特别情形设为特别奖。高奖等采用浮动设奖，低奖等采用固定设奖。当期奖金减去低奖等奖金为当期高奖等奖金。当期奖金设奖如下：</p>
          <p>&nbsp;</p>
          <p>特别奖：单注投注号码与当期5个开奖号码全部相同，且至少包含4个连续号码（中奖号码顺序不论，并可以同一等奖视为兼中）即中奖；奖金总额为当期高奖等奖金的17%；</p>
          <p>&nbsp;</p>
          <p>一等奖：单注投注号码与当期5个开奖号码全部相同，若有4个连续号码则同特等奖兼中；奖金总额为当期高奖等奖金的83%；</p>
          <p>&nbsp;</p>
          <p>二等奖：单注投注号码与当期开奖号码中任意4个号码相同，不得与以上奖等兼中；单注奖金额固定为10元。</p>
          <p>&nbsp;</p>
          <p>15选5设立奖池，奖池由未中出的高奖等奖金、超出高奖等单位封顶限额部分的奖金组成，用于特别等的奖金分配。</p>
          <p>&nbsp;</p>
          <p>调节基金由按销售总额1%提取部分、弃奖奖金、高奖等奖金按元取整后的余额组成。调节基金用于支付各种不可预见情况下的奖金支出风险，调节高奖等奖金，以及设立特别奖。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>开奖</h3>
        <div>
          <p>15选5每天开奖一次，摇奖过程在公证人员监督下进行，通过公共媒体发布。</p>
          <p>&nbsp;</p>
          <p>15选5通过摇奖器确定开奖号码，摇奖使用中国福利彩票发行管理中心指定的专用摇奖器。摇奖前必须截止当期投注，将所有投注数据录入不可改写光盘，并将华东六省市的数据进行汇总。摇奖后，以光盘记录的当期数据为准进行开奖处理。</p>
          <p>&nbsp;　　</p>
          <p>在每期开奖后，将当期销售总额、开奖号码、各奖级中奖注数和奖额，以及奖池资金、调节基金余额，通过新闻媒体向社会公布，并在各投注站张贴。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>兑奖</h3>
        <div>
          <p>“15选5”兑奖当期有效，每期兑奖期限为开奖之日起60天，逾期未兑奖者视为弃奖，单张彩票中奖金额超过投注站点兑付限额的中奖者，需持中奖彩票和本人有效身份证明，在兑奖期限内到各省中心验证、登记和兑奖，上述兑付限额按照投注站点所属的省中心的规定执行。</p>
          <p>&nbsp;</p>
          <p>按国家有关规定，单注奖金额超过一万元者，须缴纳个人所得税，由兑奖机构代扣代缴。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>术语</h3>
        <div>
          <p>1、斜连码：与历期中奖号码构成斜连形状的号码称为斜连码，斜连码必须由三期以上的各1个号码构成。</p>
          <p>2、对望码：上下数期直观上呈现一定的规律(等量、递减、递增、倍增、倍减)出现的号码称为对望码。</p>
          <p>3、三角码：3个号码呈现三角形形状的号码称为三角码。</p>
          <p>4、弧形码：呈现有序的几何图形出现的号码称为弧形码。</p>
          <p>5、空门码：与历期尤其近5期中奖号码没有任何联系的号码称为空门码。</p>
          <p>6、关系码：指与历期尤其是最近5期的中奖号码有联系的号码，一般重叠码、边码、斜连码、三角码、对望码、弧形码均归入关系码行列。</p>
          <p>7、同位码：也叫同尾球，是指一组中奖号码中尾数相同的号码，如11、21、31是同位码，05、15、25也是同位码，一般每组中奖号码里都有1-2对同位码出现。</p>
          <p>8、区间：指把所有备选号码分成若干个小组。15选5可分为01--05、06--10、11--15三个区间。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
        <h3>涨姿势</h3>
        <div>
          <p>1、15选5是福彩中心统一组织发行，由江苏省、浙江省、上海市、安徽省、江西省和福建省（简称华东六省市）福利彩票发行中心在各自所属的行政区域内联合销售的乐透型数字彩票</p>
          <p>&nbsp;</p>
          <p>2、15选5每天一期，每天定期开奖</p>
          <p>&nbsp;</p>
          <p>3、15选5共设特等、一等和二等3个奖项，单注奖金最高限额为500万元&nbsp;</p>
          <p><br>
          </p>
        </div>
      </div>
    </div>
    <div class="mylabel"> 标签： <a href="../tag/10.html">数字彩 </a> <a href="../tag/70.html">15选5 </a> </div>
  </div>
  <div class="area-right">
    <form action="/lotterywiki/search" method="get" class="search-input hide">
      <i class="icon-icon_check"></i>
      <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
      <input type="submit" value="搜索" class="btn">
    </form>
    <div class="related-term">
      <h4>相关词条</h4>
      <ul class="term-list">
        <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
        <li><a href="../view/39.html">排列五</a></li>
        <li class="haveline"><a href="../view/43.html">11选5</a></li>
        <li><a href="../view/59.html">大乐透</a></li>
        <li class="haveline"><a href="../view/60.html">福彩3D</a></li>
        <li><a href="../view/61.html">快3</a></li>
        <li class="haveline"><a href="../view/62.html">快乐扑克</a></li>
        <li><a href="../view/63.html">排列三</a></li>
        <li class="haveline"><a href="../view/64.html">七乐彩</a></li>
        <li><a href="../view/65.html">七星彩</a></li>
        <li class="haveline"><a href="../view/66.html">时时彩</a></li>
        <li><a href="../view/67.html">双色球</a></li>
      </ul>
    </div>
    <div class="latest-entry">
      <h4>最新词条</h4>
      <ul class="img-list">
        <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
        <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
        <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
      </ul>
      <ul class="m-list">
        <li class=" first huise explain"><a href="../view/89.html">
          <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
          <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
          </a></li>
        <li class=" explain"><a href="../view/88.html">
          <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
          <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
          </a></li>
        <li class=""><a href="../view/87.html">
          <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
          <p></p>
          </a></li>
        <li class=" huise"><a href="../view/86.html">
          <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
          <p></p>
          </a></li>
        <li class=""><a href="../view/85.html">
          <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
          <p></p>
          </a></li>
        <li class=" huise"><a href="../view/84.html">
          <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
          <p></p>
          </a></li>
      </ul>
    </div>
  </div>
</div>
<footer class="footer">
  <ol>
    <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
    <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
    <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
    <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
    <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
  </ol>
</footer>

<!-- 浮动工具箱 -->
<div class="ss-tool-float '" id="ss-tool-float">
  <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
  <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>


<!--意见反馈-->
<div class="feedback-wrap hide">
  <div class="feedback-bg"></div>
  <div class="feedback-box">
    <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
      <h2><i class="icon-icon_feedback"></i>反馈</h2>
      <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
    </div>
    <div class="box-bd">
      <form action="" class="feedback-form" id="feedbackForm" novalidate>
        <div class="text-box">
          <div class="tab-con" id="feedbackType" > <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
          <input type="text" name="type" class="feedback-type">
          <div class="text-area">
            <textarea name="content" id="" cols="30" rows="10"></textarea>
            <label for="">反馈内容控制在500字以内</label>
          </div>
        </div>
        <p> <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱"/>
        </p>
        <p class="test-area " id="feedback-captcha">我是验证码</p>
        <button class="submit-feedback" type="submit">提交反馈</button>
      </form>
    </div>
  </div>
</div>

    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="javascript:;"><i class="icon-btn_tencent40x40_n"></i></a>
                        </div>
                        <form class="inputbox">
                            <input type="text" id="fname" name="fname" placeholder="填写您的QQ号">
                            <input type="button" id="vcode" name="vcode" value="取得验证码">
                            <input type="text" id="entervcode" name="entervcode" placeholder="验证码">
                        </form>
                        <div class="btn-2">
                            <button class="button-s">送出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../../base/js/jquery-1.11.3.min.js"></script> 



<!-- Site's js file --> 
<script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script> 
</body>
</html>