<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>大乐透-大乐透规则|大乐透玩法|大乐透介绍-星城体育彩票百科</title>
    <meta name="keywords" content="大乐透, 数字彩">
    <meta name="description" content="大乐透（英文名：Super Lotto），是国家体育总局体彩中心于2007年5月28日向全国推出的一种全新大盘玩法体育彩票，统称超级大乐透。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="http://news.xincastle-sports.com/">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/550b85eefa53a856c775f9077e129ced.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>大乐透</h2>
            <p>大乐透（英文名：Super&nbsp;Lotto），是国家体育总局体彩中心于2007年5月28日向全国推出的一种全新大盘玩法体育彩票，统称超级大乐透。</p>
            <a class="bshare-more myshare hide" title="大乐透" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p>超级大乐透属于双区选号，玩法简单易懂，彩民们从01-35共35个号码中，选取5个号码为前区号码，并从01-12共12个号码中选取2个号码为后区号码，组合为一注进行单式投注。超级大乐透最大的亮点是，购买者在基本投注的基础上，可进行追加投注，每注可追加1元人民币。</p>
                        <p>因为有了追加投注，超级大乐透头奖理论奖金将超过所有玩法的500万元封顶奖金。规则中规定，一等奖奖金由两部分组成，一部分为奖池奖金按比例分配部分500万元，追加投注单注封顶300万元，另一部分为当期奖金额减去固定奖总额后的25%按比例分配部分。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票管理条例及实施细则》、《彩票发行销售管理办法》等有关规定，制定了相关管理规则。</p>
                        <p>&nbsp;</p>
                        <p>超级大乐透由国家体育总局体育彩票管理中心发行和组织销售，采用计算机网络系统发行，在各省体彩机构设置的销售网点销售，定期开奖。超级大乐透实行自愿购买，凡购买者均被视为同意并遵守本规则。同时，不得向未成年人出售彩票或兑付奖金。</p>
                        <p>超级大乐透基本投注是指从前区号码中任选5个号码，并从后区号码中任选2个号码的组合进行投注。其中，前区号码由01—35共35个号码组成，后区号码由01—12共12个号码组成。每注基本投注金额人民币2元。</p>
                        <p>购买者在基本投注的基础上，可对购买的每注号码进行一次追加投注，每注追加投注金额人民币1元。</p>
                        <p>购买者可以进行复式投注。复式投注是指所选号码个数超过基本投注的号码个数，所选号码可组合为每一种基本投注方式的多注彩票的投注。复式投注包括三种形式：</p>
                        <p>&nbsp;&nbsp;&nbsp;（一）前区复式：前区选取6个及以上号码，后区号码选取2个号码；</p>
                        <p>&nbsp;&nbsp;&nbsp;（二）后区复式：前区选取5个号码，后区选取3个及以上号码；</p>
                        <p>&nbsp;&nbsp;&nbsp;（三）双区复式：前区选取6个及以上号码，后区选取3个及以上号码。</p>
                        <p>购买者可以进行胆拖投注。胆拖投注是指选择少于基本投注号码个数的号码作为每注都有的号码作为胆码，再选取除胆码以外的号码作为拖码，由胆码和拖码组合成多注投注，胆拖投注包括三种形式：</p>
                        <p>（一）前区胆拖：从01—35中选取1至4个号码为胆码，再选取除胆码以外的号码作为拖码，胆码和拖码组成前区号码(其数量之和必须等于或多于6个号码)，并从01—12中选取2个号码为后区号码。</p>
                        <p>（二）后区胆拖：从01—35中选取5个号码为前区号码，并从01—12中选取1个号码为胆码，再选取除胆码以外的2个以上(含2个)的号码为拖码，胆码和拖码组成后区号码。</p>
                        <p>（三）双区胆拖：从01—35中选取1至4个号码为胆码，再选取除胆码以外的号码作为拖码，胆码和拖码组成前区号码（其数量之和必须等于或多于6个号码）；并从01—12中选取1个号码为胆码，再选取除胆码以外的2个以上（含2个）的号码为拖码，胆码和拖码组成后区号码。</p>
                        <p>复式投注和胆拖投注均可按注进行追加投注。</p>
                        <p>购买者可对其选定的结果进行多倍投注，投注倍数范围为2-99倍。单张彩票基本投注的最大投注金额不超过20000元，基本投注加追加投注的最大投注金额不超过30000元。</p>
                        <p>超级大乐透按期销售，每周销售三期，期号以开奖日界定。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p>超级大乐透按当期销售总额的51%、14%、35%分别计提彩票奖金、彩票发行费和彩票公益金。彩票奖金分为当期奖金和调节基金，其中，49%为当期奖金，2%为调节基金。</p>
                        <p>超级大乐透共设六个奖级，一、二、三等奖为浮动奖，四、五、六等奖为固定奖。各奖级和奖金规定如下：</p>
                        <p>一等奖：投注号码与当期开奖号码全部相同(顺序不限，下同)，即中奖；</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当奖池资金低于1亿元时，奖金总额为当期奖金额减去固定奖总额后的75%与奖池中累积的奖金之和，单注奖金按注均分，单注最高限额封顶500万元。当奖池资金高于1亿元（含）且低于3亿元时，奖金总额包括两部分，一部分为当期奖金额减去固定奖总额后的58%与奖池中累积的奖金之和，单注奖金按注均分，单注最高限额封顶500万元；另一部分为当期奖金额减去固定奖总额后的17%，单注奖金按注均分，单注最高限额封顶500万元。当奖池资金高于3亿元（含）时，奖金总额包括两部分，第一部分为当期奖金额减去固定奖总额后的42%与奖池中累积的奖金之和，单注奖金按注均分，单注最高限额封顶500万元；第二部分为当期奖金额减去固定奖总额后的33%，单注奖金按注均分，单注最高限额封顶500万元。</p>
                        <p>二等奖：投注号码与当期开奖号码中的5个前区号码及任意1个后区号码相同，即中奖；奖金总额为当期奖金额减去固定奖总额后的18%，单注奖金按注均分，单注最高限额封顶500万元。</p>
                        <p>三等奖：投注号码与当期开奖号码中的5个前区号码相同，或者任意4个前区号码及2个后区号码相同，即中奖；奖金总额为当期奖金额减去固定奖总额后的7%，单注奖金按注均分，单注最高限额封顶500万元。</p>
                        <p>四等奖：投注号码与当期开奖号码中的任意4个前区号码及任意1个后区号码相同，或者任意3个前区号码及2个后区号码相同，即中奖；单注奖金固定为200元。</p>
                        <p>五等奖：投注号码与当期开奖号码中的任意4个前区号码相同，或者任意3个前区号码及1个后区号码相同，或者任意2个前区号码及2个后区号码相同，即中奖；单注奖金固定为10元。</p>
                        <p>六等奖：投注号码与当期开奖号码中的3个前区号码相同，或者任意1个前区号码及2个后区号码相同，或者任意2个前区号码及任意1个后区号码相同，或者2个后区号码相同，即中奖；单注奖金固定为5元。</p>
                        <p>当期每注投注号码只有一次中奖机会，不能兼中兼得，特别设立奖除外。</p>
                        <p>浮动奖级单注奖金根据该奖级基本投注与追加投注中奖数量按比例分配。</p>
                        <p>追加投注仅参与一至五等奖的奖金分配。追加投注一、二、三等奖为浮动奖，四至五等奖为固定奖。如追加投注中得浮动奖，则追加投注奖金为当期基本投注对应单注奖金的60%。如追加投注中得固定奖，则追加投注奖金为当期基本投注对应单注奖金的50%。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p>超级大乐透每周开出三期号码，周一、周三和周六晚上开奖。CCTV-2、CCTV-5体育频道、中央人民广播电台中国之声、中国体彩网、中国体育报、中国体彩报等都会进行开奖的发布。</p>
                        <p>每期开奖时，在公证人员封存销售数据资料之后，并在其监督下从01—35共35个号码中随机摇出5个前区号码，从01—12共12个号码中随机摇出2个后区号码。</p>
                        <p>每期开奖后，体育彩票发行机构应向社会公布当期销售总额、开奖号码、各奖级中奖情况以及奖池资金余额等信息，并将开奖结果通知各销售网点。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p>超级大乐透中奖者应当自开奖之日起60个自然日内，持中奖彩票到指定的地点兑奖。逾期未兑奖视为弃奖，弃奖奖金纳入彩票公益金。</p>
                        <p>中奖彩票为兑奖唯一凭证，中奖彩票因玷污、损坏等原因不能正确识别的，不能兑奖。</p>
                        <p>兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。</p>
                        <p>根据现行《个人所得税法》的规定，偶然所得按每次取得的收入额依照20%的税率计算缴纳个人所得税。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p>1、胆码：在前区号码或后区号码中选择少于单式投注号码个数的号码作为每注都有的号码，称为胆码。胆码又分为前区胆码和后区胆码。</p>
                        <p>&nbsp;</p>
                        <p>2、前区胆拖：从01--35中选取1至4个号码为胆码，再选取除胆码以外的号码作为拖码，胆码和拖码组成前区号码（其数量之和必须等于或多于6个号码），并从01~12中选取至少2个号码为后区号码。</p>
                        <p>3、后区胆拖：从01--35中至少选取5个号码为前区号码，并从01~12中选取1个号码为胆码，再选取除胆码以外的2个以上的号码为拖码，胆码和拖码组成后区号码。</p>
                        <p>4、双区胆拖：从01--35中选取1至4个号码为胆码，再选取除胆码以外的号码作为拖码，胆码和拖码组成前区号码，并从01~12中选取1个号码为胆码，再选取除胆码以外的2个以上（含2个）的号码为拖码，胆码和拖码组成后区号码。</p>
                        <p>5、大小数：根据摇奖号码个数的不同而不同。前区为35选5，则01-17为小数，18-35为大数，后区为12选2，则01-06为小数，07-12为大数。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;6、质数号：只能被1和它本身整除的数，1既不是质数，也不是合数。但在所有彩票玩法中一般都特别规定，把1当作质数处理，0当作合数处理。</p>
                        <p>&nbsp;</p>
                        <p>7、斜位码：与上期相邻号码，也称相邻码。</p>
                        <p>8、同尾码：指一组中奖号码中尾数相同的号码。</p>
                        <p>9、低尾码：尾数为0-4的号码称为低尾号码。</p>
                        <p>10、高尾码：尾数为5-9的号码称为高尾号码。</p>
                        <p>11、跨度：当期开奖号码中最大号减去最小号所得的差值为跨度，也叫首尾边距。前区最大跨度为34，最小跨度为4；后区最大跨度为11，最小跨度为1。每一个跨度值出现的概率是各不相同的。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;12、旋转矩阵：指通过电脑手段将备选出来的号码进行组合的一种优化的数学组合方法，旋转矩阵是彩市较为流行和实用的一种号码组合方法。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp;1，超级大乐透是双区选号的一种全新大盘彩票玩法，前区35选5+后区12选2</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2，超级大乐透最大的亮点是购买者在基本投注的基础上，每注可追加1元人民币</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;3，2014年8月04日，超级大乐透第14090期，山东淄博彩民60倍单式票追加收获4.97亿元巨奖，成为中国体彩巨奖第一人！</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/71.html">大乐透 </a> <a href="../tag/10.html">数字彩 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/39.html">排列五</a></li>
                    <li class="haveline"><a href="../view/43.html">11选5</a></li>
                    <li><a href="../view/58.html">15选5</a></li>
                    <li class="haveline"><a href="../view/60.html">福彩3D</a></li>
                    <li><a href="../view/61.html">快3</a></li>
                    <li class="haveline"><a href="../view/62.html">快乐扑克</a></li>
                    <li><a href="../view/63.html">排列三</a></li>
                    <li class="haveline"><a href="../view/64.html">七乐彩</a></li>
                    <li><a href="../view/65.html">七星彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>