<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>快乐扑克-快乐扑克规则|快乐扑克玩法|快乐扑克介绍-星城体育彩票百科</title>
    <meta name="keywords" content="快乐扑克, 高频彩, 数字彩">
    <meta name="description" content="快乐扑克是一种即开型的彩票游戏，是国内体育彩票的第一个高频彩玩法。每期从52张扑克牌中开出三张牌作为开奖号码。每天9:00第一期开奖，22:00最后一期开奖，每天79期10分钟开奖一次。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="../../zuqiu/javascript:;">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/281ac98fcf550cf4d4dcc899960e65a6.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>快乐扑克</h2>
            <p>“快乐扑克”是一种即开型的彩票游戏，是国内体育彩票的第一个高频彩玩法。每期从52张扑克牌中开出三张牌作为开奖号码。每天9:00第一期开奖，22:00最后一期开奖，每天79期10分钟开奖一次。</p>
            <a class="bshare-more myshare hide" title="快乐扑克" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p>“快乐扑克”是一种即开型的彩票游戏，是国内体育彩票的第一个高频彩玩法。每期从52张扑克牌中开出三张牌作为开奖号码。每天9:00第一期开奖，22:00最后一期开奖，每天79期10分钟开奖一次。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票管理条例》、《彩票管理条例实施细则》、《彩票发行销售管理办法》等相关规定，制定了快乐扑克的相关规则。</p>
                        <p>&nbsp;</p>
                        <p>“快乐扑克”玩法是一种新型的电脑体育彩票，也是一种国际流行的高频率开奖彩票玩法，它以大众极为熟悉的扑克牌为游戏载体，规则简单易懂，趣味性极强。每期销售10分钟，全天79期，即开即奖。“快乐扑克”游戏的上市，填补了电脑体育彩票在高频玩法领域的空白。</p>
                        <p>&nbsp;</p>
                        <p>其玩法是每期从52张（黑桃、红桃、梅花、方块A-K各13张）扑克牌中的开出三张牌作为开奖号码，购买者可从扑克牌中任意挑选3个号码的组合进行投注，每组投注组合称为一注。每注金额人民币2元。与一般玩法相比，“快乐扑克”游戏有诸多新亮点，如高频率开奖，每天开奖多达79期；投注方式多，更多选择；固定返奖，小奖多大奖高；玩法简单，娱乐性强等。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p style="text-align: center;"><img src="../images/editor/1458555813.png" title="editor/1458555813.png" alt="图片2.png"></p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p>快乐扑克每期销售10分钟，然后进行5分钟开奖，全天79期，即开即奖。快乐扑克采用专用电子开奖设备开奖，每期随机从52张扑克牌中生成三个号码，作为当期开奖号码。开奖号码的顺序不能颠倒。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>每期开奖后，相关体彩机构应通过各种媒体向社会公布开奖号码、当期销售总额、各奖级中奖情况及奖池资金余额等信息，并将开奖结果通知销售网点。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p>快乐扑克兑奖当期有效。中奖者应当自开奖之日起60个自然日内，持中奖彩票到指定的地点兑奖，逾期未兑奖视为弃奖。弃奖奖金纳入彩票公益金。</p>
                        <p>&nbsp;</p>
                        <p>中奖彩票为兑奖唯一凭证，中奖彩票因玷污、损坏等原因不能正确识别的，不能兑奖。</p>
                        <p>兑奖机构可以查验中奖者的中奖彩票及有效身份证件，中奖者兑奖时应予配合。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;当期每注投注号码按其投注方式只有一次中奖机会，不能兼中兼得，特别设奖除外。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p>（一）花色投注</p>
                        <p>&nbsp;</p>
                        <p>同花包选：当期开出的3个开奖号码花色相同</p>
                        <p>&nbsp;</p>
                        <p>同花单选：当期开出的3个开奖号码花色相同，且投注号码的花色与开奖号码的花色相同</p>
                        <p>&nbsp;</p>
                        <p>（二）连号投注</p>
                        <p>&nbsp;</p>
                        <p>同花顺包选：当期开出的3个开奖号码为三连号且花色相同</p>
                        <p>&nbsp;</p>
                        <p>同花顺单选：当期开出的3个开奖号码为三连号且花色均为投注的一种花色</p>
                        <p>&nbsp;</p>
                        <p>顺子包选：当期开出的3个开奖号码为三连号</p>
                        <p>&nbsp;</p>
                        <p>顺子单选：当期开出的3个开奖号码为三连号，且投注号码与开奖号码相同</p>
                        <p>&nbsp;</p>
                        <p>（三）同号投注</p>
                        <p>&nbsp;</p>
                        <p>豹子包选：当期开出的3个开奖号码为同一号码</p>
                        <p>&nbsp;</p>
                        <p>豹子单选：当期开出的3个开奖号码为同一号码，且与投注号码相同</p>
                        <p>&nbsp;</p>
                        <p>对子包选：当期开出的3个开奖号码有且只有2个号码相同</p>
                        <p>&nbsp;</p>
                        <p>对子单选：当期开出的3个开奖号码有且只有2个号码相同，且投注的号码与该2个号码相同</p>
                        <p>&nbsp;</p>
                        <p>（四）任选投注</p>
                        <p>&nbsp;</p>
                        <p>任选一：投注号码与当期3个开奖号码中任意1个相同</p>
                        <p>&nbsp;</p>
                        <p>任选二：投注的2个号码与当期3个开奖号码中任意2个相同</p>
                        <p>&nbsp;</p>
                        <p>任选三：投注号码包含当期全部开奖号码</p>
                        <p>&nbsp;</p>
                        <p>任选四：投注号码包含当期全部开奖号码</p>
                        <p>&nbsp;</p>
                        <p>任选五：投注号码包含当期全部开奖号码</p>
                        <p>&nbsp;</p>
                        <p>任选六：投注号码包含当期全部开奖号码</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p>1、“快乐扑克”是国内体彩的第一个高频彩种</p>
                        <p>&nbsp;</p>
                        <p>2、“快乐扑克”每期销售10分钟，然后进行开奖，即开即奖</p>
                        <p>&nbsp;</p>
                        <p>3、投注方式多，更多选择；固定返奖，小奖多大奖高；玩法简单，娱乐性强</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/39.html">排列五</a></li>
                    <li class="haveline"><a href="../view/43.html">11选5</a></li>
                    <li><a href="../view/58.html">15选5</a></li>
                    <li class="haveline"><a href="../view/59.html">大乐透</a></li>
                    <li><a href="../view/60.html">福彩3D</a></li>
                    <li class="haveline"><a href="../view/61.html">快3</a></li>
                    <li><a href="../view/63.html">排列三</a></li>
                    <li class="haveline"><a href="../view/64.html">七乐彩</a></li>
                    <li><a href="../view/65.html">七星彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float '" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <a href="../base/register-complete.html"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="../base/register-complete.html"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>