<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>排列三-排列三规则|排列三玩法|排列三介绍-星城体育彩票百科</title>
    <meta name="keywords" content="排列三, 数字彩">
    <meta name="description" content="排列三是从000—999中选择一组三位数字进行投注的数字彩 游戏，由国家体育总局体育彩票管理中心统一发行，在全国范 围内进行联合销售。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../../database/index.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="http://news.xincastle-sports.com/">情报中心</a></li>
                <li><a href="http://xinc.tw/livesport/app/">App下载</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;" onclick="LogoutDialogue();">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="../base/login.html" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/01affd9994e82f52019c5a5b7404adee.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>排列三</h2>
            <p>排列三是从000—999中选择一组三位数字进行投注的数字彩 游戏，由国家体育总局体育彩票管理中心统一发行，在全国范 围内进行联合销售。
            </p>
            <a class="bshare-more myshare hide" title="排列三" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p>排列三是从000—999中选择一组三位数字进行投注的数字彩游戏，由国家体育总局体育彩票管理中心统一发行，在全国范围内进行联合销售。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票发行与销售管理暂行规定》和《体育彩票发行与销售管理暂行办法》特制定了排列三的游戏规则。</p>
                        <p>体彩排列3体育彩票由国家体育总局体育彩票管理中心统一发行，在全国范围内采用计算机网络系统进行联合销售。体彩排列3实行自愿购买，凡购买该彩票者即被视为同意并遵守本规则。“排列3”电脑体育彩票每注2元人民币。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;排列三每天一期，奖级和奖金固定，玩法简单便于接受。需要指出的是，“排列三”、“排列五”每期共同摇奖，一次摇出5个号码，“排列三”的中奖号码为当期摇出的全部中奖号码的前3位，“排列五”的中奖号码为当期摇出的全部中奖号码。</p>
                        <p>&nbsp;</p>
                        <p>购买"体彩排列3"时，由购买者从000-999的数字中选取1个3位数为投注号码进行投注。投注号码可通过机选随机产生，也可通过投注人自选确定投注号码。投注号码经系统确认后打印出的兑奖凭证即为体彩排列3电脑体育彩票，交购买者保存。</p>
                        <p>排列三除了直选投注之外，还可以进行组三（选择三个数字投注，顺序不限，但投注时三位号码有两位相同—对子）投注和组六（选择三个数字投注，顺序不限，且投注时三位号码各不相同）投注。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p>"体彩排列3"按"直选投注"、"组选3"、"组选6"等不同投注方式进行设奖，均设一个奖级，为固定奖。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;“单选”奖：投注号码与当期公布的中奖号码的3位数按位数全部相同，即中得单选奖（1040元），如是231，投注号码也必须要是231才算中奖；</p>
                        <p>&nbsp;&nbsp;&nbsp;“组选3”奖：当期摇出的中奖号码3位数中有任意两位数字相同，且投注号码与中奖号码的数字相同，顺序不限，即中得"组选3"奖（346元），如开奖号码是112，投注号码是121，211，112中任意一注就中奖；</p>
                        <p>&nbsp;&nbsp;&nbsp;“组选6”奖：当期摇出的中奖号码中3位数各不相同，且投注号码的三个数字与当期中奖号码相同，顺序不限，即中得"组选6"奖（173元），如开奖号码是213，投注号码是123，132，213，231，312，321中的任意一注就中奖。</p>
                        <p>销售总额的53%为奖金，分为当期奖金和调节基金。其中，52%为当期奖金，1%为调节基金。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p>“体彩排列3”每天一期，每天定时开奖，摇奖过程在公证人员监督下进行，通过电视台播出。体彩“排列3”、“排列5”同时开奖，一次产生5个号码，其中奖号码为当期摇出的全部中奖号码的前3位。</p>
                        <p>每期开奖后，国家体育总局体育彩票管理中心需将中奖号码、当期销售总额、各奖等中奖情况以及奖池资金余额等信息，通过新闻媒体向社会公布，并将开奖结果通知各销售终端。</p>
                        <p>&nbsp;&nbsp;&nbsp;当期每注彩票只有一次中奖机会，不得兼中兼得，另行设立的特别奖项除外的。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p>“排列3”兑奖当期有效。每期自开奖次日起60天为兑奖期，逾期未兑奖者，视为弃奖彩金将纳入调节基金。</p>
                        <p>&nbsp;</p>
                        <p>兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。凡伪造、涂改中奖彩票，冒领奖金者，送交司法机关追究法律责任。</p>
                        <p>&nbsp;</p>
                        <p>根据国家个人所得税的相关规定，排列三单注奖金大于1万需要缴纳20％的个人所得税，由兑奖机构依法代扣代缴。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p>1、连号：连号是相对于组选来说的，即号码之间的间隔是1，如开奖号是014，则有2个连续号0和1。注：系统认为0与9构成连号。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2、胆码：胆码是指当期号码的必出码(也叫金号、金码)，胆码分单码和两码。如果能确定当期的单码和两码就能大大杀掉一些多余的号码，以减少投注的数量，降低成本；但如果定的胆码出错则满盘皆输。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;3、遗漏值：把每个数字没出现的期数值统称为遗漏值。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;4、和值与合值：和值与合值是很重要的2个术语，和值表示某些数的总和，比如：号码和值就是把这个号码的数字相加的总和。557的和值就是17。合值一般都是表示某个参数值的个位数字，也就是和值尾，比如：557的合值就是7。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;5、跨度：当期开奖号码中最大号减最小号的值为跨度，也叫首尾边距(对组选号码来说的)，其最大边距为9，最小边距为0。如开奖号码为237，7-2=5，那么跨度值为5。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;6、振幅：振幅是指本期开奖号码与上期开奖号码按位比较的差值的绝对值。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;7、组6：由3个不同的数字排列的一组号码称为“组6”，又称三不同，如123、134、456等。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;8、组3：一注号码中，3个数字有2个数字相同，这样的号码称为“组3”又称“对子”，如002、122等。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp;1、排列三每天一期（除春节假期之外）</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2、排列三共设直选、组三和组六三个奖级，采用固定奖金结构</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;3、“排列三”、“排列五”每期共同摇奖，一次摇出5个号码，“排列三”的中奖号码为当期摇出的全部中奖号码的前3位，“排列五”的中奖号码为当期摇出的全部中奖号码。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/73.html">排列三 </a> <a href="../tag/10.html">数字彩 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/39.html">排列五</a></li>
                    <li class="haveline"><a href="../view/43.html">11选5</a></li>
                    <li><a href="../view/58.html">15选5</a></li>
                    <li class="haveline"><a href="../view/59.html">大乐透</a></li>
                    <li><a href="../view/60.html">福彩3D</a></li>
                    <li class="haveline"><a href="../view/61.html">快3</a></li>
                    <li><a href="../view/62.html">快乐扑克</a></li>
                    <li class="haveline"><a href="../view/64.html">七乐彩</a></li>
                    <li><a href="../view/65.html">七星彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 | <a href="http://www.miitbeian.gov.cn" target="_blank">黔ICP备18000990号-6</a> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>