<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>七乐彩-七乐彩规则|七乐彩玩法|七乐彩介绍-星城体育彩票百科</title>
    <meta name="keywords" content="七乐彩, 数字彩">
    <meta name="description" content="七乐彩，即从01-30共30个号码中选择7个号码组合为一注进行投注。由中国福利彩票发行管理中心统一组织发行，参加联合销售的各省中心合并奖池，统一计奖，统一开奖。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.macdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="../../zuqiu/javascript:;">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/5099d1d367c61a5d8bedc63b81387b0c.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>七乐彩</h2>
            <p>七乐彩，即从01-30共30个号码中选择7个号码组合为一注进行投注。由中国福利彩票发行管理中心统一组织发行，参加联合销售的各省中心合并奖池，统一计奖，统一开奖。</p>
            <a class="bshare-more myshare hide" title="七乐彩" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p>七乐彩，即从01-30共30个号码中选择7个号码组合为一注进行投注。由中国福利彩票发行管理中心统一组织发行，参加联合销售的各省中心合并奖池，统一计奖，统一开奖。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票发行与销售管理暂行规定》等相关规定，制定七乐彩的相关规则。</p>
                        <p>&nbsp;</p>
                        <p>全国联合销售30选7电脑福利彩票（以下称“七乐彩”）由中国福利彩票发行管理中心统一组织发行，由各省、自治区、直辖市福利彩票发行中心在本行政区域内联合销售。开奖时，除了开出7个基本号码之外，还会再开出1个特别号码。七乐彩设七个奖等，一至三等奖为高奖等，四至七等奖为低奖等。高奖等采用浮动设奖，低奖等采用固定设奖。</p>
                        <p>　　</p>
                        <p>七乐彩采用计算机网络系统销售，采取参加联合销售的各省中心合并奖池，统一计奖，统一开奖。</p>
                        <p>　　</p>
                        <p>七乐彩实行自愿购买，凡购买者均被视为同意并遵守本规则。不得向未成年人销售彩票或兑付奖金。</p>
                        <p>&nbsp;</p>
                        <p>七乐彩，是全国联合销售30选7电脑福利彩票，从01-30共30个号码中选择7个号码组合为一注投注号码。七乐彩投注方法分为自选号码投注和机选号码投注，投注方式分为单式投注、复式投注、胆拖投注和多倍投注。每注金额人民币2元。七乐彩单注奖金的最高限额为500万元。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p>七乐彩设奖奖金为销售总额的50%，其中当期奖金为销售总额的49%，调节基金为销售总额的1%。</p>
                        <p>&nbsp;</p>
                        <p>　　七乐彩当期奖金设七个奖等，一至三等奖为高奖等，四至七等奖为低奖等。高奖等采用浮动设奖，低奖等采用固定设奖。当期奖金减去当期低奖等奖金为当期高奖等奖金，具体设奖如下：</p>
                        <p>一等奖：投注号码与当期开奖号码中7个基本号码完全相同（顺序不限，下同），即中奖；奖金总额为当期高奖等奖金的70%；</p>
                        <p>&nbsp;</p>
                        <p>二等奖：投注号码与当期开奖号码中任意6个基本号码及特别号码相同，即中奖；奖金总额为当期高奖等奖金的10%；</p>
                        <p>&nbsp;</p>
                        <p>三等奖：投注号码与当期开奖号码中任意6个基本号码相同；，即中奖；奖金总额为当期高奖等奖金的20%；</p>
                        <p>&nbsp;</p>
                        <p>四等奖：投注号码与当期开奖号码中任意5个基本号码及特别号码相同，即中奖；单注奖金额固定为200元；</p>
                        <p>&nbsp;</p>
                        <p>五等奖：投注号码与当期开奖号码中任意5个基本号码相同，即中奖；单注奖金额固定为50元；</p>
                        <p>&nbsp;</p>
                        <p>六等奖：投注号码与当期开奖号码中任意4个基本号码及特别号码相同，即中奖；单注奖金额固定为10元；</p>
                        <p>&nbsp;</p>
                        <p>七等奖：投注号码与开奖号码中任意4个基本号码相同，即中奖；单注奖金额固定为5元。</p>
                        <p>&nbsp;</p>
                        <p>七乐彩单注奖金的最高限额为500万元。</p>
                        <p>&nbsp;</p>
                        <p>高奖等中奖者按各奖等的中奖注数均分该奖等奖金，并以元为单位取整计算；低奖等中奖者按各奖等的单注固定奖额获得奖金。当期每注投注号码只有一次中奖机会，不能兼中兼得（另行设奖按设奖规定执行）。</p>
                        <p>&nbsp;</p>
                        <p>七乐彩设立奖池，奖池由未中出的高奖等奖金和超出单注奖金封顶限额部分的奖金组成。奖池与当期奖金中用于一等奖的部分合并颁发一等奖奖金。</p>
                        <p>&nbsp;</p>
                        <p>调节基金包括按销售总额1%提取部分、弃奖奖金、浮动奖奖金按元取整后的余额。调节基金用于设置特别奖、调节浮动奖奖金、支付各种不可预见情况下的奖金支出风险。</p>
                        <p>&nbsp;</p>
                        <p>　　若当期高奖等单注奖额低于其次奖等单注奖额的二倍，应保证高奖等的单注奖额为其次奖等单注奖额的二倍，资金来源由调节基金补足，调节基金不足时由发行经费垫支。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p>七乐彩由中福彩中心统一开奖，每周一、三、五开奖。摇奖过程在公证人员监督下进行，通过公众媒体发布开奖公告。</p>
                        <p>&nbsp;</p>
                        <p>各省中心将当期投注的全部数据刻入不可改写的光盘，中福彩中心对各省中心的数据进行汇总。开奖后，以光盘记录的当期数据作为开奖检索的依据。</p>
                        <p>&nbsp;</p>
                        <p>七乐彩通过摇奖器确定开奖号码。摇奖时先摇出7个号码作为基本号码，再摇出1个号码作为特别号码。</p>
                        <p>&nbsp;</p>
                        <p>开奖公告在各地主要媒体公布，并在各投注站点张贴。</p>
                        <p>&nbsp;</p>
                        <p>　　七乐彩的开奖结果以中福彩中心公布的开奖公告为准。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p>彩票中奖者应当自开奖之日起60个自然日内，逾期不兑奖的视为弃奖。</p>
                        <p>&nbsp;</p>
                        <p>中奖人兑奖时须提交完整的兑奖彩票。中奖彩票因受损导致无法辨认真伪的，不予兑奖。</p>
                        <p>&nbsp;</p>
                        <p>各省具体兑奖规定按各省中心的兑奖规定执行。</p>
                        <p>&nbsp;</p>
                        <p>　　单注彩票中奖金额超过一万元者，须缴纳个人所得税，所得税由兑奖机构代扣代缴。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p>1、重叠码：与上期开出的中奖号码相同的号码就称为重叠码。</p>
                        <p>2、边码：与上期开出的中奖号码加减余1的号码就称为边码，如上期开出03，本期开出02或04，都是边码。</p>
                        <p>3、斜连码：与历期中奖号码构成斜连形状的号码称为斜连码。</p>
                        <p>4、对望码：上下数期直观上呈现一定规律出现的号码称为对望码，对望码可分为等量、递减、递增、倍增、倍减出现的对望码五种。</p>
                        <p>5、三角码：走势图上3个号码呈现三角形形状的号码称为三角码。</p>
                        <p>6、黄金码：指在走势图竖看而按黄金分割法间隔1、2、3、5、8、13、21等而出现的号码，就称为黄金码。</p>
                        <p>7、空门码：与历期特别是最近4期中奖号码没有任何联系的号码称为空门码。</p>
                        <p>8、关系码：指与历期尤其是最近4期的中奖号码有联系的号码，一般重叠码、边码、斜连码、三角码、对望码、弧形码等均归入关系码行列。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;9、极差：指7个中奖号码中最大的号码和最小的号码之间的差。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;10、叠连和连叠码：指上期中奖号码出现后，引出下期1组相重叠的连码，或者上期出现连码后，引出下期其中1个号码重叠，就分别称为叠连码和连叠码。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp; 1、七乐彩单注奖金的最高限额为500万元</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、开奖时，除了开出7个基本号码之外，还会再开出1个特别号码</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、七乐彩当期奖金设七个奖等，一至三等奖为高奖等，四至七等奖为低奖等。高奖等采用浮动设奖，低奖等采用固定设奖</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/74.html">七乐彩 </a> <a href="../tag/10.html">数字彩 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/39.html">排列五</a></li>
                    <li class="haveline"><a href="../view/43.html">11选5</a></li>
                    <li><a href="../view/58.html">15选5</a></li>
                    <li class="haveline"><a href="../view/59.html">大乐透</a></li>
                    <li><a href="../view/60.html">福彩3D</a></li>
                    <li class="haveline"><a href="../view/61.html">快3</a></li>
                    <li><a href="../view/62.html">快乐扑克</a></li>
                    <li class="haveline"><a href="../view/63.html">排列三</a></li>
                    <li><a href="../view/65.html">七星彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float '" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p><i class="icon-hint"></i> 确定退出？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <img src="../base/img/login-img.png">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="javascript:;"><i class="icon-btn_tencent40x40_n"></i></a>
                            <a href="javascript:;"><i class="icon-btn_sina40x40_n disabled"></i></a>
                            <a href="javascript:;"><i class="icon-btn_wechat40x40_n disabled"></i></a>
                        </div>
                        <p>登陆后方可添加收藏、发表留言</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>