<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>七星彩-七星彩规则|七星彩玩法|七星彩介绍-星城体育彩票百科</title>
    <meta name="keywords" content="七星彩, 数字彩">
    <meta name="description" content="七星彩是由中国国家体育总局体育彩票管理中心统一发行 的，任意选择7位自然数排列的投注方法。7星彩共设六个奖级， 一、二等奖为浮动奖，三、四、五、六等奖为固定奖。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../../database/index.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="http://news.xincastle-sports.com/">情报中心</a></li>
                <li><a href="http://xinc.tw/livesport/app/">App下载</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;" onclick="LogoutDialogue();">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="../base/login.html" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/87385b8c89671fbcbb0ff78b7a6842df.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>七星彩</h2>
            <p>七星彩是由中国国家体育总局体育彩票管理中心统一发行 的，任意选择7位自然数排列的投注方法。7星彩共设六个奖级， 一、二等奖为浮动奖，三、四、五、六等奖为固定奖。
            </p>
            <a class="bshare-more myshare hide" title="七星彩" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>简介</h3>
                    <div>
                        <p>七星彩是中国国家体育总局体育彩票管理中心统一发行、销售及派奖的数字彩票游戏，于2004年5月18日在全国联网统一销售。7星彩是指选择任意7位自然数，即从0000000-9999999中选择一组或者多组进行投注。每注金额人民币2元。购买者可进行多倍投注，投注倍数范围为2-99倍。单张彩票最大投注数量不得超过10000注。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>规则</h3>
                    <div>
                        <p>根据《彩票发行与销售管理暂行规定》等相关规定，制定七星彩的相关规则。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;7星彩采用计算机网络系统发行，在各省、自治区、直辖市体育彩票管理中心设置的投注站点销售，每周二、周五、周日定期开奖。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;7星彩实行自愿购买，凡购票者均被视为同意并遵守本规则。不得向未成年人销售彩票或兑付奖金。</p>
                        <p>7星彩是指任意选择7位自然数进行的投注，一组7位数的排列称为一注，每注金额人民币2元。购买者可进行多倍投注，投注倍数范围为2-99倍。单张彩票最大投注数量不得超过10000注。</p>
                        <p>投注者可选择机选号码投注、自选号码投注。机选号码投注即由投注机随机产生投注号码进行投注，自选号码投注即将投注者选定的号码输入投注机进行投注。</p>
                        <p>7星彩采取有纸化投注，投注号码经投注机打印出对奖凭证，交投注者保存，此对奖凭证即为7星彩彩票。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖金</h3>
                    <div>
                        <p>7星彩按当期销售额的50%、15%、35%分别计提返奖奖金、彩票发行费和彩票公益金。返奖奖金分为当期奖金和调节基金，其中，49%为当期奖金，1%为调节基金。</p>
                        <p>7星彩共设六个奖级，一、二等奖为浮动奖，三、四、五、六等奖为固定奖。各奖级和奖金规定如下：</p>
                        <p>一等奖：窗体顶端</p>
                        <p>窗体底端</p>
                        <p>一等奖：投注号码与开奖号码全部相符且排列一致，即中奖；奖金总额为当期奖金额减去固定奖总额后的90%，以及奖池资金和调节基金转入部分</p>
                        <p>二等奖：投注号码有连续6位号码与开奖号码相同位置的连续6位号码相同，即中奖；奖金总额为当期奖金额减去固定奖总额后的10%</p>
                        <p>三等奖：投注号码有连续5位号码与开奖号码相同位置的连续5位号码相同，即中奖；单注奖金固定为1800元</p>
                        <p>四等奖：投注号码有连续4位号码与开奖号码相同位置的连续4位号码相同，即中奖；单注奖金固定为300元</p>
                        <p>五等奖：投注号码有连续3位号码与开奖号码相同位置的连续3位号码相同，即中奖；单注奖金固定为20元</p>
                        <p>六等奖：投注号码有连续2位号码与开奖号码相同位置的连续2位号码相同，即中奖；单注奖金固定为5元。</p>
                        <p>7星彩单注彩票中奖奖金最高限额500万元。</p>
                        <p>7星彩设置奖池，奖池由未中出的浮动奖奖金和超出浮动奖单注奖金封顶限额部分的奖金组成。奖池与当期奖金中用于一等奖的部分及调节基金转入部分合并颁发一等奖奖金。</p>
                        <p>当奖池资金超过8000万元(含)时，下期一等奖与二等奖奖金分配比例倒置，即：一等奖分配奖金为当期奖金额减去固定奖总额后的10%；二等奖分配奖金为当期奖金额减去固定奖总额后的90%。</p>
                        <p>调节基金包括按销售总额的1%提取部分、浮动奖奖金取整后的余额、弃奖收入和逾期未退票的票款。调节基金专项用于支付各种不可预见情况下的奖金支出风险、调节浮动奖奖金以及设立特别奖。动用调节基金设立特别奖，应当报财政部审核批准。</p>
                        <p>一、二等奖按照该奖级实际中奖注数平均分配该奖级奖金。当上一奖级单注奖金低于(或等于)下一奖级单注奖金时，上一奖级单注奖金补足至下一奖级单注奖金的二倍。所需资金从调节基金中支付，若调节基金不足时，用彩票发行费垫支。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>开奖</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp;7星彩每周二、五、日开奖，摇奖过程在公证人员监督下进行，通过电视台播出。开奖时按顺序摇出7个号码，该7个号码的排列为当期开奖号码。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;每期开奖后，国家体育总局体育彩票管理中心需将开奖号码、当期销售总额、各奖级中奖情况以及奖池资金余额等信息，通过新闻媒体向社会公布，并将开奖结果通知各销售终端。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>兑奖</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp;7星彩兑奖当期有效。每期自开奖之日起60个自然日为兑奖期，逾期未兑奖视为弃奖，弃奖奖金纳入调节基金。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。</p>
                        <p>凡伪造、涂改中奖彩票，冒领奖金者，送交司法机关追究法律责任。</p>
                        <p>单注彩票中奖金额超过1万元的中奖者须依法缴纳个人所得税，由兑奖机构代扣代缴。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>术语</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp;1、和值：各号码之和。例：06046期开奖号码为1074525，则该组号码的和值数为24。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2、平均值：和值的平均数。例：06046期开奖号码为1074525，和值为24则该组号码的平均值为4。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;3、顺号：两个从小到大连续号码称为二顺号，如：12、23、34;三个连续号码称为三顺号如012、234、789……以此类推。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;4、逆号：两个或两个以上的从大到小的连续号码称为逆号，如21、543、9876等。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;5、最大间距：指所有的相邻两位号码的间距值中的最大值，也称跨度。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;6、首尾间距：指第一位与第七位之差的绝对值。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;7、对子：开奖号码中有相连的两位开出相同的号码，称为对子，如00、11等。同理开出3个的称为三连对，如000、111等。其它如此类推。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;8、012路：七星彩中，把0、3、6、9定义为0路数字，1、4、7定义为1路数字，2、5、8定义为2路数字。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>涨姿势</h3>
                    <div>
                        <p>&nbsp; &nbsp; &nbsp; 1、七星彩是数字彩票游戏，于2004年5月18日在全国联网统一销售</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、窗体顶端</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;窗体底端</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、7星彩单注彩票中奖奖金最高限额500万元</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、7星彩是指从0000000-9999999中选择任意选择7位进行投注，一组7位数的排列称为一注</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/75.html">七星彩 </a> <a href="../tag/10.html">数字彩 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/38.html">幸运赛车</a></li>
                    <li><a href="../view/39.html">排列五</a></li>
                    <li class="haveline"><a href="../view/43.html">11选5</a></li>
                    <li><a href="../view/58.html">15选5</a></li>
                    <li class="haveline"><a href="../view/59.html">大乐透</a></li>
                    <li><a href="../view/60.html">福彩3D</a></li>
                    <li class="haveline"><a href="../view/61.html">快3</a></li>
                    <li><a href="../view/62.html">快乐扑克</a></li>
                    <li class="haveline"><a href="../view/63.html">排列三</a></li>
                    <li><a href="../view/64.html">七乐彩</a></li>
                    <li class="haveline"><a href="../view/66.html">时时彩</a></li>
                    <li><a href="../view/67.html">双色球</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 | <a href="http://www.miitbeian.gov.cn" target="_blank">黔ICP备18000990号-6</a> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>