<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="utf-8">
    <title>博尔特-博尔特规则|博尔特玩法|博尔特介绍-星城体育彩票百科</title>
    <meta name="keywords" content="短跑,牙买加,博尔特">
    <meta name="description" content="2008年夏季奥林匹克运动会，博尔特成为首位在单届奥运会三项短跑赛事中皆打破世界纪录的选手。2011年，博尔特成为史上首位同时拥有100米及200米及4×100米接力世界纪录与奥运冠军头衔的选手。">
    <meta name="decorator" content="analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../base/favicon.ico" />
    <link href="../../base/css/lity.css" rel="stylesheet">
    <link href="../../base/css/common.css" rel="stylesheet">
    <link href="../../zuqiu/css/shujufenxi.css" rel="stylesheet">
    <link href="../css/caipiao-citiaozhanshi.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="ss-header hide" id="ss-header">
            <div class="header-wrap">
                <ul>
                    <li><a href="javascript:;">设为首页</a></li>
                    <li><a href="javascript:;">加入收藏</a></li>
                    <li class="last-li"><a href="javascript:;" target="_blank">网站导航</a></li>
                    <li class="icons-li last-li"> <a href="javascript:;" target="_blank"><i class="icons-i icon-ico_mobile_10x15"></i>手机客户端</a></li>
                </ul>
            </div>
        </div>
        <!--ss-header-->
        <a class="sslogo" href="#"><img src="../../base/img/logo.png"></a>
        <!--navbar-header-->
        <div class="wrap">
            <ul class="nav navbar-nav">
                <li><a href="../../zuqiu/index.html">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">即时比分
                                <span class="caret"></span>
                            </a>
                    <ul class="dropdown-menu red">
                        <!--移除red可显示黑色面板-->
                        <i class="icon-w-arrow"></i>
                        <div class="line"></div>
                        <li class="link active"><a href="../../zuqiu/index.html">足球比分</a></li>
                        <li class="link"><a href="../../lanqiu/index.html">篮球比分</a></li>
                        <li class="link none"><a href="#">网球</a></li>
                        <li class="link none"><a ref="#">棒球</a></li>
                        <li class="link none"><a href="#">橄榄球</a></li>
                        <li class="link none"><a href="#">斯诺克</a></li>
                        <li class="link none"><a href="#">赛车</a></li>
                        <li class="link none"><a href="#">赛马</a></li>
                    </ul>
                </li>
                <li><a href="../../zuqiu/database.html">资料库</a></li>
                <li class="active"><a href="../wiki/index.html">彩票百科</a></li>
                <li><a href="../../zuqiu/javascript:;">情报中心</a></li>
            </ul>
            </ul>
        </div>
        <ul class="nav navbar-nav navright">
            <li class="navbar-btn">
                <a class="btn-storev" href="javascript:;"><span class="shine chrome">储值星币</span></a>
            </li>
            <li class="showvalue"><i class="icon-coins"></i>18925</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <img class="nav-user-photo" src="../../base/img/userIcon.png" alt="使用者头像">
                        <span class="user-info">nlstudio7197</span>
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                    <i class="icon-w-arrow"></i>
                    <li><a href="javascript:;">星币充值</a></li>
                    <li><a href="javascript:;">我的资料</a></li>
                    <li><a href="javascript:;">联络客服</a></li>
                    <li class="divider"></li>
                    <li><a class="btn-logout" href="javascript:;">退出</a></li>
                </ul>
            </li>
            <li class="navbar-btn">
                <a href="javascript:;" class="btn btn-login" role="button">登入</a>
            </li>
        </ul>
        <!--navright-->
    </nav>
    <!--导航-->
    <div id="breadnav">
        <div class="parallelogram2"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../zuqiu/index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="../index.html">彩票百科</a></li>
            <li class="breadcrumb-item"><a href="../catalog/7.html">彩票名词</a></li>
            <li class="breadcrumb-item active">五大联赛</li>
        </ol>
    </div>
    <!--breadcrumb-->
    <!--词条标题内容解释-->
    <div class="entry-header"> <img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/252" alt="">
        <div class="entry-info">
            <h2>博尔特</h2>
            <p>2008年夏季奥林匹克运动会，博尔特成为首位在单届奥运会三项短跑赛事中皆打破世界纪录的选手。2011年，博尔特成为史上首位同时拥有100米及200米及4×100米接力世界纪录与奥运冠军头衔的选手。</p>
            <a class="bshare-more myshare hide" title="博尔特" href="#" id="bshare-shareto"><i class="icon_share"></i>分享</a> </div>
    </div>
    <!--词条详情-->
    <div class="entry-area">
        <div class="area-left">
            <div class="entry-details"> <em class="myline"></em>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>生涯简介</h3>
                    <div>
                        <p><img src="../images/editor/1461737572.jpg" title="editor/1461737572.jpg" alt="editor/1461737572.jpg" width="700" height="394" border="0" vspace="0" style="width: 700px; height: 394px;"></p>
                        <p>尤塞恩·圣李奥·博尔特（英语：Usain St. Leo Bolt，1986年8月21日－），牙买加短跑运动员，身高196公分，体重86公斤（2009年）。他是男子100米、男子200米以及男子400米接力赛的世界纪录保持人，同时也拥有以上三项赛事的奥运金牌。2008年夏季奥林匹克运动会，博尔特成为首位在单届奥运会三项短跑赛事中皆打破世界纪录的选手，同时也是自1984年卡尔·刘易斯高悬纪录以来、首位在单届奥运会勇夺三项短跑赛事冠军的选手。2009年，博尔特成为史上首位同时拥有100米及200米世界纪录与奥运冠军头衔的选手。2011年，博尔特成为史上首位同时拥有100米及200米及4×100米接力世界纪录与奥运冠军头衔的选手。</p>
                        <p>2002年，博尔特在世界青年田径锦标赛男子200米项目首度展露锋芒，以16岁之龄成为赛史上最年轻的金牌得主。2004年，他在男子200米项目跑出19.93秒的成绩，以0.2秒之差打破罗伊·马丁的青少年世界记录、成为首位跑入20秒以内的青少年选手。博尔特于2004年转职业，但因伤缺席二季比赛，直到2004年夏季奥林匹克运动会首度参赛。2007年，他在200米项目跑出19.75秒成绩，打破唐·奎利所创下的牙买加国家纪录。2008年5月，博尔特以9.72秒的成绩立下他个人的首个男子100米短跑世界纪录。他随后在2008年夏季奥林匹克运动会双双打破男子100米及200米的世界纪录：其中100米项目以9.69秒突破个人先前9.72秒的纪录，200米则以19.30秒取代麦可·强森在1996年亚特兰大夏季奥运会的19.32秒障碍。北京奥运翌年、2009年8月，博尔特在2009年世界田径锦标赛分别以9.58秒与19.19秒的成绩突破个人100米及200米项目纪录、再高竖障碍。他是自采用数位计时以来，以最大秒数差打破100米世界纪录的选手。他惊人的短跑成就为他赢得了“闪电博尔特”的外号。</p>
                        <p>一般而言，体格高大的短跑选手会有风阻大、脚步运转较慢的不利因素，然而就博尔特而言，他不但得利于高大身材者才能拥有的大跨距，而且他的脚步运转速度并不逊于体格比他小的选手，所以能屡破世界纪录。博尔特胜利时喜欢做一个类似朝天射箭的姿势，为其著名的个人特色。除此之外，博尔特虽然身高196cm（如果在NBA，196cm算偏矮），但他的弹跳力十分惊人，在2013年NBA全明星名人赛中轻易做出了两个灌篮动作。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>个人最佳成绩</h3>
                    <div>
                        <p><img src="../images/editor/1461737968.jpg" title="editor/1461737968.jpg" alt="editor/1461737968.jpg" width="700" height="534" border="0" vspace="0" style="width: 700px; height: 534px;"></p>
                        <p>正式记录：</p>
                        <p>2009年8月16日<span class="Apple-tab-span" style="white-space: pre;"></span>100米<span class="Apple-tab-span" style="white-space: pre;"></span>德国柏林<span class="Apple-tab-span" style="white-space: pre;"></span>9秒58（+0.9米/秒，世界纪录）World Record</p>
                        <p>2009年8月20日<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>德国柏林<span class="Apple-tab-span" style="white-space:pre"></span>19秒19（-0.3米/秒，世界纪录）World Record</p>
                        <p>2010年5月28日<span class="Apple-tab-span" style="white-space:pre"></span>300米<span class="Apple-tab-span" style="white-space:pre"></span>捷克俄斯特拉发<span class="Apple-tab-span" style="white-space:pre"></span>30秒97</p>
                        <p>2007年5月5日<span class="Apple-tab-span" style="white-space:pre"></span>400米<span class="Apple-tab-span" style="white-space:pre"></span>牙买加京斯敦<span class="Apple-tab-span" style="white-space:pre"></span>45秒28</p>
                        <p>2012年8月11日<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>英国伦敦<span class="Apple-tab-span" style="white-space:pre"></span>36秒84（第4棒，世界纪录）World Record</p>
                        <p>2014年8月3日<span class="Apple-tab-span" style="white-space: pre;"></span>4×100米接力<span class="Apple-tab-span" style="white-space: pre;"></span>苏格兰格拉斯哥<span class="Apple-tab-span" style="white-space: pre;"></span>37秒58（第4棒，英联邦纪录）</p>
                        <p>参考记录：</p>
                        <p>2009年5月18日<span class="Apple-tab-span" style="white-space: pre;"></span>150米<span class="Apple-tab-span" style="white-space: pre;"></span>英格兰曼彻斯特<span class="Apple-tab-span" style="white-space: pre;"></span>14秒35（+1.1米/秒，直线跑道的史上最好成绩）</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>成就</h3>
                    <div>
                        <p>2002年7月19日，在世界青少年田径锦标赛男子200米决赛（20岁以下）中，以20秒61的成绩赢取冠军。成为15岁的史上最年轻的200米青少年冠军。他的外号“闪电”（lightning）也是从这个时候得到的。他的姓氏“Bolt”在英文里也有“闪电”的意思。</p>
                        <p>2003年7月13日，在世界青少年田径锦标赛男子200米决赛（18岁以下）中，以20秒40的成绩赢取冠军。</p>
                        <p>2004年4月11日，200米跑出19秒93的成绩，打破了青少年世界纪录。成为20岁以下，第一个跑进20秒的选手。</p>
                        <p>2007年8月30日，在大阪世界田径锦标赛男子200米决赛中，以19秒91的成绩获得亚军。</p>
                        <p>2007年9月1日，在大阪世界田径锦标赛男子4×100米接力决赛中，代表牙买加队跑第2棒，以37秒89的成绩获得亚军，打破了牙买加国家纪录（当时）。</p>
                        <p>2008年5月31日，在纽约锐步大奖赛男子100米比赛中，以9秒72的成绩战胜了2007年大阪田径世锦赛叁冠王泰森·盖伊赢取冠军，并打破了同胞阿萨法·鲍威尔2007年创造的世界纪录（当时）。这场比赛是他正式参加100米后的第5场比赛。</p>
                        <p>2008年8月16日，在北京奥运会田径男子100米决赛中，以9秒69的成绩赢取冠军，再次打破了自己保持的世界纪录。在最后10米，他张开双臂，开始放慢速度，拍着自己的胸脯冲过了终点线。在世界级比赛中，做了史无前例的表演，给人们留下了深刻的印象。与第2名的差距为0秒20，和卡尔·刘易斯在1984年洛杉矶奥运会与第2名的差距相同，成为奥运会和世锦赛史上最大的差距。</p>
                        <p>2008年8月20日，在北京奥运会田径男子200米决赛中，面对着风速-0.9米/秒的不利环境，以19秒30的成绩赢取冠军，打破了迈克尔·约翰逊在1996年创造的世界纪录。与第2名的差距为0秒66，这是奥运会和世锦赛史上最大的差距。也成为史上第一个同时赢取100米，200米两项冠军，并且两项都打破世界纪录的选手。</p>
                        <p>2008年8月22日，在北京奥运会田径男子4×100米接力决赛中，代表牙买加队跑第3棒，以37秒10的成绩赢取冠军，打破了美国队在1992年创造的世界纪录。最终在北京奥运会获得叁项冠军，并且叁项都打破了世界纪录，这是田径史上前无古人的表现。</p>
                        <p>2009年4月29日，因遇到车祸而受伤，左脚做了手术。</p>
                        <p>2009年5月17日，在曼彻斯特马路赛男子150米比赛中，以14秒35赢取冠军，创造直线150米史上最好的成绩（参考纪录）。</p>
                        <p>2009年8月16日，在柏林世界田径锦标赛男子100米决赛中，以9秒58赢取冠军，领先了第2名跑出9秒71（美国纪录，史上第3好成绩）的泰森·盖伊0秒13的差距，再次打破了自己保持的世界纪录，并将世界纪录刷新0.11秒，这是田径男子100米世界纪录史上最大幅度的更新。同时也成为了史上第一个共打破3次100米世界纪录的选手。</p>
                        <p>2009年8月20日，在柏林世界田径锦标赛男子200米决赛中，在先前有人抢跑，风速-0.3米/秒的不利环境中，以19秒19的成绩赢取冠军，再次打破了自己保持的世界纪录，将世界纪录提高了0.11秒。非常巧合的是，他在8月16日创造的100米世界纪录，也是将以前的世界纪录提高了0.11秒。</p>
                        <p><img src="../images/editor/1461737861.JPG" title="editor/1461737861.JPG" alt="editor/1461737861.JPG" width="700" height="466" border="0" vspace="0" style="width: 700px; height: 466px;"></p>
                        <p>2009年8月22日，在柏林世界田径锦标赛男子4×100米接力决赛中，代表牙买加队跑第3棒，以37秒31的成绩赢取冠军，打破了美国队在1993年创造的世锦赛纪录。</p>
                        <p>2010年5月2日，在牙买加国际田径邀请赛200米决赛，以19秒56的成绩夺冠并打破赛会纪录。</p>
                        <p>2010年5月28日，在国际田联世界挑战赛捷克俄斯特拉发站300米比赛中，以30秒97的成绩夺冠并打破赛会纪录。</p>
                        <p>2011年8月28日，在韩国大邱举行的世界田径锦标赛男子100米决赛中，由于抢跑被取消比赛资格。9月3日，他在200米决赛以19秒40成绩成功卫冕冠军。9月4日，他在4×100米接力决赛中，代表牙买加跑最后一棒，以37秒04的成绩成功卫冕，亦刷新世界纪录。</p>
                        <p>2012年伦敦奥运会以9秒63跑进一百米冠军,更打破了奥运会记录，以19秒32成功卫冕200米冠军，与队友约翰·布莱克等一起以36秒84的成绩打破4×100米接力的世界记录并再次卫冕冠军。</p>
                        <p>2013年8月11日，在俄罗斯莫斯科举行的世界田径锦标赛100米决赛，以9秒77成绩赢取冠军。8月17日，他在200米决赛以19秒66成绩再次卫冕冠军。8月18日，他在4x100米接力决赛中，代表牙买加队跑最后一棒，以37秒36的成绩再次卫冕冠军。</p>
                        <p>2015年7月24日，在田径钻石联赛伦敦站的100米决赛，以9秒87赢取冠军。</p>
                        <p>2015年8月23日，在北京鸟巢举行的2015年世界田径锦标赛上以9秒79的成绩卫冕100米冠军。8月27日，以19秒55的成绩卫冕200米冠军。8月29日，在4x100米接力决赛中，代表牙买加队跑最后一棒，以37秒36的成绩实现单项四连冠。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="charac"> <i class="point_4x4_r"></i> <i class="arrow_subform_9x14"></i>
                    <h3>奖项</h3>
                    <div>
                        <p><img src="../images/editor/1461737930.jpg" title="editor/1461737930.jpg" alt="editor/1461737930.jpg" width="700" height="442" border="0" vspace="0" style="width: 700px; height: 442px;"></p>
                        <p>2002<span class="Apple-tab-span" style="white-space: pre;"></span>世界少年田径锦标赛<span class="Apple-tab-span" style="white-space: pre;"></span>牙买加京斯敦<span class="Apple-tab-span" style="white-space: pre;"></span>金牌<span class="Apple-tab-span" style="white-space: pre;"></span>200米<span class="Apple-tab-span" style="white-space: pre;"></span>20秒61</p>
                        <p>2002<span class="Apple-tab-span" style="white-space:pre"></span>世界少年田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>牙买加京斯敦<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>39秒15（牙买加青少年纪录）</p>
                        <p>2002<span class="Apple-tab-span" style="white-space:pre"></span>世界少年田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>牙买加京斯敦<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×400米接力<span class="Apple-tab-span" style="white-space:pre"></span>3分04秒06（牙买加青少年纪录）</p>
                        <p>2003<span class="Apple-tab-span" style="white-space:pre"></span>世界青年田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>加拿大舍布鲁克<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>20秒40</p>
                        <p>2004<span class="Apple-tab-span" style="white-space:pre"></span>加勒比田径大奖赛<span class="Apple-tab-span" style="white-space:pre"></span>百慕大汉密尔顿<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒93（世界青少年纪录）</p>
                        <p>2005<span class="Apple-tab-span" style="white-space:pre"></span>中美加勒比田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>巴哈马拿索<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>20秒03</p>
                        <p>2008<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>中国北京<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>100米<span class="Apple-tab-span" style="white-space:pre"></span>9秒69（奥运会纪录）</p>
                        <p>2008<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>中国北京<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒30（奥运会纪录）</p>
                        <p>2008<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>中国北京<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>37秒10（世界纪录，奥运会纪录）</p>
                        <p>2009<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>德国柏林<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>100米<span class="Apple-tab-span" style="white-space:pre"></span>9秒58（世界纪录）</p>
                        <p>2009<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>德国柏林<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒19（世界纪录）</p>
                        <p>2009<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>德国柏林<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>37秒31（世锦赛纪录）</p>
                        <p>2011<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>韩国大邱<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒40</p>
                        <p>2011<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>韩国大邱<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>37秒04（世界纪录，世锦赛纪录）</p>
                        <p>2012<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>英国伦敦<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>100米<span class="Apple-tab-span" style="white-space:pre"></span>9秒63（奥运会纪录）</p>
                        <p>2012<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>英国伦敦<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒32</p>
                        <p>2012<span class="Apple-tab-span" style="white-space:pre"></span>奥林匹克运动会<span class="Apple-tab-span" style="white-space:pre"></span>英国伦敦<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4×100米接力<span class="Apple-tab-span" style="white-space:pre"></span>36秒84（世界纪录，奥运会纪录）</p>
                        <p>2013<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>俄罗斯莫斯科<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>100米<span class="Apple-tab-span" style="white-space:pre"></span>9秒77</p>
                        <p>2013<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>俄罗斯莫斯科<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒66</p>
                        <p>2013<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>俄罗斯莫斯科<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>4x100米接力<span class="Apple-tab-span" style="white-space:pre"></span>37秒36</p>
                        <p>2015<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>中国北京<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>100米<span class="Apple-tab-span" style="white-space:pre"></span>9秒79</p>
                        <p>2015<span class="Apple-tab-span" style="white-space:pre"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space:pre"></span>中国北京<span class="Apple-tab-span" style="white-space:pre"></span>金牌<span class="Apple-tab-span" style="white-space:pre"></span>200米<span class="Apple-tab-span" style="white-space:pre"></span>19秒55</p>
                        <p>2015<span class="Apple-tab-span" style="white-space: pre;"></span>世界田径锦标赛<span class="Apple-tab-span" style="white-space: pre;"></span>中国北京<span class="Apple-tab-span" style="white-space: pre;"></span>金牌<span class="Apple-tab-span" style="white-space: pre;"></span>4x100米接力<span class="Apple-tab-span" style="white-space: pre;"></span>37秒36</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mylabel"> 标签： <a href="../tag/105.html">短跑 </a> <a href="../tag/106.html">牙买加 </a> <a href="../tag/107.html">博尔特 </a> </div>
        </div>
        <div class="area-right">
            <form action="/lotterywiki/search" method="get" class="search-input hide">
                <i class="icon-icon_check"></i>
                <input name="k" required="" placeholder="你想找的词条" type="text" class="ipt">
                <input type="submit" value="搜索" class="btn">
            </form>
            <div class="related-term">
                <h4>相关词条</h4>
                <ul class="term-list">
                    <li class="haveline"><a href="../view/86.html">梅西</a></li>
                    <li><a href="../view/87.html">C罗</a></li>
                    <li class="haveline"><a href="../view/88.html">勒布朗·詹姆斯</a></li>
                    <li><a href="../view/89.html">科比·布莱恩特</a></li>
                    <li class="haveline"><a href="../view/90.html">德约科维奇</a></li>
                    <li><a href="../view/92.html">小威廉姆斯</a></li>
                </ul>
            </div>
            <div class="latest-entry">
                <h4>最新词条</h4>
                <ul class="img-list">
                    <li><a href="../view/92.html"><img src="../images/cover/eccd1c651e5220b7c224c8f2dcb4a6c3.png?imageView2/2/w/60" alt="">
          <h6>小威廉姆斯</h6>
          </a></li>
                    <li><a href="../view/91.html"><img src="../images/cover/9d8168bae1964546f36512870faaf53f.png?imageView2/2/w/60" alt="">
          <h6>博尔特</h6>
          </a></li>
                    <li><a href="../view/90.html"><img src="../images/cover/915c646ddbefc69fc7112bdf90452329.png?imageView2/2/w/60" alt="">
          <h6>德约科维奇</h6>
          </a></li>
                </ul>
                <ul class="m-list">
                    <li class=" first huise explain">
                        <a href="../view/89.html">
                            <h6>科比·布莱恩特，单场拿下过81分可以和乔丹相提并论的“篮球之神”。</h6>
                            <p>科比·布莱恩特（英语：Kobe Bryant，1978年8月23日－）是一名已退役的美国NBA篮球传奇球星，普遍被认为是历史上最有资格与“篮球之神”迈克尔·乔丹(Michael Jordan)相提并论的球员。有“黑曼巴”、“小飞侠”之称。</p>
                        </a>
                    </li>
                    <li class=" explain">
                        <a href="../view/88.html">
                            <h6>詹姆斯绰号“小皇帝”，是NBA乃至世界范围内最优秀的篮球运动员之一</h6>
                            <p>勒布朗·瑞蒙·詹姆斯（英语：LeBron Raymone James，1984年12月30日－），生于美国俄亥俄州阿克伦，职业篮球运动员，现效力于NBA联盟克利夫兰骑士队，场上位置为小前锋。绰号为“小皇帝”。</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/87.html">
                            <h6>C罗是一个不可多得的球员，他是为进球为胜利而生的天才</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/86.html">
                            <h6>梅西是一个集细腻的盘带、非凡的控球、丰富的创造力、难以置信的进球于一体的伟大球星</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class="">
                        <a href="../view/85.html">
                            <h6>流水是经济学的专业名词，指的是商品交易的总金额。在博彩中是指彩民在一段时间内的投注总额。</h6>
                            <p></p>
                        </a>
                    </li>
                    <li class=" huise">
                        <a href="../view/84.html">
                            <h6>操盘手负责操纵庄家所开的所有比赛盘口，他通过调整比赛的盘口和水位以吸引彩民投注及平衡投注资金对冲风险。</h6>
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ol>
            <li>Copyright © 2017 星城体育 <span class="hidden-xs">Sport.StarKing.</span> ALL Rights Reserved</li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">关于星城</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">免责声明</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">网站地图</a></li>
            <li class="hidden-xs"><a href="javascript:;" target="_blank">联系方式</a></li>
        </ol>
    </footer>
    <!-- 浮动工具箱 -->
    <div class="ss-tool-float '" id="ss-tool-float">
        <div class="back-remark" id="back-remark"><a href="javascript:;"><i class="icon-btn_feedback_n unhide"></i><span class="hide">反馈</span></a></div>
        <div class="back-top" id="back-top"><a href="javascript:;"><i class="icon-btn_backtop_n unhide"></i><span class="hide">回顶部</span></a></div>
    </div>
    <!--ss-tool-float-->
    <!--意见反馈-->
    <div class="feedback-wrap hide">
        <div class="feedback-bg"></div>
        <div class="feedback-box">
            <div class="box-hd"> <i class="icon-btn_close close-feedback"></i>
                <h2><i class="icon-icon_feedback"></i>反馈</h2>
                <h3><i class="icon-icon_comment"></i>亲爱的用户，您有什么好的想法和建议？请尽情告诉我们为您解决吧！</h3>
            </div>
            <div class="box-bd">
                <form action="" class="feedback-form" id="feedbackForm" novalidate>
                    <div class="text-box">
                        <div class="tab-con" id="feedbackType"> <span class="current">意见反馈</span> <span>比分错误</span> <span>帐号安全</span> <span>其他</span> </div>
                        <input type="text" name="type" class="feedback-type">
                        <div class="text-area">
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                            <label for="">反馈内容控制在500字以内</label>
                        </div>
                    </div>
                    <p> <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" />
                    </p>
                    <p class="test-area " id="feedback-captcha">我是验证码</p>
                    <button class="submit-feedback" type="submit">提交反馈</button>
                </form>
            </div>
        </div>
    </div>
    <!--登录弹屏-->
    <div class="login-sign-box hide">
        <!-- 登录退出 BEGIN-->
        <div class="exit-login hide">
            <div class="hd-tip"><span>提示</span> <i class="icon-btn_close user-exit-btn"></i></div>
            <p>确定退出登录？</p>
            <div class="btn-box">
                <button class="sure-btn" id="exitLogin">确定</button>
                <button class="cancel-btn">取消</button>
            </div>
        </div>
        <!-- 登录退出 END-->
        <div class="grey-bg" id="layoutBg"></div>
        <div class="login-box" id="loginBox">
            <div class="box-bd">
                <div class="login-area"> <i class="icon-btn_close close-login"></i>
                    <div class="other-login">
                        <div class="tit">第三方登录</div>
                        <div class="links">
                            <a href="javascript:;"><i class="icon-btn_tencent40x40_n"></i></a>
                        </div>
                        <form class="inputbox">
                            <input type="text" id="fname" name="fname" placeholder="填写您的QQ号">
                            <input type="button" id="vcode" name="vcode" value="取得验证码">
                            <input type="text" id="entervcode" name="entervcode" placeholder="验证码">
                        </form>
                        <div class="btn-2">
                            <button class="button-s">送出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../base/js/jquery-1.11.3.min.js"></script>
    <!-- Site's js file -->
    <script type="text/javascript" charset="utf-8" src="../../base/js/common.js"></script>
</body>

</html>