@charset "utf-8";
/* CSS Document */
a, input{outline: 0}
body,html { padding:0;margin:0; } 

body {
	/*background:#fff;*/
	height:100%;
	font-family:微軟正黑體;
	background:url("../images/body2.png") top center repeat;
	}

#wraper {
	min-width:1024px;
	margin:0 auto;
	background:url("../images/body.png") top center repeat;
	}
	
#wraper2 {
	min-width:1024px;
	margin:0 auto;
	}

#top {
	width:960px; margin:0 auto;
	background:url("../images/body.png") 90% 15% no-repeat;
	height:200px;
	}

#top2 {
	width:980px; margin:0 auto;
	background:url("../images/top2.png");
	height:325px;
}
	
#menu {
	width:860px; 
	margin:0 auto;
	position:relative;
	top:230px;
	}
	
#main {
	width:1020px; 
	margin:0 auto;
	padding-top:2em;
	min-height:150px;
	vertical-align: top;
	}

#content {
	min-height:150px;
	color:#333;
	padding: 0 40px 0 40px;
	/*width:861px;*/
	margin:0 30px;
	letter-spacing:1px;
	line-height:25px;
	}
	
#content2 {
	height:500px;
	overflow-y:auto;
	color:#333;
	padding: 40px 40px 0 40px;
	width:822px;
	margin:40px 30px;
	background: #fff;
	border:1px solid #bebdb8;
	border-right:0;
	line-height:25px;
	}

.content2 {
	background: #fff;
	margin:0 auto;
	margin:0 30px;
	width:902px;
}

.title {
    margin-left:-24px;
}
	
#logintop {
    background: url("../images/login_top.png") top no-repeat;
	height:12px;
	margin-top:2em;
}

#logincenter {
    background: url("../images/login_center.png") top repeat-y;
}

#loginbottom {
    background: url("../images/login_bottom.png") bottom no-repeat;
	height:12px;
}

#contenttop {
	background: url("../images/main_top.png") top no-repeat;
	height:12px;
	margin:0 auto;
	width:960px;
	}
	
#contentcenter {
    /*background: url("../images/main_center.png") top repeat-y;*/
	background: url("../images/thankyou.png") top center no-repeat;
	height:200px;
	padding:85px 0 0 0;
	letter-spacing:2px;
	font-size:20px;
	text-align:center;
}
	
#contentbottom {
	background: url("../images/main_bottom.png") bottom no-repeat;
	height:12px;
	margin:0 auto;
	}
	
#footer {
	width:100%;
	height:285px;
	margin:0 auto;
	background: url("../images/footer.png") center bottom no-repeat;
}

#copyright {
    font-size:12px;
	color:#bfc4c7;
 	text-align:center;
	padding-top:225px;
}	
	
.ps {
	font-weight:bolder;
}
	
.ps2 {
	font-weight:bold;
	text-decoration:underline;
}

.page01 {
	vertical-align:text-top;
}

.page02 {
	padding-left:12px;
}

.notice {
	background: url("../images/notice.png") center center no-repeat;
	width:709px;
	margin:0 auto;
	text-align:left;
	height:105px;
	line-height:21px;
	padding:40px 0;
}

.demo {
	text-align:left;
	}

.dir1{ 
    width:100%; 
    border-collapse:collapse;    
} 

.dir1 td {
    vertical-align: top;
}

.dir {
    width:100%; 
	border-collapse:collapse;
} 

.dir td {
    vertical-align: middle;
	height:30px;
}

.dir2 { 
    width:100%; 
	border-left:#C8B9AE solid 1px;
	border-top:#C8B9AE solid 1px;
	border-collapse:collapse;
	background:#fff5bd;
} 

.dir2 td {
    border-right:#C8B9AE solid 1px;
	border-bottom:#C8B9AE solid 1px;
	padding:10px 10px 6px;
	vertical-align: top;
}

.w15 {
	text-align:left;
}
	
.info {
    color:#0194fe;
    font-size:18px;
	font-weight:bold;
	letter-spacing:4px;
}

.infotitle {
    color:#171717;
    font-size:18px;
	letter-spacing:3px;
	padding:3px 0;
}

.infotitle2 {
    color:#603813;
    font-size:18px;
	letter-spacing:2px;
	padding:10px 0 10px 35px;
	font-weight:bold;
}

.infoimg {
    padding:30px 0;
}

.word {
    color:#42210b;
    font-size:15px;
	line-height:20px;
	text-align:justify;
	text-justify:inter-ideograph;
}

.logincolor {
   color:#42210b;
   letter-spacing:2px;
   font-size:16px;
}

input.required {
   background:#FFF;
   border:1px solid #a4a39f;
   height:35px;
   font-size:18px;
}

#Image1 {
   cursor: pointer;
}

.style1 {
   /*background: url("../images/myself.png") center bottom no-repeat;*/
   color:#fff;
   width: 200px;
}

.formname1 {
    background: url("../images/myself_l.png") center bottom repeat-x;
	padding:5px 0 5px 15px;
}

.formname2 {
    background: url("../images/myself.png") center bottom repeat-x;
	padding:5px 0;
}

.formname3 {
    background: url("../images/myself_r.png") center bottom repeat-x;
	padding:5px 15px 5px 0;
	width:15px;
}

.number {
   color:#ea0000;
}

td.page02>div.demo>div.ui-widget>label {
    font-size:16px;
	font-family:'微軟正黑體';
}

#P1_panel {
    padding-bottom: 55px;
}

#mate_div, #mate_go, #family_goto, #partner_go, #family_count {
    margin-left: 212px;
}

#area3 {
   padding-top:20px;
}

.date {
   color:#ea0000;
}

.print {
   color:#ea0000;
}

select#P1_VegeFood, select#P1_SpecialFood, select#P2_VegeFooda, select#P2_SpecialFooda, select#P2_Who, select#P2_VegeFood, select#P2_SpecialFood, select#P3_Who, select#P3_VegeFood, select#P3_SpecialFood, select#P4_Who, select#P4_VegeFood, select#P4_SpecialFood, select#P5_VegeFood, select#P5_SpecialFood, select#P6_VegeFood, select#P6_SpecialFood {
    height:22px;
	font-size:13px;
	vertical-align:middle\9;
}

.mateform {
    margin-left:200px;
	padding-top:30px;
}

p.noticeword {
margin:0 25px; 
padding-top:10px;
}

p.noticeword2 {
margin:0 20px;
padding-top:10px;
}

.button {
   padding-top:80px;
   padding-bottom:30px;
}

input#imgbtn2 {
   padding-top:35px;
}

.point {
    background: url("../images/point.png") center center no-repeat;
	height:84px;
	margin:30px 0;
}

.pointword {
	margin:0 20px 0 70px;
	padding-top:18px;
}

.pointword2 {
	margin:0 8px 0 65px;
	padding-top:18px;
}

.family {
    margin:30px 0 50px 0;
}

.familyrule {
    padding-top:50px;
}

.confirm {
    /*width:500px;*/
	margin:0 auto;
	padding-top:30px;
}

.confirmname {
    background: url("../images/confirmname.png") left center no-repeat;
	text-align:center;
	color:#fff;
	width:160px;
	height:30px;
	line-height:31px;
}

div.confirm table {
	width:100%;
}

div.confirm td {
    height:30px;
	/*width:50%;*/
}

div.confirm>div {
    padding-bottom:70px;
}

div.confirm>div#RP1_Panel, div.confirm>div#RP3_Panel, div.confirm>div#RP5_Panel {
    padding-bottom:35px;
}

div.confirm>div#RP2_Panel, div.confirm>div#RP4_Panel, div.confirm>div#RP6_Panel {
    padding-top:35px;
	border-top:1px solid #d1cdc1;
}

.confirmnotice {
    color:#bf1a20;
}

div.room_top>img {
    margin-left:-15px;
}

div#RP1_Panel>div.confirmname, div#RP3_Panel>div.confirmname, div#RP5_Panel>div.confirmname {
    margin-bottom:35px;
}

.salename {
    color:#12aadc;
}

.cloud {
    background: url("../images/cloudbg.png") 100% 2% no-repeat;
}

.cloud1 {
    background: url("../images/cloudbg.png") 100% 6% no-repeat;
}

.cloud2 {
    background: url("../images/cloudbg.png") 100% 3% no-repeat;
}

td.page02>div.demo>div.ui-widget>span>input {
    height:16px;
	vertical-align:middle;
	font-size:13px;
}
.con_left{
    background: url("../images/%E9%9B%BB%E7%87%88%E6%B3%A1.png") center center no-repeat;
    width: 37px;
    height: 48px;
    position: absolute;
	margin-left:-50px;
}
/**webber*/
.login_table{
    width: 446px; 
    height: 120px;
}
.SelectRoom_text{
    width:60%;
    padding-left:260px;
}
textarea#Memo{
    width: 780px;
}
.notice_ie{
    background: url("../images/notice.png") center center no-repeat;
    width: 709px;
    margin: 0 auto;
    text-align: left;
    /*height: 115px;*/
    height: 127px;
    line-height: 21px;
    padding: 40px 0;
}
.finish_footer{
    position:relative;
    /*position:absolute;*/
    /*bottom:0px;*/
    /*top: 53px;*/
    /*bottom:0px;*/
}
@media all and (min-width: 700px) and (max-width: 999px) {
    .login_footer{
        position:relative;
        bottom:-63px;
    }
    .login_a{
        padding-bottom: 180px;
    }
    .finish_footer{
        position:relative;
        top: 53px;
    }
    .finish_a{
        padding-bottom: 460px;
    }
}

.index_footer{
    position:relative;
    top: 53px;
}

.aboutbutton {
    padding: 15px 0 50px 0;
	width:950px;
	margin:0 auto;
}

.aboutbutton>a>img {
    margin: 0;
}

.cruise {
    color:#0457b7;
	font-size:30px;
	letter-spacing:3px;
	margin-top: 5px;
}

.about-title {
    background: url("../images/abouttitlebg.png") center center no-repeat;
	font-size:20px;
	font-weight:bolder;
	text-align:center;
	color:#fff;
	height:34px;
	line-height:34px;
}

.specification {
    background: url("../images/specificationbg.png") center center no-repeat;
	height: 128px;
}

.specification td {
    vertical-align:top;
}

.specification-item {
   padding-left:20px;
}

.galleryleft {
   background: url("../images/galleryleft.png") center center no-repeat;
   height:481px;
   float:left;
}

.galleryright {
   background: url("../images/galleryright.png") center center no-repeat;
   height:481px;
   float:left;
}

.provision {
   background: url("../images/provision.png") center center no-repeat;
   padding: 9px;
   height:173px;
   opacity:0.6;
   filter:alpha(opacity=70);
}
.provision_active{
    opacity:1;
    filter:alpha(opacity=100);    
}
.provision.bigger {
   background: url("../images/002.png") center center no-repeat;
   padding: 9px;
   height:194px;
}

.provision>div {
   height:100%;
     float:left;
	 margin-right:25px;
	 margin-left:30px;
}

.provision:hover {
    opacity:1;
	filter:alpha(opacity=100);
}

.provision img {
   margin-top: 20px;
   width: 190px;
}

.provision.bigger img {
   margin-top: 30px;
}


.provision p {
	font-size: 12px;
	line-height: 14px;
	margin: 2px 0 8px 0px;
}
p.provision-name {
   color:#f69125;
   font-weight:bold;
   font-size: 16px;
   margin-top: 16px;
   margin-bottom: 16px;
}
.a1.provision p{
    line-height: 18px;
}
.a2.provision p{

}
.a3.provision p{

}
.a4.provision p{
    line-height: 28px;
}
.a5.provision p{
    line-height: 23px;
}

.explanation-out {
   margin:0 140px 0 70px;
}

.explanation-out table p {
   line-height:25px;
   margin-bottom:30px;
}

.explanation-out table p a {
    color:#ff5a3c;
}