body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:;}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:100%;font-weight:inherit;}legend{color:#000;}
img, a, object{border:0;outline:0;}
/* clearfix*/
/* For modern browsers */
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {zoom:1;}
.left{float:left;}
.right{float:right;}
.none{text-indent:-9999px; line-height:0;}
.btn{display:inline-block !important; margin-right:-4px !important; vertical-align:top; text-indent:-9999px; line-height:0;}

html{font-size:320px;}
body{width:100%; font-size:0.046rem; line-height:0.07rem; font-family:'Microsoft JhengHei' , '微軟正黑體' ,Arial, Helvetica, sans-serif; background:#000;}
#wrap{ position:relative; color:#fff;}
body.open, body.open #wrap{ overflow:hidden;}
header{ position: fixed; top:0; left:0; width:100%; background:#000; padding-bottom:14%; z-index:3;}
header a{ position:absolute; display:inline-block; text-indent:-9999px; line-height:0;}
a.menu{width:18.75%; height:60%; top:25%; right:0%; z-index:1;}
a.menu span{width:34%; background:#e00000; position:absolute; top:0; left:40%; padding-bottom:4%; transition:0.3s ease-in-out; -webkit-transition:0.3s ease-in-out;}
a.menu span:nth-child(1){top:22%;}
a.menu span:nth-child(2){top:44%;}
a.menu span:nth-child(3){top:66%;}
body.open a.menu span{top:50%;}
body.open a.menu span:nth-child(1){transform:rotate(45deg); -webkit-transform:rotate(45deg); transform-origin:50% 50%; -webkit-transform-origin: 50% 50%;}
body.open a.menu span:nth-child(2){display:none;}
body.open a.menu span:nth-child(3){transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform-origin:50% 50%; -webkit-transform-origin: 50% 50%;}
a.logo-queen{ background: url(../images/logo-amway-queen.png) no-repeat 0 0; background-size:100%; top:25%; left:6.875%; width:71.875%;padding-bottom:7.8125%;}
nav{position: fixed; overflow:scroll; top:0; left:0; width:100%; height:0; background:#000; z-index:-1;}
body.open nav{height:100%; padding-bottom:5%; transition:0.5s ease-in-out; -webkit-transition:0.5s ease-in-out; z-index:2;}
nav a{ opacity:0; position:relative; display:block; margin:0 auto 2%; top:0; width:100%; padding-bottom:15.625%; text-indent:-9999px; line-height:0; background:url(../images/nav1.png) no-repeat; background-size:100%;}
body.open nav a{ opacity:1;}
nav a:first-child{margin-top:25%;}
nav a:last-child{ margin-bottom:10%;}
nav a:after{ position:absolute; bottom:0; left:43.75%; content:" "; margin:0 auto; width:12.5%; padding-bottom:0.5%; background:#e00000;}
nav a:nth-child(2){ background-image:url(../images/nav2.png);}
body.index nav a:nth-child(1){ display:none;}
body.index nav a:nth-child(2){ margin-top:25%;}
nav a:nth-child(3){ background-image:url(../images/nav3.png);}
nav a:nth-child(4){ background-image:url(../images/nav4.png);}
nav a:nth-child(5){ background-image:url(../images/nav5.png);}
nav a:nth-child(6){ background-image:url(../images/nav6.png);}
nav a:nth-child(7){ background-image:url(../images/nav7.png);}
/*--footer--*/
footer{ margin:0 auto; width:92%; padding:5% 4% 10% 4%; color:#888888; font-size:0.0375rem; line-height:0.055rem; background:#fff;}
.index footer{ padding:8% 4% 3% 4%;}
.contact{ display:block; background:url(../images/footer1.gif) no-repeat; background-size:100%; width:100%; padding-bottom:18.5%; margin-bottom:2%; border:1px solid #c8c8c8;text-indent:-9999px; line-height:0;}
.tel-cs{ background-image:url(../images/footer2.gif);}
.amway{display:block; background:url(../images/logo-amway.png) no-repeat; background-size:100%; width:20%; margin:2% 0; padding-bottom:6.875%;}

#content{ padding:13.9% 0 0;width:100%; position:relative;}
.set-characteristics #content, .set-mode #content, .set-tips #content, .set-usage #content, .set-package #content, .set-nsf #content{ margin-bottom:8%;}
.index #content { padding-bottom:1%; background:#fff;}

/*--共用--*/
.cook-all h1{ position: relative; color: #e90011; font-size: 0.0625rem;}
h2, .cook-detail h3{ color:#e00000; font-size:0.05625rem;}
.cook-detail h3{ margin: 5% 0 3%;}
h2.icon-queen{ position: relative; margin-bottom: 7%; padding-left: 18%;}
.dishname{ margin:3% 6%; color: #ababab;}
.icon-queen:before{content:" "; position:absolute; top:-60%; left:0; background: url(../images/recipe/icon-queen.png) no-repeat; background-size: 100%; width: 15.98%; height: 2.778em;}
.bg-red{ background-color:#e00000;}
.md-auto6{ margin:0 6%;}
.md-top5{ margin-top:5%;}
.md-bottom3{ margin-bottom:3%;}
.md-bottom10{ margin-bottom:10% !important;}
select.select-gray, .select-gray-recipe{ display:block; margin:0 auto 4%; padding:2%; width:93.125%; font-size:0.0625rem; color:#ababab; background: #2d2d2d  url(../images/arrow-select.png) 97% center no-repeat; background-size:7%; border:0.05em solid #4b4a4a; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: "";}
.select-gray-recipe{ margin: 2% auto;}
a.share{ display: block; position: absolute; top:-0.5em; right: -0.4em; background: url(../images/fb-share.png) center center no-repeat; background-size: 45%; width: 14.205%; height: 2em;}
.txt-red{ color:#e00000;}
.video{ position: relative; margin:3% auto 0; padding-bottom: 56.25%; width:100%; height:0; overflow: hidden;}
.video iframe, .video object, .video embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/*--數字&英文list--*/
ol.list-num, ol.list-latin{ counter-reset: term definition;}
ol.list-latin{ margin-top:3%;}
ol.list-num li, ol.list-latin li{ position:relative; margin-bottom:6%;}
ol.list-latin li{ padding-left:11%; padding-right:1.2%;}
ol.list-num li h2:before{ counter-increment: term; content: counter(term); color:#fff; background:#e00000; padding:0 1.5%; margin-right:1%;}
ol.list-latin li:before { display:inline-block; margin-left:-8.5%; margin-right:2%; counter-increment: term; content: counter(term, upper-latin);background:#e00000; padding:0 1.5%;}
ol.list-num li h2, ol.list-latin li h2{ margin:0 4% 2% 4%; color:#e00000; font-size:0.05625rem;}
ol.list-num li p, ol.list-latin li p{ padding:0 4% 0 3.5%; margin-bottom:3%;}
ul.point{ padding:0 2% 0 8%; counter-reset: term definition;}
ul.point li{ position:relative;}
ul.point li:before{ counter-increment: none; content: none; margin:0; padding:0; content:" "; position:absolute; top:0.03rem; left:-4%; width:0.015rem; height:0.015rem; border-radius:100%; background-color:#e00000;}
ul.point li h3{font-size:0.046rem; color:#e00000;}
ul.point li p{ padding:0 2% 0 0;}
.pic{ margin:0 auto; width:93.75%;}
.pic img{ width:100%;}

/*--鍋具配件收合--*/
ul.fittings{ position:relative; width:93.4375%; margin:0 auto 8%;}
ul.fittings li{ position:relative; border:1px solid #ababab;}
ul.fittings li a{ position:relative; display:block; color: #ffffff; width:100%; text-decoration:none;}
ul.fittings li.active > a { color: #fff;}
ul.fittings li a img{ display:block; width:88.6%; line-height:0;}
ul.fittings li a:after { position:absolute;  top:50%; margin-top:-6.375%; right:0; content:" "; background:url(../images/icon-open.png) no-repeat; background-size:100%; width:11.4%; padding-bottom:12.75%; vertical-align:middle;}
ul.fittings li.active a:after { background-image:url(../images/icon-close.png);}
ul.fittings .box{ display:none; word-wrap: break-word; word-break: normal; background-color:#fff; color:#000; padding:4%;}
ul.fittings .box img{ margin-bottom:5%; width:100%; line-height:0;}
ul.fittings {counter-reset: term definition;}
ul.fittings ul.level1 li, ul.fittings ul.level2 li{ margin:4% 0; border:none;}

ul.fittings ul.level1 li h4{ display:block; font-size:0.04375rem; border:none; padding:0;}
ul.fittings ul.level1 li h4 span:nth-child(2){display:inline-block; counter-increment: term; content: counter(term, upper-latin);background:#e00000; padding:0 1.5%; color:#fff; font-size:0.046rem;}
ul.fittings ul.level1 li h4 span:nth-child(1){ display:inline-block; background-color:#000; padding:0 2.5%; color:#fff;font-size:0.046rem;}
ul.fittings h4{ display: inline-block; border:1px solid #ababab; padding:1%;}
ul.fittings ul.level1 li p{ padding-left:9%;}
ul.fittings ul.level1 ul.point li:before{background-color:#b7b6b6;}
ul.fittings ul.level2 li{ font-size:0.04375rem;}
ul.fittings ul.level2 li span{ margin-right:1.7%; font-weight:bolder;}
ul.fittings ul.level2 li p{ padding-left:9.5%;}

ul.qa li{ border:none;}
ul.qa li a{ line-height:0.0.6rem; padding:2% 0; border-bottom:1px dashed #2b2a2a;}
ul.qa li a span{ display:inline-block; width:12%; vertical-align:middle;}
ul.qa li a span:nth-child(1){ padding-left:5%;}
ul.qa li a span:nth-child(2){ width:70%;}
ul.qa li.active a{ background-color:#fff;;}
ul.qa li.active a span{ color:#f30002;}
ul.qa li.active a:after{ background-image:url(../images/icon_close-qa.png);}
ul.qa ol{ margin-left:9%;}
ul.qa ol li{list-style-type:decimal;}

/*--btn--*/
a.top{ display:block; position:fixed; bottom:0; right:0; background:url(../images/top.png) no-repeat; background-size:100%; width:15.625%; padding-bottom:12.5%;}
a.go-next, a.go-prev{ display:block; background:url(../images/go-next-set-characteristics.gif) no-repeat; background-size:100%; width:46.875%; padding-bottom:10.9375%;}
.set-characteristics a.go-next, .set-usage .go-next{ margin:0 auto;}
.set-mode a.go-next, .set-tips .go-next, .set-usage .go-next{ background-image: url(../images/go-next-set-mode.gif);}
.set-package a.go-next{ background-image: url(../images/go-next-set-package.gif);}
.set-mode a.go-prev, .set-package a.go-prev, .set-tips a.go-prev{ margin-left:2.8%; background-image:url(../images/go-prev-set-mode.gif); border-right:2px solid #000;}
.set-package a.go-prev{ background-image: url(../images/go-prev-set-package.gif);}
.set-tips a.go-prev{ background-image:url(../images/go-prev-set-tips.gif);}
.set-characteristics a.go-next{ margin-left:50%;}
.set-nsf a.go-prev{ background-image:url(../images/go-prev-set-nsf.gif);}
.set-nsf a.go-next{ background-image:url(../images/go-next-set-nsf.gif);}
.set-nsf a.go-next{ margin-left:3%;}

a.feature, a.use{ background: url(../images/btn-feature.gif) no-repeat; background-size:100%; width:49.6875%; padding-bottom:21.875%;}
a.feature.active{ background-image: url(../images/btn-feature-active.jpg);}
a.use{ margin-left:0.3125%; background-image:url(../images/btn-use.gif);}
a.use.active{ background-image: url(../images/btn-use-sctive.jpg);}
a.more-cuisine{ margin:0 0 5% 2.8%; background: url(../images/btn-more-cuisine.gif) no-repeat; background-size: 100%; width: 46.875%; padding-bottom: 10.94%;}

/*--page title--*/
.set .title, .set-characteristics .title, .set-mode .title, .non-stick .title, .wok .title, .set-tips .title, .set-usage .title, .set-package .title, .recipe .title{ margin:3% auto;width:87.5%; padding-bottom:6%; background:url(../images/title-set.gif) no-repeat; background-size:100%;}
.non-stick .title{ background-image: url(../images/title-non-stick.gif);}
.wok .title{ background-image: url(../images/title-wok.gif);}
.recipe .title{ background-image: url(../images/title-recipe.gif);}

/*--kv--*/
.set .kv, .non-stick .kv, .wok .kv, .recipe .kv{ background:url(../images/21set/21set-kv.jpg) no-repeat; background-size:100%; width:100%; padding-bottom:74%;}
.non-stick .kv{ background-image: url(../images/non-stick-kv.jpg); padding-bottom:73.5%;}
.wok .kv{ background-image:url(../images/wok-kv.jpg);}
.recipe .kv{background-image: url(../images/kv-recipe.jpg);}
.kv-appetizer01, .kv-appetizer02, .kv-appetizer03, .kv-appetizer04, .kv-appetizer05, .kv-appetizer06, .kv-appetizer07, .kv-appetizer08, .kv-appetizer09,
.kv-maincourse01, .kv-maincourse02, .kv-maincourse03, .kv-maincourse04, .kv-maincourse05, .kv-maincourse06, .kv-maincourse07, .kv-maincourse08, .kv-maincourse09, .kv-maincourse10, .kv-maincourse11, .kv-maincourse12,
.kv-dessert01, .kv-dessert02, .kv-dessert03, .kv-dessert04, .kv-dessert05, .kv-dessert06, .kv-dessert07, .kv-dessert08
{background-image: url(../images/recipe/kv-appetizer01.jpg) ; background-size:100%; width:100%; padding-bottom: 73.438%;}
.kv-appetizer02{background-image: url(../images/recipe/kv-appetizer02.jpg);}
.kv-appetizer03{background-image: url(../images/recipe/kv-appetizer03.jpg);}
.kv-appetizer04{background-image: url(../images/recipe/kv-appetizer04.jpg);}
.kv-appetizer05{background-image: url(../images/recipe/kv-appetizer05.jpg);}
.kv-appetizer06{background-image: url(../images/recipe/kv-appetizer06.jpg);}
.kv-appetizer07{background-image: url(../images/recipe/kv-appetizer07.jpg);}
.kv-appetizer08{background-image: url(../images/recipe/kv-appetizer08.jpg);}
.kv-appetizer09{background-image: url(../images/recipe/kv-appetizer09.jpg);}
.kv-maincourse01{background-image: url(../images/recipe/kv-maincourse01.jpg);}
.kv-maincourse02{background-image: url(../images/recipe/kv-maincourse02.jpg);}
.kv-maincourse03{background-image: url(../images/recipe/kv-maincourse03.jpg);}
.kv-maincourse04{background-image: url(../images/recipe/kv-maincourse04.jpg);}
.kv-maincourse05{background-image: url(../images/recipe/kv-maincourse05.jpg);}
.kv-maincourse06{background-image: url(../images/recipe/kv-maincourse06.jpg);}
.kv-maincourse07{background-image: url(../images/recipe/kv-maincourse07.jpg);}
.kv-maincourse08{background-image: url(../images/recipe/kv-maincourse08.jpg);}
.kv-maincourse09{background-image: url(../images/recipe/kv-maincourse09.jpg);}
.kv-maincourse10{background-image: url(../images/recipe/kv-maincourse10.jpg);}
.kv-maincourse11{background-image: url(../images/recipe/kv-maincourse11.jpg);}
.kv-maincourse12{background-image: url(../images/recipe/kv-maincourse12.jpg);}
.kv-dessert01{background-image: url(../images/recipe/kv-dessert01.jpg);}
.kv-dessert02{background-image: url(../images/recipe/kv-dessert02.jpg);}
.kv-dessert03{background-image: url(../images/recipe/kv-dessert03.jpg);}
.kv-dessert04{background-image: url(../images/recipe/kv-dessert04.jpg);}
.kv-dessert05{background-image: url(../images/recipe/kv-dessert05.jpg);}
.kv-dessert06{background-image: url(../images/recipe/kv-dessert06.jpg);}
.kv-dessert07{background-image: url(../images/recipe/kv-dessert07.jpg);}
.kv-dessert08{background-image: url(../images/recipe/kv-dessert08.jpg);}

/*--index--*/
ul.list-index{ margin-top:-6%;}
ul.list-index li{ margin:0 auto 3%; width:94.0625%; line-height:0;}
ul.list-index li a{ position:relative; display:block; line-height:0;}
ul.list-index li a:after{ content:" "; position:absolute; bottom:0; right:0; background:url(../images/more.gif) no-repeat; background-size:100%; width:33.55%; padding-bottom:11.6%;}
ul.list-index li img{ width:100%;}

/*--21set--*/
ul.setnav{ width:100%;}
ul.setnav li a{ display:block; width:100%; line-height:0;}
ul.setnav li a img{ width:100%;}

/*--創意料理--*/
.cook, .cook.owl-carousel{ margin: 3% auto 11%; width: 93.75%;}
.cook.owl-carousel{ height:13em;}
.cook li, .cook .item{ position: relative; width: 100%; background-color: #fff;}
.cook.owl-carousel .owl-prev, .cook.owl-carousel .owl-next{bottom:0;}
.owl-carousel .owl-item *, .cook .item:after{-webkit-backface-visibility:hidden;backface-visibility:hidden;}

.filter li{ display: none;}
.filter li[data-cat^="maincourse"]{ display: block;}

.cook li a, .cook a{ display: block; width: 100%; height: 100%; text-decoration: none;}
.cook li:after, .cook .item:after{ content:" "; position: absolute; bottom:5%; right: 2.5%; background: url(../images/recipe/icon-enter.png) no-repeat; background-size: 100%; width: 6.67%; height: 1.359em;}
.cook .pics, .cook .name{ display: inline-block; *display: inline; vertical-align: top; zoom:1; margin-right: -4px; color: #000;}
.name-cook{color:#e00000; font-size: 0.05rem; font-weight: bold; line-height: 2.5em; text-indent:.02rem;}
.pics{ width:66.67% ; height: 9.851em; background: url(../images/recipe/films-video01.jpg) no-repeat; background-size: 100%;}
.films1 .pics{}
.films2 .pics{ background-image: url(../images/recipe/films-video02.jpg);}
.films3 .pics{ background-image: url(../images/recipe/films-video03.jpg);}
.films4 .pics{ background-image: url(../images/recipe/films-video04.jpg);}
.films5 .pics{ background-image: url(../images/recipe/films-video05.jpg);}
.films6 .pics{ background-image: url(../images/recipe/films-video06.jpg);}
.films7 .pics{ background-image: url(../images/recipe/films-video07.jpg);}
.films8 .pics{ background-image: url(../images/recipe/films-video08.jpg);}
.films9 .pics{ background-image: url(../images/recipe/films-video09.jpg);}
.films10 .pics{ background-image: url(../images/recipe/films-video10.jpg);}
.films11 .pics{ background-image: url(../images/recipe/films-video11.jpg);}
.films12 .pics{ background-image: url(../images/recipe/films-video12.jpg);}
.material{margin:4% auto; background: url(../images/recipe/material-video01.jpg) no-repeat; background-size: 100%; width: 100%; height: 14.267em;}
.material.video02{background-image: url(../images/recipe/material-video02.jpg);}
.material.video03{background-image: url(../images/recipe/material-video03.jpg);}
.material.video04{background-image: url(../images/recipe/material-video04.jpg);}
.material.video05{background-image: url(../images/recipe/material-video05.jpg);}
.material.video06{background-image: url(../images/recipe/material-video06.jpg);}
.material.video07{background-image: url(../images/recipe/material-video07.jpg);}
.list-appetizer01 .pics{background-image: url(../images/recipe/list-appetizer01.jpg);}
.list-appetizer02 .pics{background-image: url(../images/recipe/list-appetizer02.jpg);}
.list-appetizer03 .pics{background-image: url(../images/recipe/list-appetizer03.jpg);}
.list-appetizer04 .pics{background-image: url(../images/recipe/list-appetizer04.jpg);}
.list-appetizer05 .pics{background-image: url(../images/recipe/list-appetizer05.jpg);}
.list-appetizer06 .pics{background-image: url(../images/recipe/list-appetizer06.jpg);}
.list-appetizer07 .pics{background-image: url(../images/recipe/list-appetizer07.jpg);}
.list-appetizer08 .pics{background-image: url(../images/recipe/list-appetizer08.jpg);}
.list-appetizer09 .pics{background-image: url(../images/recipe/list-appetizer09.jpg);}
.list-maincourse01 .pics{background-image: url(../images/recipe/list-maincourse01.jpg);}
.list-maincourse02 .pics{background-image: url(../images/recipe/list-maincourse02.jpg);}
.list-maincourse03 .pics{background-image: url(../images/recipe/list-maincourse03.jpg);}
.list-maincourse04 .pics{background-image: url(../images/recipe/list-maincourse04.jpg);}
.list-maincourse05 .pics{background-image: url(../images/recipe/list-maincourse05.jpg);}
.list-maincourse06 .pics{background-image: url(../images/recipe/list-maincourse06.jpg);}
.list-maincourse07 .pics{background-image: url(../images/recipe/list-maincourse07.jpg);}
.list-maincourse08 .pics{background-image: url(../images/recipe/list-maincourse08.jpg);}
.list-maincourse09 .pics{background-image: url(../images/recipe/list-maincourse09.jpg);}
.list-maincourse10 .pics{background-image: url(../images/recipe/list-maincourse10.jpg);}
.list-maincourse11 .pics{background-image: url(../images/recipe/list-maincourse11.jpg);}
.list-maincourse12 .pics{background-image: url(../images/recipe/list-maincourse12.jpg);}
.list-dessert01 .pics{background-image: url(../images/recipe/list-dessert01.jpg);}
.list-dessert02 .pics{background-image: url(../images/recipe/list-dessert02.jpg);}
.list-dessert03 .pics{background-image: url(../images/recipe/list-dessert03.jpg);}
.list-dessert04 .pics{background-image: url(../images/recipe/list-dessert04.jpg);}
.list-dessert05 .pics{background-image: url(../images/recipe/list-dessert05.jpg);}
.list-dessert06 .pics{background-image: url(../images/recipe/list-dessert06.jpg);}
.list-dessert07 .pics{background-image: url(../images/recipe/list-dessert07.jpg);}
.list-dessert08 .pics{background-image: url(../images/recipe/list-dessert08.jpg);}
.Kitchenware{ width: 94%; padding: 3% 3% 2%; background-color: #fff;}
.Kitchenware h3{ margin-bottom: 3%; color:#e00000; font-size: 0.05625rem;}
.Kitchenware span, .Kitchenware span:before{background:url(../images/tag.png) 0 0 no-repeat;background-size:auto 400%;line-height: 100%;}
.Kitchenware span{ display: inline-block; position: relative; margin: 0 2% 5% 0; padding: 2.3% 5.3% 2.9% 9.3%; background-position: right 33.33%; color:#fff; font-size: 0.0375rem; }
.Kitchenware span:before{content:" "; width: .08rem; height: .085rem; position: absolute; top:0; left:-2px;background-color: #fff; display: block;}
.Kitchenware span:active{background-position: right 100%;}
.Kitchenware span:active:before{background-position: 0 66.6%;}

.cook .name{ padding: 6% 1% 9% 2%; width: 30.33%; height: 6.6em; font-size: 0.046875rem; line-height: 1.6em; border-bottom: 1px solid #afafaf;}
.cook-detail{ position: relative; margin: 5% 3.125% 0; padding-top: 12%; width: 93.75% !important;}
.cook-detail .owl-controls, .cook-detail .owl-dots{position: absolute; top:0; left:0; width: 100%}
.cook-detail .item{ padding-bottom: 10%;}
.subtab1, .subtab2{display:inline-block; vertical-align:top;background: url(../images/recipe/subtab1.png) no-repeat; background-size: 100%; width: 50%; height: 2.378em; text-indent:-9999px; line-height:0;}
.cook-detail .owl-nav{ display: none;}

.subtab1.active{background-image: url(../images/recipe/subtab1-act.png);}
.subtab2{background-image: url(../images/recipe/subtab2.png);}
.subtab2.active{background-image: url(../images/recipe/subtab2-act.png);}

.notes, .notes-num{ color: #000; background-color: #fff; line-height: 1.8em;}
.notes li, .notes-num li{ border-bottom: 1px solid #e0e0e0;}
.notes li:nth-child(even), .notes-num li:nth-child(even){background-color: #F7F7F7;}
.notes li span, .notes-num li span{ display: inline-block; margin-right: -4px; vertical-align: top; zoom:1; padding: 2% 3%;}
.notes .name{ width: 54%;}
.notes .amount{ width: 34%; text-align: right;}
.notes-num .num{ width: 6%; color: #fff; text-align: center;}
.notes-num .num p{ margin-top: 10%; width: 1.8em; height: 1.8em; line-height: 1.7em; background-color: #000; border-radius:100%;}
.notes-num .introduce{ width: 82%;}
.notes-num li.pic{ padding:3% 0;}
.notes-num li.pic img{ display: inline-block; margin-right: -3px; margin-bottom: 1px; vertical-align: top; zoom:1; width: 49.78%; height: 9.511em;}
.notes-num li.pic p{ font-size: 0.0375rem;}
.tips-box{ padding: 3%; background-color: #fff; font-size: 0.046875rem; color:#000;}
.tips-box img{ width: 100%; height: 12.667em;}
.tips-box .txt-red{ margin-top: 3%;}

/*notes*/
.cnt {font-size: 16px;padding-left: 30px; padding-right: 30px;}
.notes-h1{background:url(../images/h1-notes.png) center 0 no-repeat;width:100%;height:28px;margin:30px 0 15px; font-size: 24px;text-align: center;}
.notes-h2 {
	color: #e00000;
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: -5px;
}
.cnt ul li {
	list-style: circle;
	margin-left: 15px;
	
}
.mb30 {
	margin-bottom: 30px;
}


@media (orientation:landscape){
	
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	a.logo-queen{ background-image:url(../images/logo-amway-queen@2x.png);}
	.index footer .amway{ background-image:url(../images/logo-amway@2x.png);}
	.films li:after{ background-image: url(../images/recipe/icon-enter@2x.png);}
	.icon-queen:before{background-image: url(../images/recipe/icon-queen@2x.png);}
	a.share{background-image: url(../images/fb-share@2x.png);}
	.subtab1{background-image: url(../images/recipe/subtab1@2x.png);}
	.subtab1.active{background-image: url(../images/recipe/subtab1-act@2x.png);}
	.subtab2{background-image: url(../images/recipe/subtab2@2x.png);}
	.subtab2.active{background-image: url(../images/recipe/subtab2-act@2x.png);}

	.kv-appetizer01{background-image: url(../images/recipe/kv-appetizer01@2x.jpg);}
	.kv-appetizer02{background-image: url(../images/recipe/kv-appetizer02@2x.jpg);}
	.kv-appetizer03{background-image: url(../images/recipe/kv-appetizer03@2x.jpg);}
	.kv-appetizer04{background-image: url(../images/recipe/kv-appetizer04@2x.jpg);}
	.kv-appetizer05{background-image: url(../images/recipe/kv-appetizer05@2x.jpg);}
	.kv-appetizer06{background-image: url(../images/recipe/kv-appetizer06@2x.jpg);}
	.kv-appetizer07{background-image: url(../images/recipe/kv-appetizer07@2x.jpg);}
	.kv-appetizer08{background-image: url(../images/recipe/kv-appetizer08@2x.jpg);}
	.kv-appetizer09{background-image: url(../images/recipe/kv-appetizer09@2x.jpg);}
	.kv-maincourse01{background-image: url(../images/recipe/kv-maincourse01@2x.jpg);}
	.kv-maincourse02{background-image: url(../images/recipe/kv-maincourse02@2x.jpg);}
	.kv-maincourse03{background-image: url(../images/recipe/kv-maincourse03@2x.jpg);}
	.kv-maincourse04{background-image: url(../images/recipe/kv-maincourse04@2x.jpg);}
	.kv-maincourse05{background-image: url(../images/recipe/kv-maincourse05@2x.jpg);}
	.kv-maincourse06{background-image: url(../images/recipe/kv-maincourse06@2x.jpg);}
	.kv-maincourse07{background-image: url(../images/recipe/kv-maincourse07@2x.jpg);}
	.kv-maincourse08{background-image: url(../images/recipe/kv-maincourse08@2x.jpg);}
	.kv-maincourse09{background-image: url(../images/recipe/kv-maincourse09@2x.jpg);}
	.kv-maincourse10{background-image: url(../images/recipe/kv-maincourse10@2x.jpg);}
	.kv-maincourse11{background-image: url(../images/recipe/kv-maincourse11@2x.jpg);}
	.kv-maincourse12{background-image: url(../images/recipe/kv-maincourse12@2x.jpg);}
	.kv-dessert01{background-image: url(../images/recipe/kv-dessert01@2x.jpg);}
	.kv-dessert02{background-image: url(../images/recipe/kv-dessert02@2x.jpg);}
	.kv-dessert03{background-image: url(../images/recipe/kv-dessert03@2x.jpg);}
	.kv-dessert04{background-image: url(../images/recipe/kv-dessert04@2x.jpg);}
	.kv-dessert05{background-image: url(../images/recipe/kv-dessert05@2x.jpg);}
	.kv-dessert06{background-image: url(../images/recipe/kv-dessert06@2x.jpg);}
	.kv-dessert07{background-image: url(../images/recipe/kv-dessert07@2x.jpg);}
	.kv-dessert08{background-image: url(../images/recipe/kv-dessert08@2x.jpg);}

	.films1 .pics{ background-image: url(../images/recipe/films-video01@2x.jpg);}
	.films2 .pics{ background-image: url(../images/recipe/films-video02@2x.jpg);}
	.films3 .pics{ background-image: url(../images/recipe/films-video03@2x.jpg);}
	.films4 .pics{ background-image: url(../images/recipe/films-video04@2x.jpg);}
	.films5 .pics{ background-image: url(../images/recipe/films-video05@2x.jpg);}
	.films6 .pics{ background-image: url(../images/recipe/films-video06@2x.jpg);}
	.films7 .pics{ background-image: url(../images/recipe/films-video07@2x.jpg);}
	.films8 .pics{ background-image: url(../images/recipe/films-video08@2x.jpg);}
	.films9 .pics{ background-image: url(../images/recipe/films-video09@2x.jpg);}
	.films10 .pics{ background-image: url(../images/recipe/films-video10@2x.jpg);}
	.material.video01{background-image: url(../images/recipe/material-video01@2x.jpg);}
	.material.video02{background-image: url(../images/recipe/material-video02@2x.jpg);}
	.material.video03{background-image: url(../images/recipe/material-video03@2x.jpg);}
	.material.video04{background-image: url(../images/recipe/material-video04@2x.jpg);}
	.material.video05{background-image: url(../images/recipe/material-video05@2x.jpg);}
	.material.video06{background-image: url(../images/recipe/material-video06@2x.jpg);}
	.material.video07{background-image: url(../images/recipe/material-video07@2x.jpg);}
	.list-maincourse01 .pics{background-image: url(../images/recipe/list-maincourse01@2x.jpg);}
	.list-maincourse02 .pics{background-image: url(../images/recipe/list-maincourse02@2x.jpg);}
	.list-maincourse03 .pics{background-image: url(../images/recipe/list-maincourse03@2x.jpg);}
	.list-maincourse04 .pics{background-image: url(../images/recipe/list-maincourse04@2x.jpg);}
	.list-maincourse05 .pics{background-image: url(../images/recipe/list-maincourse05@2x.jpg);}
	.list-maincourse06 .pics{background-image: url(../images/recipe/list-maincourse06@2x.jpg);}
	.list-maincourse07 .pics{background-image: url(../images/recipe/list-maincourse07@2x.jpg);}
	.list-maincourse08 .pics{background-image: url(../images/recipe/list-maincourse08@2x.jpg);}
	.list-maincourse09 .pics{background-image: url(../images/recipe/list-maincourse09@2x.jpg);}
	.list-maincourse10 .pics{background-image: url(../images/recipe/list-maincourse10@2x.jpg);}
	.list-maincourse11 .pics{background-image: url(../images/recipe/list-maincourse11@2x.jpg);}
	.list-maincourse12 .pics{background-image: url(../images/recipe/list-maincourse12@2x.jpg);}
	.list-dessert01 .pics{background-image: url(../images/recipe/list-dessert01@2x.jpg);}
	.list-dessert02 .pics{background-image: url(../images/recipe/list-dessert02@2x.jpg);}
	.list-dessert03 .pics{background-image: url(../images/recipe/list-dessert03@2x.jpg);}
	.list-dessert04 .pics{background-image: url(../images/recipe/list-dessert04@2x.jpg);}
	.list-dessert05 .pics{background-image: url(../images/recipe/list-dessert05@2x.jpg);}
	.list-dessert06 .pics{background-image: url(../images/recipe/list-dessert06@2x.jpg);}
	.list-dessert07 .pics{background-image: url(../images/recipe/list-dessert07@2x.jpg);}
	.list-dessert08 .pics{background-image: url(../images/recipe/list-dessert08@2x.jpg);}
	.Kitchenware span, .Kitchenware span:before{background-image:url(../images/tag@2x.png);}
}
@media screen and (-webkit-min-device-pixel-ratio:3){
	a.logo-queen{ background-image:url(../images/logo-amway-queen@3x.png);}
	.index footer .amway{ background-image:url(../images/logo-amway@3x.png);}
	.films li:after{ background-image: url(../images/recipe/icon-enter@3x.png);}
	.icon-queen:before{background-image: url(../images/recipe/icon-queen@3x.png);}
	a.share{background-image: url(../images/fb-share@3x.png);}
	.subtab1{background-image: url(../images/recipe/subtab1@3x.png);}
	.subtab1.active{background-image: url(../images/recipe/subtab1-act@3x.png);}
	.subtab2{background-image: url(../images/recipe/subtab2@3x.png);}
	.subtab2.active{background-image: url(../images/recipe/subtab2-act@3x.png);}
	.kv-appetizer01{background-image: url(../images/recipe/kv-appetizer01@3x.jpg);}
	.kv-appetizer02{background-image: url(../images/recipe/kv-appetizer02@3x.jpg);}
	.kv-appetizer03{background-image: url(../images/recipe/kv-appetizer03@3x.jpg);}
	.kv-appetizer04{background-image: url(../images/recipe/kv-appetizer04@3x.jpg);}
	.kv-appetizer05{background-image: url(../images/recipe/kv-appetizer05@3x.jpg);}
	.kv-appetizer06{background-image: url(../images/recipe/kv-appetizer06@3x.jpg);}
	.kv-appetizer07{background-image: url(../images/recipe/kv-appetizer07@3x.jpg);}
	.kv-appetizer08{background-image: url(../images/recipe/kv-appetizer08@3x.jpg);}
	.kv-appetizer09{background-image: url(../images/recipe/kv-appetizer09@3x.jpg);}
	.kv-maincourse01{background-image: url(../images/recipe/kv-maincourse01@3x.jpg);}
	.kv-maincourse02{background-image: url(../images/recipe/kv-maincourse02@3x.jpg);}
	.kv-maincourse03{background-image: url(../images/recipe/kv-maincourse03@3x.jpg);}
	.kv-maincourse04{background-image: url(../images/recipe/kv-maincourse04@3x.jpg);}
	.kv-maincourse05{background-image: url(../images/recipe/kv-maincourse05@3x.jpg);}
	.kv-maincourse06{background-image: url(../images/recipe/kv-maincourse06@3x.jpg);}
	.kv-maincourse07{background-image: url(../images/recipe/kv-maincourse07@3x.jpg);}
	.kv-maincourse08{background-image: url(../images/recipe/kv-maincourse08@3x.jpg);}
	.kv-maincourse09{background-image: url(../images/recipe/kv-maincourse09@3x.jpg);}
	.kv-maincourse10{background-image: url(../images/recipe/kv-maincourse10@3x.jpg);}
	.kv-maincourse11{background-image: url(../images/recipe/kv-maincourse11@3x.jpg);}
	.kv-maincourse12{background-image: url(../images/recipe/kv-maincourse12@3x.jpg);}
	.kv-dessert01{background-image: url(../images/recipe/kv-dessert01@3x.jpg);}
	.kv-dessert02{background-image: url(../images/recipe/kv-dessert02@3x.jpg);}
	.kv-dessert03{background-image: url(../images/recipe/kv-dessert03@3x.jpg);}
	.kv-dessert04{background-image: url(../images/recipe/kv-dessert04@3x.jpg);}
	.kv-dessert05{background-image: url(../images/recipe/kv-dessert05@3x.jpg);}
	.kv-dessert06{background-image: url(../images/recipe/kv-dessert06@3x.jpg);}
	.kv-dessert07{background-image: url(../images/recipe/kv-dessert07@3x.jpg);}
	.kv-dessert08{background-image: url(../images/recipe/kv-dessert08@3x.jpg);}

	.films1 .pics{ background-image: url(../images/recipe/films-video01@3x.jpg);}
	.films2 .pics{ background-image: url(../images/recipe/films-video02@3x.jpg);}
	.films3 .pics{ background-image: url(../images/recipe/films-video03@3x.jpg);}
	.films4 .pics{ background-image: url(../images/recipe/films-video04@3x.jpg);}
	.films5 .pics{ background-image: url(../images/recipe/films-video05@3x.jpg);}
	.films6 .pics{ background-image: url(../images/recipe/films-video06@3x.jpg);}
	.films7 .pics{ background-image: url(../images/recipe/films-video07@3x.jpg);}
	.films8 .pics{ background-image: url(../images/recipe/films-video08@3x.jpg);}
	.films9 .pics{ background-image: url(../images/recipe/films-video09@3x.jpg);}
	.films10 .pics{ background-image: url(../images/recipe/films-video10@3x.jpg);}
	.material.video01{background-image: url(../images/recipe/material-video01@3x.jpg);}
	.material.video02{background-image: url(../images/recipe/material-video02@3x.jpg);}
	.material.video03{background-image: url(../images/recipe/material-video03@3x.jpg);}
	.material.video04{background-image: url(../images/recipe/material-video04@3x.jpg);}
	.material.video05{background-image: url(../images/recipe/material-video05@3x.jpg);}
	.material.video06{background-image: url(../images/recipe/material-video06@3x.jpg);}
	.material.video07{background-image: url(../images/recipe/material-video07@3x.jpg);}
	.list-maincourse01 .pics{background-image: url(../images/recipe/list-maincourse01@3x.jpg);}
	.list-maincourse02 .pics{background-image: url(../images/recipe/list-maincourse02@3x.jpg);}
	.list-maincourse03 .pics{background-image: url(../images/recipe/list-maincourse03@3x.jpg);}
	.list-maincourse04 .pics{background-image: url(../images/recipe/list-maincourse04@3x.jpg);}
	.list-maincourse05 .pics{background-image: url(../images/recipe/list-maincourse05@3x.jpg);}
	.list-maincourse06 .pics{background-image: url(../images/recipe/list-maincourse06@3x.jpg);}
	.list-maincourse07 .pics{background-image: url(../images/recipe/list-maincourse07@3x.jpg);}
	.list-maincourse08 .pics{background-image: url(../images/recipe/list-maincourse08@3x.jpg);}
	.list-maincourse09 .pics{background-image: url(../images/recipe/list-maincourse09@3x.jpg);}
	.list-maincourse10 .pics{background-image: url(../images/recipe/list-maincourse10@3x.jpg);}
	.list-maincourse11 .pics{background-image: url(../images/recipe/list-maincourse11@3x.jpg);}
	.list-maincourse12 .pics{background-image: url(../images/recipe/list-maincourse12@3x.jpg);}
	.list-dessert01 .pics{background-image: url(../images/recipe/list-dessert01@2x.jpg);}
	.list-dessert02 .pics{background-image: url(../images/recipe/list-dessert02@3x.jpg);}
	.list-dessert03 .pics{background-image: url(../images/recipe/list-dessert03@3x.jpg);}
	.list-dessert04 .pics{background-image: url(../images/recipe/list-dessert04@3x.jpg);}
	.list-dessert05 .pics{background-image: url(../images/recipe/list-dessert05@3x.jpg);}
	.list-dessert06 .pics{background-image: url(../images/recipe/list-dessert06@3x.jpg);}
	.list-dessert07 .pics{background-image: url(../images/recipe/list-dessert07@3x.jpg);}
	.list-dessert08 .pics{background-image: url(../images/recipe/list-dessert08@3x.jpg);}
	.Kitchenware span, .Kitchenware span:before{background-image:url(../images/tag@3x.png);}
}
@media (min-width:768px){
	
}