@charset "UTF-8";
/* CSS Document */

.fl {
	float: left;
}

.fr {
	float: right;
}


/*margin-top*/

.m-t-0 {
	margin-top: 0px;
}

/*text-size*/
.txt12 {
	font-size: 12px;
}

.txt13 {
	font-size: 13px;
}

/*text-color*/
.white {
	color: #fff;
}

/*width*/
.w33 {width: 33.3%;}