@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "微軟正黑體", sans-serif;
    letter-spacing: 0.5px;
	line-height:1.5;
}


body {
	background-image:url(images/page_back-01.jpg);
	background-attachment: fixed;
	background-repeat:repeat;
	background-position:center center;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 102%;
}

.posi-relative {
    position: relative;
}

.title-name {
    font-size: 115%;
}
.title-name {
    font-family: 'customer', '微軟正黑體', sans-serif;
    font-size: 125%;
    color: #0065b3;
    position: absolute;
    top: 31.3%;
    left: 13.4375%;
}

#content {
    padding: 5% 15% 5%;
	height: 589px;
	overflow-y:scroll;
	overflow-x:hidden;
	font-weight:500;
}

#content2 {
    padding: 5% 5% 5%;
    height: 589px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 500;
}


#content3 {
    padding: 5% 25% 5%;
    height: 589px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 500;
}

.img_radius {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	float:right;
	margin-left:25px;
}

.img_radius2 {
	width:380px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	float:left;
	margin-right:5px;
}

.img_radius2x {
	width:380px;
	float:right;
	margin-left:5px;
}


.img_radius3 {
	width:260px;
	float:left;
	vertical-align:baseline;
}

.hotel_name {
    color: #0062a9;
    font-weight: 600;
}

.hotel_link {
    color: #1b1b1b;
    font-size: 108%;
    margin-top: 7%;
    display: block;
}

.hotel_namex {
	width: 410px;
    display: inline-block;
    background-color: #0062a9;
    color: #FFF;
    margin-bottom: 10px;
    padding: 0 5% 0% 7%;
    line-height: 2.7;
}

.hotel_namex2 {
	width: 850px;
    display: inline-block;
    background-color: #0062a9;
    color: #FFF;
    margin-bottom: 10px;
	line-height: 2.7;
}

#clear {
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1200px;
}
#index_r1_c1 {
	margin-left: 0px;
	margin-top: -16px;
	background-image: url(images/index_r1_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 230px;
	margin-bottom: 0;
	width: 1200px;
}
#index_r2_c1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r2_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 141px;
}
#index_r2_c2 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 92px;
}
#index_r2_c3 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c4 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 68px;
}
#index_r2_c5 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c6 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 91px;
}
#index_r2_c7 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c8 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 91px;
}
#index_r2_c10 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c11 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 114px;
}
#index_r2_c12 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c13 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 91px;
}
#index_r2_c14 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 6px;
}
#index_r2_c15 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 98px;
}
#index_r2_c16 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c17 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 91px;
}
#index_r2_c18 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 12px;
}
#index_r2_c19 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 93px;
}
#index_r2_c20 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r2_c20.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 39px;
	margin-bottom: 0;
	width: 140px;
}
#index_r3_c1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r3_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 589px;
	margin-bottom: 0;
	width: 1200px;
}
#page_r3_c1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/page_r3_c1.png);
	overflow:hidden;
	display: inline;
	float: left;
	height: 589px;
	margin-bottom: 0;
	width: 1200px;
}

#index_r4_c1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r4_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 36px;
	margin-bottom: 0;
	width: 452px;
}
#index_r4_c9 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r4_c9.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 36px;
	margin-bottom: 0;
	width: 302px;
}
#index_r4_c15 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/index_r4_c15.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 36px;
	margin-bottom: 0;
	width: 446px;
}
table {
  font-size: 108%;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #0062a9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-collapse: separate;
  margin:0 auto;
}

/* line 47, ../sass/_element.scss */
th {
  background-color: #0062a9;
  color: #fff;
}
/* line 48, ../sass/_element.scss */
th:nth-of-type(1) {
  -moz-border-radius: 7px 0 0;
  -webkit-border-radius: 7px;
  border-radius: 7px 0 0;
}
/* line 49, ../sass/_element.scss */
th:nth-last-of-type(1) {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 7px 0 0;
}

/* line 51, ../sass/_element.scss */
tr:nth-last-of-type(1) td {
  border-bottom-width: 0;
}
/* line 52, ../sass/_element.scss */
tr:nth-last-of-type(1) td:nth-of-type(1) {
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 10px;
}
/* line 53, ../sass/_element.scss */
tr:nth-last-of-type(1) td:nth-last-of-type(1) {
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 0;
}

/* line 55, ../sass/_element.scss */
td {
  background-color: #fcfeff;
  color: #1b1b1b;
  border: solid #0062a9;
  border-width: 0 1px 1px 0;
}
/* line 56, ../sass/_element.scss */
td:nth-last-of-type(1) {
  border-right-width: 0;
}

/* line 58, ../sass/_element.scss */
.needBorder td {
  border-right-width: 1px;
}

/* line 59, ../sass/_element.scss */
th, td {
  padding: 2% 0;
}

/* line 61, ../sass/_element.scss */
.column3 td, .column3 th {
  width: 37.5%;
}
/* line 62, ../sass/_element.scss */
.column3 td:nth-of-type(1), .column3 th:nth-of-type(1) {
  width: 25%;
}

/* line 65, ../sass/_element.scss */
.column2 {
  width: 120%;
  margin: 3% 0 0 -17.5%;
  font-size: 100%;
}
/* line 66, ../sass/_element.scss */
.column2 td, .column2 th {
  width: 50%;
  padding: 2%;
}
/* line 67, ../sass/_element.scss */
.column2.column2_mel {
  width: 100%;
  margin-left: 0;
}
/* line 68, ../sass/_element.scss */
.column2.column2_mel td, .column2.column2_mel th {
  padding: 5% 0;
}
/* line 69, ../sass/_element.scss */
.column2.column2_mel td:nth-of-type(1), .column2.column2_mel th:nth-of-type(1) {
  width: 20%;
}
/* line 70, ../sass/_element.scss */
.column2.column2_mel td:nth-of-type(2), .column2.column2_mel th:nth-of-type(2) {
  width: 80%;
}

/* line 74, ../sass/_element.scss */
.no_borderBottom {
  border-bottom-width: 0;
}

/* line 76, ../sass/_element.scss */
.table_namelist td, .table_namelist th {
  width: 27%;
}
/* line 77, ../sass/_element.scss */
.table_namelist td:nth-of-type(1), .table_namelist th:nth-of-type(1) {
  width: 25%;
}
/* line 79, ../sass/_element.scss */
.table_namelist td {
  line-height: 1.5;
  vertical-align: middle;
}

/* line 81, ../sass/_element.scss */
.rowspan {
  vertical-align: middle;
}
