@charset "UTF-8";

body, html { height: 100%; }
@font-face {
	font-family: "Microsoft JhengHei", 微軟正黑體,"Helvetica Neue", Helvetica, Arial, STHeitiTC-light, STHeiti, sans-serif;
}
.newdiamond {
	width: 100%;
	/*min-width: 640px;*/
	height: 100vh;
	min-height: 1960px;
	position: relative;
	overflow: hidden;
	margin: 0;
	background-color: rgba(255,255,255,1.0)
}
a {
	text-decoration: none
}
div {
	-webkit-text-size-adjust: none
}
div {
	-webkit-text-size-adjust: none
}
.newdiamond .bitmap {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 660px;
	width: 640px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .bitmap1 {
	background-color: rgba(255,255,255,0.0);
	top: 660px;
	height: 1240px;
	width: 640px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .topbg {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 660px;
	width: 640px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .light3 {
	background-color: rgba(255,255,255,0.0);
	top: -31px;
	height: 714px;
	width: 339px;
	position: absolute;
	margin: 0;
	left: 227px;
	
}
.newdiamond .light1 {
	background-color: rgba(255,255,255,0.0);
	top: -31px;
	height: 714px;
	width: 567px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .light2 {
	background-color: rgba(255,255,255,0.0);
	top: -21px;
	height: 700px;
	width: 689px;
	position: absolute;
	margin: 0;
	left: 11px;
	
}
.newdiamond .bodybg {
	background-color: rgba(255,255,255,0.0);
	top: 660px;
	height: 1240px;
	width: 640px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .txtbg {
	background-color: rgba(255,255,255,0.0);
	top: 669px;
	height: 1099px;
	width: 563px;
	position: absolute;
	margin: 0;
	left: 39px;
	
	opacity: .9
}
.newdiamond .bitmap2 {
	display: block;
	height: 57px;
	width: 360px;
	top:1097px;
	position:absolute;
	margin: 0;
	left: 140px;
	
}
.newdiamond .dbitmap2 {
	display: block;
	background: url("img/new-diamond-bitmap 2.png");
	background-repeat: no-repeat;
	margin-top: 20px;
	height: 57px;
	width: 360px;
	top:1220px;
	position:absolute;
	margin: 0;
	left: 140px;
	
}
.newdiamond .main-txt {
	background-color: rgba(255,255,255,0.0);
	top: 722px;
	height: auto;
	width: 500px;
	position: absolute;
	margin: 0;
	left: 75px;
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 21.5px;
	color: rgba(85,85,85,1.0);
	text-align: center;
	letter-spacing: 1px;
	line-height: 30.0px
}
.newdiamond .date {
	background-color: rgba(255,255,255,0.0);
	top: 1159px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 228px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: center;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .note {
	display: block;
	top: 1429px;
	height: auto;
	width: 462px;
	position: absolute;
	margin: 0;
	left: 89px;
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: center;
	letter-spacing: 2.0px;
	line-height: 18.0px
}
.newdiamond .note .span1 {
	color: rgba(105,105,105,1.0);
	line-height: 30.0px
}
.newdiamond .note .span2 {
	font-size: 18.0px;
	color: rgba(105,105,105,1.0);
	line-height: 24.0px
}
.newdiamond .group {
	display: block;
	background-color: rgba(255,255,255,0.0);
	top: 1199px;
	height: 220px;
	width: 455px;
	position: absolute;
	margin: 0;
	left: 98px;
	
}
.newdiamond .group .td {
	background-color: rgba(255,255,255,0.0);
	top: 90px;
	height: 40px;
	width: 221px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td1 {
	background-color: rgba(255,255,255,0.0);
	top: 45px;
	height: 40px;
	width: 221px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td1 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td1 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td1 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td2 {
	background-color: rgba(255,255,255,0.0);
	top: 135px;
	height: 40px;
	width: 221px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td2 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td2 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td2 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td3 {
	background-color: rgba(255,255,255,0.0);
	top: 180px;
	height: 40px;
	width: 221px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td3 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td3 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td3 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td4 {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 225px;
	
}
.newdiamond .group .td4 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td4 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td4 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td5 {
	background-color: rgba(255,255,255,0.0);
	top: 90px;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 225px;
	
}
.newdiamond .group .td5 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td5 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td5 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td6 {
	background-color: rgba(255,255,255,0.0);
	top: 45px;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 225px;
	
}
.newdiamond .group .td6 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td6 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td6 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td7 {
	background-color: rgba(255,255,255,0.0);
	top: 135px;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 225px;
	
}
.newdiamond .group .td7 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td7 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td7 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td8 {
	background-color: rgba(255,255,255,0.0);
	top: 180px;
	height: 40px;
	width: 230px;
	position: absolute;
	margin: 0;
	left: 225px;
	
}
.newdiamond .group .td8 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td8 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td8 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 229px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .group .td9 {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 221px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td9 .rectangle {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 40px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .group .td9 .a900 {
	background-color: rgba(255,255,255,0.0);
	top: 5px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 10px;
	
	font-family: 'MicrosoftJhengHeiRegular', Helvetica, Arial, serif;
	font-size: 22.0px;
	color: rgba(85,85,85,1.0);
	text-align: left;
	letter-spacing: 2.0px;
	line-height: 30.0px
}
.newdiamond .group .td9 .line {
	background-color: rgba(255,255,255,0.0);
	top: 37px;
	height: 2px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 1px;
	
}
.newdiamond .topbottom {
	background-color: rgba(255,255,255,0.0);
	top: 461px;
	height: 199px;
	width: 640px;
	position: absolute;
	margin: 0;
	left: 0;
	
}
.newdiamond .oval {
	background-color: rgba(255,255,255,0.0);
	top: 293px;
	height: 363px;
	width: 363px;
	position: absolute;
	margin: 0;
	left: 160px;
	
}
.newdiamond .bear {
	background-color: rgba(255,255,255,0.0);
	top: 347px;
	height: 296px;
	width: 242px;
	position: absolute;
	margin: 0;
	left: 186px;
	
}

.newdiamond .speakerl {
	background-color: rgba(255,255,255,0.0);
	top: 494px;
	height: 152px;
	width: 127px;
	position: absolute;
	margin: 0;
	left: 131px;
	
}
.newdiamond .cloud {
	background-color: rgba(255,255,255,0.0);
	top: 38px;
	height: 221px;
	width: 395px;
	position: absolute;
	margin: 0;
	left: 107px;
	
}
.newdiamond .logo {
	background-color: rgba(255,255,255,0.0);
	top: 59px;
	height: 223px;
	width: 335px;
	position: absolute;
	margin: 0;
	left: 153px;
	
}
.newdiamond .bitmap3 {
	background-color: rgba(255,255,255,0.0);
	top: 1516px;
	height: 187px;
	width: 220px;
	position: absolute;
	margin: 0;
	left: 326px;
	
}
.light1box, .light2box, .light3box {
	position: relative;
}

.light1box .light1 {
	background-color: rgba(255,255,255,0.0);
	top: -90px;
	height: 1200px;
	width: 1000px;
	position: absolute;
	margin: 0;
	left: 90px;
	
}
.light2box .light2 {
	background-color: rgba(255,255,255,0.0);
	top: -70px;
	height: 1200px;
	width: 800px;
	position: absolute;
	margin: 0;
	left: -300px;
	
}
.light3box .light3 {
	background-color: rgba(255,255,255,0.0);
	top: -80px;
	height: 1200px;
	width: 1000px;
	position: absolute;
	margin: 0;
	left: -200px;
	
}


.light1box .light1 {
	animation: transform 3.0s linear infinite forwards;
}
.light2box .light2 {
	animation: transform 2.5s linear infinite forwards;
}
.light3box .light3 {
	animation: transform 3.5s linear infinite forwards;
}


@keyframes transform {
 0% {
 transform-origin: top center;
 transform: rotate(0deg);
}
 25% {
 transform-origin: top center;
 transform: rotate(20deg);
}
 50% {
 transform-origin: top center;
 transform: rotate(0deg);
}
 75% {
 transform-origin: top center;
 transform: rotate(-20deg);
}
 100% {
 transform-origin: top center;
 transform: rotate(0deg);
}
}
.dot {
	margin: 0px auto;
	width: 300px;
	height: 300px;
	border-radius: 200px;
	background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(221, 255, 7, 100), to(221, 255, 7, 0));
	background-image: -webkit-radial-gradient(center center, contain, rgba(221,255,7,100), rgba(221,255,7,0));
	background-image: -moz-radial-gradient(center center, contain, rgba(221,255,7,100), rgba(221,255,7,0));
	background-image: -o-radial-gradient(center center, contain, rgba(221,255,7,100), rgba(221,255,7,0));
	background-image: -ms-radial-gradient(center center, contain, rgba(221,255,7,100), rgba(221,255,7,0));
	background-image: radial-gradient(center center, contain, rgba(221,255,7,100), rgba(221,255,7,0));
	-webkit-animation-name: 'ripple';
	-webkit-animation-duration: 0.6s;
	-webkit-animation-timing-function: ease; 
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;/
	-webkit-animation-direction: alternate;
}
 @keyframes ripple {
0% {
 opacity:1;
width:250px;
height:250px;
}
100% {
 opacity: 0.2;
width:450px;
height:450px;
}
}
 @keyframes speakerR {  
 0% {
 transform: scale(1); 
}
 25% {
 transform: scale(1.1); 
}
 50% {
 transform: scale(1);
}
 75% {
 transform: scale(1.1);
}
}
@keyframes speakerL {  
 0% {
 transform: scale(1);  
}
 25% {
 transform: scale(1.1); 
}
 50% {
 transform: scale(1);
}
 75% {
 transform: scale(1.1);
}
}
.newdiamond .speakerr {
	top: 497px;
	height: 155px;
	width: 126px;
	position: absolute;
	margin: 0;
	left: 384px;
	background: url("img/new-diamond-speaker-r@2x.png");
	background-size: 126px 155px;
	-webkit-animation-name: speakerR; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-duration: 1.5s; 
}
.newdiamond .speakerl {
	top: 494px;
	height: 152px;
	width: 127px;
	position: absolute;
	margin: 0;
	left: 131px;
	background: url("img/new-diamond-speaker-l@2x.png");
	background-size: 127px 152px;
	-webkit-animation-name: speakerL; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-duration: 1.3s; 
}