@charset "utf-8";


/* CSS Document */

@font-face {
    font-family: 'PingFangTC-Regular';
    src: local('PingFangTC-Regular'),
    url('../fonts/PingFangTC-Regular.otf') format('truetype');
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Airal !important;
    background-color: #f8f8f8;
}

.colorline{
	display: block;
	position: absolute;
	top:0;
	width: 100%;
	height:.5rem;
	background-image: url(../img/colorline.jpg);
	background-position: center center;
}

.frame {
	background: #fff;
}


h1 {
    color: #000;
    font-weight: bold;
}

h2 {
    color: #20883E;
    font-weight: bold;
}

blockquote {
    font-size: .9em;
    border-left: 0;
}

blockquote .small, blockquote footer, blockquote small {
    display: inline-block;
    font-size: 1em;
    color: #000;
}

ol {
    list-style-type: decimal;
    font-size: .9em;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: #2b5f33;
    font-size: .9em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #2b5f33;
    font-size: .9em;
    background-color: transparent;
    border-bottom: 1px solid #2b5f33;
}

.frame {
    border: 1px solid #eee;
    padding: 1.5rem;
    border-radius: 1rem;
	margin-bottom: 1rem;
}

#goTop {
    position: fixed;
    right: 0;
    bottom: 50px;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: rgba(43, 95, 51, 0.65) url(../img/top_icon.png) no-repeat center center;
    background-size: 25%;
    z-index: 50;
}

.ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .25rem;
    margin-bottom: 20px;
}

.item-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../img/icon.png);
    background-size: 100%;
    margin-right: .5rem;
    vertical-align: middle;
}

.menu-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../img/icon1.png);
    background-size: 100%;
    margin-right: .5rem;
    vertical-align: middle;
}

.red{
	border-bottom: 1px solid red;
}

.example{
	position: relative;
	background: #fafafa;
	border-radius: 1rem;
	padding: 1rem;
	border:1px solid #ddd;
	display: flex;
    justify-content: center;
}

.example div{
	background: #fff;
	padding: 5px;
	margin:0 auto;
}

.example .lab{
	max-width: 15%;
	position: absolute;
	left:5px;
	top:5px;
}

.notice{
	font-size: .8em;
}

.item {
    color: #2b5f33;
    font-size: 1em;
    letter-spacing: 0.3em;
    font-weight: normal;
}

.award {
    color: #2b5f33;
}

.award>strong{
	font-size: 1.1em;
	margin-right: 1rem;
}

.award>.desc{
	font-size: .9em;
}

.big {
    font-weight: bold;
    font-size: 1.25em;
}

#footer {
    position: relative
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    line-height: 20px;
}

#footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#000;
}

#footer a img {
    margin-right: .5rem;
}

.fbshare {
    position: absolute;
    top: 35px;
    right: 20px;
    text-align: right;
    z-index: 99;
}

.lineshare {
    position: absolute;
    top: 35px;
    right: 80px;
    text-align: right;
    z-index: 99;
}

.noshow {
    display: block;
}

.shareb {
    width: 48px;
}

.break{
	word-break: break-all;
}


@media (min-width: 768px) {

	.frame {
	    border: 1px solid #eee;
	    padding: 2rem;
	    border-radius: 2rem;
	}

	.navbar-nav>li>a {
	    padding-top: 15px;
	    padding-bottom: 5px;
	}

	.allexamples{
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}

	.example{
		display: inline-flex;
		align-items: center;
	}

	.example .lab{
	}

	.example div{
	}

    #footer {
        position: absolute;
    }

    .fbshare {
    	right: 30%;
        top: 150px;
    }

    .noshow {
        display: none;
    }

}
