@charset "utf-8";

/* 簡單流變媒體
   注意: 流變媒體要求您必須移除 HTML 中媒體的高度和寬度屬性
   http://www.alistapart.com/articles/fluid-images/ 
*/

@font-face {
  font-family: 'PingFangTC-Regular'; /* 定義你的字型名稱 */
  src: local('PingFangTC-Regular'), /* 如果user電腦已經有這個字型就用local的 */
       url('fonts/PingFangTC-Regular.otf')  format('truetype');
}


body {
    font-family: 'PingFangTC-Regular', 'Microsoft JhengHei', Airal !important;
}

img,
object,
embed,
video {
    max-width: 100%;
}


/* IE 6 不支援最大寬度，因此寬度預設為 100% */

.ie6 img {
    width: 100%;
}

.content {
    line-hight: 1.5;
    font-size: 30px;
    color: #FFF;
}



/*
	Dreamweaver 流變格線屬性
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
	http://www.alistapart.com/articles/responsive-web-design
	
	以及 Joni Korpi 的「黃金格線系統」
	http://goldengridsystem.com/
*/


/* 行動版面: 480px 以下。 */

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    max-width: 414px;
    margin: 0px auto;
}

#LayoutDiv1 {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    left: 80px;
    top: 266px;
}

#godown{
    filter: drop-shadow(1px 1px 1px #000);
}

/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */

.AA {
    box-sizing: border-box;
    padding: 1rem;
    padding-bottom: 5rem;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    height: auto;
    background-repeat: repeat;
}
table td{
    font-size: 80%;
}
@media only screen and (min-device-width: 375px) {
    .AA {
        box-sizing: border-box;
        padding: 1rem;
        padding-bottom: 5rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        height: auto;
        background-repeat: repeat;
    }
    table td{
        font-size: 100%;
    }
}
@media only screen and (min-device-width: 414px) {
    .AA {
        box-sizing: border-box;
        padding: 1.5rem;
        padding-bottom: 5rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        height: auto;
        background-repeat: repeat;
    }
    table td{
        font-size: 100%;
    }
}
.ONE {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.AAright {
    float: right;
    text-align: justify;
    line-height: 0.5;
    letter-spacing: 30px;
    box-sizing: border-box;
    margin-right: -1rem;
}

.AAleft {
    float: left;
}

.AAleft span {
    background-color: #fe0000 !important;
    color: # E82023 !important;
}

.AA p {
    text-align: justify;
    text-justify: inter-ideograph;
    letter-spacing: 3px;
}

@media only screen and (min-width: 481px) {
    .gridContainer {
        width: 100%;
    }
}


/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width: 100%;
        max-width: 640px;
        margin: auto;
    }
}

@media screen and (max-width: 769px) {
    .AA {
        width: 100% !important;
    }
    .ONE {
        width: 100% !important;
    }
}