@charset "utf-8";
/* CSS Document */

body,html { padding:0;margin:0; } 

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1a1a1a;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 60px;
	/*background-image: url(../mobileSite_images/bg.jpg);
	background-repeat: repeat;
	background-position: center top;*/
	background-color: #bbe9fe;
}

a{
	color: #4f4f4f;
	text-decoration: none;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 40px;
	font-size: 12px;
}
a:hover {
	color: #4f4f4f;
	text-decoration: none;
	display: inline;
}

.go{
	color: #007ab9;
	text-decoration: underline;
	display: inline;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 0px;
	font-size: 14px;

}
.go:hover {
	color: #007ab9;
	text-decoration: underline;
}


fieldset,img { 
border:0;
}

h1{
	font-weight: bold;
	color: #5d3a1d;
	font-size: 18px;
	line-height: 20px;
	vertical-align: middle;
}

.main {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	width: 100%;
	background: url(../mobile_images/bg.jpg) center top no-repeat;
	min-height:450px;
}

.page {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	width: 100%;
	background: url(../mobile_images/sub-bg2.jpg) top center no-repeat #f3e600;
	min-height:420px;
}

.bannerL {
	width: 320px;
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height:188px;
}

.bannerS {
	width: 320px;
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height:93px;
}

.sttl {
	width: 320px;
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height:48px;
}

.menu {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	width: 100%;
	
	min-height:420px;
}

.menu2 {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	width: 100%;
	margin-top:46px;
	min-height:420px;
}


#scroll {
	width: 100%;
	height: 57px;
	font-weight: bold;
	background: #ffffff;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
}

.sidebar {
	height:57px;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #ffffff;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
}

.txt_wt{
	color: #ffffff;797979
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: normal;
}

.txt_bk{
	color: #797979;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: normal;
}

.txt_wt_2{
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
}

.txt_wt_2 a{
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	text-decoration: underline;
}

.txt_wt_2 a:hover {
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
}

.txt_wt_3{
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	padding-top: 10px;
}

.txt_wt_b{
	color: #ffffff;
	font-size: 22px;
	line-height: 40px;
	font-weight: bold;
	background-color: #00b3cb;
	background-image: url(../mobile_images/icon_bg2.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	display: block;
}

.txt_wt_b a{
	color: #ffffff;
	font-size: 22px;
	line-height: 40px;
	font-weight: bold;
	display: block;
	text-decoration: underline;
		padding-top: 10px;
	padding-bottom: 10px;
}

.txt_wt_b a:hover {
	color: #FFCC00;
	line-height: 40px;
	text-decoration: none;
		padding-top: 10px;
	padding-bottom: 10px;
}

.txt_bk_b2{
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	background-color: #ffff91;
	background-image: url(../mobilesite_images/icon_bg1.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	display: block;
			padding-top: 10px;
	padding-bottom: 10px;
}

.txt_bk_b{
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	background-color: #ffff91;
	background-image: url(../mobilesite_images/icon_bg1.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	display: block;
}

.txt_bk_b a{
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.txt_bk_b a:hover {
	color: #5d3a1d;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.txt_tit_b{
	color: #fdc060;
	font-size: 22px;
	line-height: 40px;
	font-weight: bold;
}

.txt_2 {
	color: #fdc060;
	font-size: 18px;
	font-weight: bold;
}

.line_1{
	background-image: url(../images/line_2.png);
	background-repeat: no-repeat;
	background-position: center center;
}



.txt_tit_2{
	color: #083336;
	font-size: 18px;
	line-height: 40px;
}

.TXT_H2{
    font-size: 18px;
	color: #083336;
	line-height: normal;
}

.TXT_H2 a{
	color: #083336;
	line-height: normal;
	text-decoration: underline;
}

.TXT_H2 a:hover{
	color: #083336;
	line-height: normal;
	text-decoration: none;
}

.TXT_H3{
	font-weight: bold;
	color: #083336;
	font-size: 22px;
}

.all_box{
	width: 320px;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height:320px;
	background: url(../images/index-bg.jpg) top center no-repeat #BBE9FE;
}

.cnt_box{
	width: 320px;
	margin:0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height:320px;
	background: url(../images/inner-bg.jpg) top center repeat-y #BBE9FE;
}


.page_box{
	width: 320px;
	margin:0 auto;
	
	min-height:320px;
}

.contentbox {
	margin:0 21px;
	}

.indexbutton {
	top:230px;
	position:relative;
	margin:0 auto;
	width: 320px;
	height:30px;
	padding-bottom: 12px;
	padding-top: 11px;
	}

.qrcode {
	top:235px;
	position:relative;
	margin:0 auto;
	width: 320px;
	height:30px;
	}
	
#contenttop {
	
	height:11px;
	margin:0 auto;
	width:320px;
	padding-top:90px;
	}

#pagetop {
	
	height:10px;
	margin:0 auto;
	width:320px;
	padding-top:120px;
	}

#pagebottom {
	
	height:9px;
	margin:0 auto;
	padding-bottom:10px;
	}	
	
.title {
	padding:5px 0;
	height:36px;
	margin:0 auto;
	width:320px;
	}

table .tablebox td {
	border:1px solid 91dbfe;
	}

.dir{ width:185px; border-left:#b4acb5 solid 1px;border-top:#b4acb5 solid 1px;border-collapse:collapse; } 

.dir td{border-right:#b4acb5 solid 1px;border-bottom:#b4acb5 solid 1px; vertical-align: top;}

.info {
	color:#277AA4;
       font-size:18px;
	   /*font-weight:bold;*/
	   letter-spacing:4px;
	   line-height:18px;
	   padding-top: 2px;
	   padding-bottom: 8px;
	}

.infotitle {color:#171717;
            font-size:18px;
			letter-spacing:3px;
			padding:5px 0;
			line-height:18px;
			}

.infoimg {
	padding:10px 0;
	}

.word {color:#4f4f4f;
            font-size:14px;
			letter-spacing:2px;
			line-height:20px;
			/*text-align:justify;*/
			/*text-justify:inter-ideograph;*/white-spacing: pre-wrap;}
			
.wordpoint {color:#277AA4;
            font-size:14px;
			letter-spacing:2px;
			line-height:20px;
			/*text-align:justify;*/
			/*text-justify:inter-ideograph;*/white-spacing: pre-wrap;}
			
.wordnotice {color:#ff0000;
            font-size:14px;
			letter-spacing:2px;
			line-height:20px;
			/*text-align:justify;*/
			/*text-justify:inter-ideograph;*/white-spacing: pre-wrap;}

/*�Q���P��*/

.button06 td a{color:#4f4f4f;
            font-size:14px;
			letter-spacing:2px;
			line-height:20px;
			/*text-align:justify;*/
			/*text-justify:inter-ideograph;*/white-spacing: pre-wrap;}

.button06 td{color:#4f4f4f;
            }			
			
/****貴賓****/
.speech-item {
	
	float: left;
	height: 290px;
	margin-bottom: 10px;
	margin-left: 12px;
	width: 120px;
}

.speech-itemSmall {
	
	float: left;
	height: 250px;
	margin-bottom: 10px;
	margin-left: 12px;
	width: 120px;
}

.speechImg-wrapper {
	height: 86px;
	width: 120px;
}

.speechTxt-wrapper {
	width: 120px;
	height: 150px;
	 padding-top: 6px;
	text-align:center;
}

.speechTxt-header {
	font-size: 15px;
	color: #3c3c3c;
	height: 60px;
}

.speechImg {
	-webkit-border-top-left-radius: 6px;
-moz-border-top-left-radius: 6px;
border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-top-right-radius: 6px;
border-top-right-radius: 6px;
 }
 
 .speech2-item {
	
	float: left;
	height: 180px;
	margin-bottom: 10px;
	margin-left: 6px;
	width: 80px;
}

.speech2Img-wrapper {
	height: 76px;
	width: 80px;
}

.speech2Txt-wrapper {
	width: 80px;
	height: 60px;
	 padding-top: 10px;
	text-align:center;
	margin-left: 5px;
}

.speech2Txt-header {
	font-size: 15px;
	color: #3c3c3c;
	height: 19px;
}

.speech2Img {
	-webkit-border-top-left-radius: 6px;
-moz-border-top-left-radius: 6px;
border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-top-right-radius: 6px;
border-top-right-radius: 6px;
 }
 
 .speech-itemL {
	
	float: left;
	height: 265px;
	margin-bottom: 10px;
	
	width: 280px;
}

.speechImg-wrapperL {
	height: 90px;
	width: 280px;
}

.speechTxt-wrapperL {
	width: 280px;
	height: 40px;
	
	text-align:center;
}

 
 .dwdImg-wrapper {
	height: 170px;
	width: 120px;
}

.dwdTxt-header {
	font-size: 15px;
	color: #3c3c3c;
	height: 25px;
}	
 
.shadowDw{box-shadow:4px 0px 3px rgba(0, 0, 0, 0.3);} 	

/*table*/
.line { width:280px; border:#eeeeee solid 1px;border-collapse:collapse; background:#fff; box-shadow:0 0 3px #EEEEEE; font-family: 微軟正黑體, Arial, Helvetica, sans-serif;}

.line td { border-right:#eeeeee solid 1px;border-bottom:#eeeeee solid 1px; font-family: 微軟正黑體, Arial, Helvetica, sans-serif; color: #3c3c3c; font-size: 12px; }

/*box artichle*/
.box{
    margin-bottom: 0px;
   
}
.box .imgisleft{
    margin-bottom:33px; 
	width:300px;
}
.box .text,.box img{
    float:left;
}
.TabBlock h3{
    letter-spacing: 6px;
    color: #ff9130;
    font-size: 18px;
    font-weight: bold;
}

.article div {
    letter-spacing: 1px;
    line-height: 180%;
}

.article a {
    color:#fe9132;
}

.article table, .article2 table {
    width:100%;
}

.article table td, .article2 table td {
	vertical-align:top;
	letter-spacing: 1px;
    line-height: 180%;
}

.article table td img {
    margin-left:0px;
	margin-bottom:20px;
	width:244px;
}

.article2 table td img {
    margin-left:0px;
	margin-bottom:20px;
	margin-right:0px;
	width:244px;
}

	
 /*游輪*/

.cntWrap{width:277px; min-height:300px;float:left; margin-top:28px;}



.about-title {
    background: url(../images/abouttitlebg2.png) center center no-repeat;
	font-size:14px;
	font-weight:bolder;
	text-align:center;
	color:#fff;
	height:34px;
	line-height:34px;
}	



.specification {
    background: url(images/intro/specificationbg.png) center center no-repeat;
	height: 128px;
}

.specification td {
    vertical-align:top;
}

.specification-item {
   padding-left:20px;
}

.galleryleft {
   background: url(images/intro/galleryleft.png) center center no-repeat;
   height:277px;
   float:left;
}

.galleryright {
   background: url(images/intro/galleryright.png) center center no-repeat;
   height:277px;
   float:left;
}

.provision {
   background: url(images/intro/provision.png) center center no-repeat;
   padding: 9px;
   height:173px;
   opacity:0.6;
   filter:alpha(opacity=70);
}
.provision_active{
    opacity:1;
    filter:alpha(opacity=100);    
}
.provision.bigger {
   background: url(images/intro/002.png) center center no-repeat;
   padding: 9px;
   height:194px;
}

.provision>div {
   height:100%;
     float:left;
	 margin-right:25px;
	 margin-left:30px;
}

.provision:hover {
    opacity:1;
	filter:alpha(opacity=100);
}

.provision img {
   margin-top: 20px;
   width: 190px;
}

.provision.bigger img {
   margin-top: 30px;
}


.provision p {
	font-size: 12px;
	line-height: 14px;
	margin: 2px 0 8px 0px;
}
p.provision-name {
   color:#f69125;
   font-weight:bold;
   font-size: 14px;
  
}
.a1.provision p{
    line-height: 18px;
}
.a2.provision p{

}
.a3.provision p{

}
.a4.provision p{
    line-height: 28px;
}
.a5.provision p{
    line-height: 23px;
}

.responsive-image{
	width:100%;
	
}



 /*note*/
 .red{color:#ce5242;}
 .txtBlue{color:#007ab9}
.txtBlueLight{color:#2EA7E0;}
.txtBlueDk{color:#007ab9;}
.white{color:#ffffff;}
.blue{color:#0457B7;}
.bluelight{color:#11cafe;}
.yellow{color:#f4ec7a;}
.green{ color:#208A96;}




 .fontSmall{font-size:small;}
 .pb10{padding-bottom: 10px;}
 .mb-10{margin-bottom:-10px;}
 .mt-10{margin-top:-10px;}
 .imgBox{border-radius: 6px; box-shadow:0 0 3px #EEEEEE;}
 .txtTop{vertical-align:top}
 .alignC{text-align:center;}
 .cntTxt{width: 270px;margin-left: 8px;}
 .ttlBlue{font-family: 微軟正黑體,Arial,Helvetica,sans-serif; color:#007ab9; font-size: 16px; width: 277px; float: left; font-weight: bold;}
 .pl5{padding-left: 5px;}
 .pt10{padding-top: 10px;}
 .pb10{padding-bottom: 10px;}
 
 
 .new2{position: absolute; z-index:11000; top: 740px; margin-left: 210px;}
 .new1{position: absolute; z-index:11000; top: 603px; margin-left: 210px;}
 .new3{position: absolute; z-index:11000; top: 512px; margin-left: 210px;}