<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="LogConfig" type="wwwins.Lib.Common.LogConfig, wwwins.Lib.Common"/>
        <section name="LibConfig" type="wwwins.Lib.Common.LibConfig, wwwins.Lib.Common"/>
        <section name="LeadsConfig" type="wwwins.Lib.Common.LeadsConfig, wwwins.Lib.Common"/>
    </configSections>
   <LogConfig LogFolder="D:\DevSites\KeyAccounts\Amway\Nutrilite\WebSites\WeightPlus\logs" AppName="Amway_WeightPlus" MailOn="false" MailTo="mars.chang@isobar.com" MailSender="Amway_WeightPlus@hinet.net" SenderName="Amway_WeightPlus" MailSubject="[Amway_WeightPlus UAT]前台系統錯誤通知"/>
    <LibConfig configSource="app_data\LibConfig.xml" />
    <LeadsConfig Key="" URL="http://4wintools.wwwins.com.tw/LeadsService/Rec.ashx" />
    <connectionStrings>
        <add name="DBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.180.161.84;initial catalog=WeightPlus;persist security info=True;user id=WeightPlusIISUser;password=yy@.ueR;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <appSettings>
     	<add key="AmwayＷebServiceLoginUrl" value="http://127.0.0.1/AmwayAppService/InterfaceMobileHubV2.ashx"/>
      <!--DMZ-->	
      <add key="DMZPicUrl" value="http://10.180.66.36/WeightPlus/APIDMZ/GetPic.ashx"/>


    </appSettings>
    <location path="." inheritInChildApplications="false">
        <system.net>
            <mailSettings>
                <smtp deliveryMethod="Network">
                    <network host="localhost" port="25" />
                </smtp>
            </mailSettings>
        </system.net>
        <system.web>
            <customErrors mode="Off" defaultRedirect="/help/500.aspx" redirectMode="ResponseRewrite">
                <error statusCode="404" redirect="/help/404.aspx" />
            </customErrors>
            <compilation debug="true" targetFramework="4.0" defaultLanguage="C#">
                <assemblies>
                    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                </assemblies>
            </compilation>
            <pages pageBaseType="CampaignPageBase">
                <namespaces>
                    <add namespace="System.Linq"/>
                    <add namespace="System.Data.Entity"/>
                    <add namespace="wwwins.Lib.Common"/>
                </namespaces>
            </pages>
        </system.web>
    </location>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="404" path="/help/404.aspx" responseMode="ExecuteURL" />
            <error statusCode="500" path="/help/500.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>