.form {
	/*background-color:white;*/
	padding: 20px;

	& .input-item {
		margin: 15px auto;
	}
	& scroll {
		margin:10px 0;
		width: 300px;
	}
	& .check-item {
		position: relative;
		overflow: hidden;
		margin-bottom: 14px;

		& label{
			width: 200px;
			cursor: pointer;

			&:before{
				@mixin inline text-top;

				margin-right: 5px;
				width: 13px;
				height: 13px;
				border: 1px solid $ct;
				background: $c-white;
				content:'';
			}
		}
		& input:checked + label:before{
			content:'\2714';
			line-height: 100%;
		}
	}

}

label {
	margin-right:10px;

}
.require {
	position: relative;
	font-size: 18px;

	&:before {
		display:inline-block;
		color: $c-red;
		content: '*';
		margin-right: 5px;
	}
}
.addfbForm {
	& .input-item{
		width: 460px;
	}
	& .require{
		width: 140px;
		text-align: right;
	}
}
.ocr{
	& .require{
		position: relative;
	}
	& .require:before{
		content:'';
	}
	& .precautions-title{
		padding-top: 12px;
		vertical-align: middle;
		margin-right: 10px;
	}
}
label,
[type="number"] {
	@mixin inline middle;
}

[type="number"] {
	padding: 8px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}
[type="checkbox"]{
	position: absolute;
	top: -100%;
}

.scroll {
	width:100%;
	height: 190px;
	position: relative;	
	margin: 15px 0;
	padding:15px;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	overflow-y: auto;
	& ul, & p{
		font-size: 14px;
	}
}

.viewport {
	position: relative;
	overflow: hidden;
	margin-top: 8px;
	height: 98px;
	border: 1px solid $ct;
}

.overview {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px;
	background: $c-white;

	& ul, & p, & li{
		margin-bottom: 10px;
	}
	& ul{
		margin-top: 10px;
		padding-left: 23px;
	}
	& li{
		list-style-type: disc;
	}
}

.scrollbar {
	position: absolute;
	top: 30px;
	right: 3px;
	z-index: 999;
	overflow: visible;
	width: 3px;
	height: 100%;
}

.track {
	position: relative;
	left: 0;
	margin: 0 auto;
	width: 3px;
	height: 100%;
	text-indent: 0;
}

.thumb {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 3px;
	background: #ccc;
	cursor: pointer;
}

.thumb .end {
	overflow: hidden;
	width: 3px;
}

.scroll .disable {
	display: none
}

.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}