body {
	color: #444444;
	font-size: 16px;
	font-family: Arial, Helvetica, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
	background: url(../../images/bg.jpg) center top no-repeat;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.text-center{
	text-align: center;
}

#wrap {
	min-width: 980px;
}
.footer{
	background-color: #f2f6fa;
	font-size:14px;
	&-content{
		width: 980px;
		margin: 0 auto;
		padding: 20px 70px;
	}
	&-logo{
		background: url(../../images/sprite/footer-logo-sprite_misc.png) no-repeat;
		width: 101px;
		height: 34px;
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
	}
	&-logo--link{
		display: block;
		width: 100%;
		height: 100%;
	}
	&-p{
		display: inline-block;
	}
}
.nav{
	position: fixed;
	top: 0;
	left:0;
	z-index: 99;
	width: 100%;
	height: 70px;
	background-color: #fff;
	text-align: center;
	&-content{
		position: relative;
		margin: 0 auto;
		width: 980px;
		height: 100%;
		display: inline-flex;
		justify-content:flex-end;
		align-items:center;
	}
	&-item{
		padding: 20px 20px 0;
		display: block;
		color:#000;
		font-size: 18px;
		line-height: 51px;
		position: relative;
		&:after {
			content: '';
			width: 0%;
			height: 4px;
			display: block;
			background-color: #e85298;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width 0.3s ease-in-out;
		}
		&:hover {
			color:#e85298;
			&:after {
				width: 100%;
			}
		}
	}

	&-item--logo{
		position: absolute;
		top:8px;
		left: 18px;
		background:url(../../images/sprite/nav-item--logo-sprite_misc.png) no-repeat;
		width:231px;
		height:54px;
		padding: 0;
		&:after{ display:none;}
	}
	&-item--fb{
		background: url(../../images/sprite/nav-item--fb-sprite_misc.png) no-repeat;
		width: 30px;
		height: 30px;
		margin-top: 15px;
		margin-left: 10px;
		padding: 0;
		&:after{ display:none;}
	}
	&-item--line{
		background:url(../../images/sprite/nav-item--line-sprite_misc.png) no-repeat;
		width:30px;
		height:30px;
		margin-top: 15px;
		margin-left: 11px;
		padding: 0;
		cursor: pointer;
		&:after{ display:none;}
	}
}
@at-root {
	.index .nav-item--home{
		display: none;
	}
}
.owl-controls{
	position: relative;
}
.owl-prev{
	background:url(../../images/owl-pre-s.png) center center no-repeat;
	text-indent: -9999px;
	position: absolute;
	top:0;
	left: 190px;
	width: 50px;
	height: 50px;
}
.owl-next{
	background:url(../../images/owl-next-s.png) center center no-repeat;
	text-indent: -9999px;
	position: absolute;
	top:0;
	right: 190px;
	width: 50px;
	height: 50px;
}
.owl-dots{
	text-align: center;
	padding: 18px 0;
}
.owl-dot{
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #cdeced;
	border-radius: 100%;
	margin: 0 8px;
}
.owl-dot.active{
	background-color: #60c1c7;
}
.stage1{
	padding: 295px 0 105px 0;
	&-owl{
		margin: 0 auto;
		width: 960px;
		height: 350px;
	}
	& .owl-prev{
		background:url(../../images/stage1-owl-pre.png) center center no-repeat;
		text-indent: -9999px;
		position: absolute;
		top:-350px;
		left: 10px;
		width: 50px;
		height: 350px;
	}
	& .owl-next{
		background:url(../../images/stage1-owl-next.png) center center no-repeat;
		text-indent: -9999px;
		position: absolute;
		top:-350px;
		right: 10px;
		width: 50px;
		height: 350px;
	}
}

.stage2{
	background: url(../../images/stage2-bg.jpg) center top no-repeat;
	width: 100%;
	height: 500px;
	text-align:center;
	&-content{
		width: 980px;
		display: inline-flex;
		justify-content:space-between;
	}
	& .h2-title{
		padding:75px 0 35px;
	}
	&-items{
		width: 291px;
		height: 291px;
	}
	&-items--item1{
		background: url(../../images/sprite/stage2-content--item1-sprite_stage2items.png) no-repeat;
	}
	&-items--item2{
		background: url(../../images/sprite/stage2-content--item2-sprite_stage2items.png) no-repeat;
	}
	&-items--item3{
		background: url(../../images/sprite/stage2-content--item3-sprite_stage2items.png) no-repeat;
	}
}
.stage3{
	position: relative;
	background: url(../../images/stage3bg.jpg) center top no-repeat;
	width: 100%;
	height: 500px;
	&-owl{
		position: absolute;
		top:85px;
		left: 50%;
		margin-left: -452px;
		width: 560px;
		height: 315px;
		background-color: #000;
	}
	&-video{
		width: 560px;
		height: 315px;
	}
}
.stage4{
	padding: 10px 0 70px;
	&-owl{
		position: relative;
		margin: 40px auto;
		width: 980px;
	}
	&-owlItem{
		position: relative;
		padding: 30px 0 30px;
		width:655px;
		min-height: 260px;
		margin-left: 270px;
		background: url(../../images/line-point.png) 0 bottom repeat-x;
	}
	@at-root {
		.index .stage4-owlItem{
			background: none;
			padding: 30px 15px 10px;
			margin-left: 255px;
			width:720px;
		}
	}
	&-owlItem--pic{
		position: absolute;
		top:15px;
		left:-240px;
		width: 219px;
		height: 219px;
	}
	&-owlItem p{
		line-height: 1.5em;
	}
	& .owl-dots{
		padding: 18px 100px 18px 0;
	}
	& .owl-prev{
		left: 350px;
	}
	& .owl-next{
		right:450px;
	}
}
.stage5{
	position: relative;
	background:url(../../images/cloud.jpg) center top no-repeat;
	width:100%;
	height:880px;
	padding-top: 430px;
	&-role{
		position: absolute;
		top:-65px;
		left: 50%;
		margin-left: -417px;
		background: url(../../images/role-mom.png) no-repeat;
		width: 393px;
		height: 495px;
	}
	&-tip{
		position: absolute;
		top:85px;
		left: 50%;
		margin-left: -80px;
		background: url(../../images/stage5-tip.png) no-repeat;
		width: 499px;
		height: 303px;
		padding: 40px 45px 40px 105px; 
	}
	& p{
		line-height: 1.6em;
	}
	&-description{
		position: relative;
		margin: 0 auto;
		width: 910px;
		padding: 35px;
		background-color: #fff;
		border-radius: 1em;
	}
	&-description--item1{
		display: flex;
		margin-bottom: 1em;
		& span{
			color:#2bb7ae;
			font-size:18px;
			white-space:nowrap;
		}
		& p{
			margin-left: 5px;
		}
	}
	&-description--item2{
		display: flex;
		margin-bottom: 1em;
		& a{
			display: inline-block;
			vertical-align: middle;
			color:#ffffff;
			font-size:18px;
			background-color: #60c1c7;
			border-radius: 1em;
			padding: 3px 15px;
			margin-left: 25px;
			white-space:nowrap;
			height: 30px;
		}
		& span.font14{
			font-size: 14px;
			background-color: #fff;
			margin-left: 0;
			padding: 0;
			color:#444;
		}
		& p{
			margin-left: 10px;
		}
		& p a{
			margin: 0;
			padding: 0;
			font-size: 16px;
			border-radius: 0;
			background:none;
			text-decoration:underline;
			color:#e85298;
		}
		& p a:hover{
			text-decoration:none;
		}
	}
	&-qrcode{
		display: none;
		position: absolute;
		top:110px;
		right:120px;
		background: url(../../images/sprite/stage5-qrcode-sprite_misc.png) no-repeat;
		width: 133px;
		height: 122px;
		padding: 10px 10px 10px 20px;
	}
	&-online{
		position: relative;
		width: 100%;
		color:#2bb7ae;
		font-size: 14px;
		padding-left: 670px;
		margin-bottom: 1em;
	}
	&-online:before{
		position: absolute;
		top: 10px;
		left: 0;
		content:'';
		width: 660px;
		height: 1px;
		background-color: #2bb7ae;
	}
	&-online:after{
		position: absolute;
		top: 10px;
		right: 0;
		content:'';
		width: 100px;
		height: 1px;
		background-color: #2bb7ae;
	}
}
.content{
	position: relative;
	margin: 365px auto 0;
	width: 960px;
	background-color: rgba(100%, 100%, 100%, 0.8);
	padding: 40px 0 50px;
	&-share{
		position: absolute;
		top:0;
		right:0;
		display: flex;
		padding-right: 10px;
	}
}
.data .content{
	background: #fff;
}
.kv{
	&-preferential{
		margin: 0 auto;
		width: 920px;
	}
	&-article{
		margin: 0 auto;
		width: 920px;
	}
}
.giftbox{
	padding: 0 40px;
	&-item{
		position: relative;
		background:url(../../images/line-point.png) left bottom repeat-x;
		padding: 10px 0;
		margin: 30px 0 30px 125px;
	}
	&-pic{
		position: absolute;
		top:0;
		left: -130px;
		width: 120px;
		height: 120px;
	}
	&-pic:after{
		content:'';
		background-color: #fce4d6;
		border-radius: 100%;
		width: 90px;
		height: 90px;
		display: block;
		position: absolute;
		top:15px;
		left: 15px;
	}
	&-img{
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
	}
	& p{
		line-height: 1.5em;
	}
}
.articlebox{
	&-item{
		position: relative;
		padding:25px 0;
		margin-left: 270px;
		margin-right: 40px;
		margin-bottom: 0.5em;
		min-height: 220px;
		background: url(../../images/line-point.png) left bottom repeat-x;
	}
	&-pic{
		position: absolute;
		top: 0;
		left: -240px;
		width: 215px;
	}
}
.article--back{
	text-align: center;
	margin:30px auto;
	margin-left: 160px;
}
/*==漾媽學堂==*/
.school{
	display: inline-flex;
	margin-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 900px;
	background: url(../../images/line-point.png) left bottom repeat-x;
	&-videoArea{
		position: relative;
		width: 540px;
		min-height: 339px;
	}
	&-video{
		position: relative;
		width: 540px;
		height: 304px;
	}
	&-videoArea iframe{
		width: 540px;
		height: 304px;
	}
	&-tool{
		position: relative;
		width: 100%;
		height: 35px;
		background-color: #60c1c7;
	}
	&-explain{
		margin-left: 20px;
		width: 340px;
	}
	&-mask{
		display: block;
		position: absolute;
		top:0;
		left: 0;
		z-index: 10;
		background: url(../../images/space.png);
		width: 100%;
		height: 304px;
		cursor: pointer;
	}
}
.tags{
	display: none;
	&-item{
		display: inline-block;
		background-color: #f8a4cb;
		color:#fff;
		padding: 5px 10px;
		border-radius: 4em;
		margin-right: 5px;
		margin-bottom: 5px;
	}
}
.box{
	&-login{
		position: relative;
		margin: 0 auto;
		width: 600px;
		background-color: #fff;
		border-radius: 5px;
		padding:20px;
		box-shadow:5px 5px 30px 5px #e28db5;
	}
	&-close{
		display: block;
		position: absolute;
		top:-10px;
		right:-10px;
		width: 30px;
		height: 30px;
		z-index: 999;
		text-decoration: none;
		text-indent:-9999px;
		background-color: #f870af;
		border-radius: 100%;
		border: 3px solid #fff;
	}
	&-close:before, &-close:after{
		content:'';
		position: absolute;
		top:47%;
		left: 11%;
		width: 75%;
		height: 2px;
		background-color: #fff;
		transform:rotate(45deg);
		transform-origin:center center;
		transition:transform .3s ease-in-out;
	}
	&-close:after{
		transform:rotate(-45deg);
	}
	&-signin{
		margin: 0 auto;
		width: 360px;
	}
	&-signinItem{
		margin-bottom: 0.8em;
	}
	&-signinItem label{
		display: inline-block;
		vertical-align: middle;
		color:#000;
		font-size: 18px;
		width: 50px;
	}
	&-signinItem input{
		display: inline-block;
		vertical-align: middle;
		border-radius: 0.3em;
		border:1px solid #bfbfbf;
		width: 300px;
		padding: 0 10px;
		line-height: 30px;
		min-height: 30px;
	}
	&-account{
		display: none;
		margin: 10px 0;
		padding: 10px 0;
	}
	&-process{
		margin-top: 1em;
	}
	&-accountItem{
		margin-bottom: 0.8em;
		font-size: 15px;
	}
	&-accountItem label{
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		color:#e85298;
		font-size: 18px;
	}
	&-login--error{
		display: block;
		position: relative;
		margin: 0 auto;
		width: 600px;
		background-color: #fff;
		border-radius: 5px;
		padding:20px 30px 60px;
	}
	&-comingsoon{
		position: relative;
		margin: 0 auto;
		width: 600px;
		background-color: #fff;
		border-radius: 5px;
		padding:20px 20px 60px;
	}
}
.box-login--error, .box-comingsoon{ display: none;}
/*==加入漾媽==*/
.data{

}
.tabs {
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1.3em;
    position: absolute;
    top:-50px;
    left: 0;

    &-item {
        width: 49.3%;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        color:#fff;
        text-align: center;
        vertical-align: top;
        box-sizing: border-box;
        transition: all .3s ease-in-out;
        background-color: #e85298;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &-item--active {
        color:#e85298;
        background-color: #fff;
    }
}

.tabsContentBox{
	position: relative;
	transition:height .3s ease-in-out;
	width:960px;
	margin: 0 auto;
	padding:0 70px;
}

.m20{
	margin: 20px 0;
}