.btn {
    &-top{
        display: block;
        position: fixed;
        bottom:3.125vw;
        right:3.125vw;
        z-index: 10;
        background: url(../../images/sprite/btn-top-sprite_misc.png) no-repeat;
        @mixin sprite btn-top-sprite_misc, png;
        background-size: 100%;
        width: 15.625vw;
        height: 15.625vw;
        text-indent: -9999px;
    }
    &--arrow{
        position: relative;
    }
    &--arrow:before, &--arrowBlue:before{
        pointer-events: none;
        display: inline-block;
        margin-right: 0.4em;
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 7px;
        border-color: transparent transparent transparent #fff;
    }
    &--arrowBlue:before{
        border-color: transparent transparent transparent #3b5997;
    }
    &-hollow&--arrow:before{
        border-color: transparent transparent transparent #e85298;
    }
    &-solid{
        display: block;
        margin: 0 auto;
        background-color: #e85298;
        border-radius: 2em;
        color:#fff;
        padding: 0.3em 2em;
        font-size: 5vw;
        text-align: center;
    }
    &-solid--blue{
        background-color: #60c1c7;
    }
    &-hollow{
        border-radius: 1em;
        border:1px solid #e85298;
        color:#e85298;
        padding: 0.1em 0.8em;
    }
    &-hollow--blue{
        position: relative;
        border:1px solid #08286a;
        border-radius: 2em;
        color:#08286a;
        padding: 2px 8px;
        margin: 0 5px;
        font-size: 4.375vw;
    }
    &-read{
        color:#e85298;
        text-decoration: underline;
    }
    &-icon--fb{
        display: inline-block;
        vertical-align: sub;
        background: url(../../images/btn-icon--fb.png) no-repeat;
        @mixin bg btn-icon--fb, png;
        background-size: 100%;
        width: 21.25vw;
        height: 4.375vw;
        text-indent: -99999px;
    }
}
.tabs {
    margin: 0 auto;
    width: 95.3125vw;
    padding-top: 71.875vw;
    font-size: 4.375vw;
    display: flex;
    justify-content: space-between;
    line-height: 1.3;

    &-item {
        height: 12.5vw;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 2vw;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        transition: all .3s ease-in-out;
        background-color: #e85298;
        color:#fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &-item--fb{ width: 39%;}
    &-item--member{width: 59%;/*margin-left: 0.37%;*/}
    &-item--active {
        background-color: #fff;
        color:#e85298;
    }
}
.btn-tool{
    display: block;
    position: absolute;
    top: 0;
    width: 9.375vw;
    height: 10.9375vw;
    &:before{
        display: block;
    }
    &--play{
        left: 3.125vw;
    }
    &--play:before{
        content:'';
        background: url(../../images/sprite/tool-play-sprite_tools.png) no-repeat;
        @mixin sprite tool-play-sprite_tools, png;
        background-size: 100%;
        width: 4.6875vw;
        height: 5.9375vw;
        margin: 2.5vw 0 0 2.8125vw;
    }
    &--pause{
        left: 3.125vw;
    }
    &--pause:before{
        content:'';
        background: url(../../images/sprite/tool-pause-sprite_tools.png) no-repeat;
        @mixin sprite tool-pause-sprite_tools, png;
        background-size: 100%;
        width: 4.375vw;
        height: 6.25vw;
    }
    &--replay{
        left: 14.0625vw;
    }
    &--replay:before{
        content:'';
        background: url(../../images/sprite/tool-replay-sprite_tools.png) no-repeat;
        @mixin sprite tool-replay-sprite_tools, png;
        background-size: 100%;
        width: 7.5vw;
        height: 8.125vw;
        margin: 1.25vw 0 0 1.25vw;
    }
    &--sound{
        right: 3.125vw;
    }
    &--sound:before{
        content:'';
        background: url(../../images/sprite/tool-sound-sprite_tools.png) no-repeat;
        @mixin sprite tool-sound-sprite_tools, png;
        background-size: 100%;
        width: 7.8125vw;
        height: 7.8125vw;
        margin: 1.5625vw 0 0 0.9375vw;
    }
    &--nosound{
        right: 3.125vw;
    }
    &--nosound:before{
        content:'';
        background: url(../../images/sprite/tool-nosound-sprite_tools.png) no-repeat;
        background-size: 100%;
        @mixin sprite tool-nosound-sprite_tools, png;
        width: 7.1875vw;
        height: 7.5vw;
    }
}