.form {
	/*background-color:white;*/
	padding: 1.05rem;

	& .input-item {
		position: relative;
		margin-bottom: 1.5em;
	}
	&.ocr .input-item {
		margin-bottom: 2.5em;
	}
	& .input-item--float{
		position: absolute;
		top:8vw;
		left:18vw;
		width: 60vw;
		padding: 5vw 3vw;
	}
	& scroll {
		margin: 0.4375rem 0 0 -0.625rem;
		width: 18.75rem;
	}
	& .check-item {
		position: relative;
		overflow: hidden;
		margin-bottom: 0.875rem;

		& label{
			width: 12.5rem;

			&:before{
				@mixin inline text-top;

				margin-right: 0.3125rem;
				width: 0.8125rem;
				height: 0.8125rem;
				border: 1px solid $ct;
				background: $c-white;
				content:'';
			}
		}
		& input:checked + label:before{
			content:'\2714';
			line-height: 100%;
		}
	}

}

label {
	margin-right:3.125vw;

	

}
.require {
	position: relative;
	font-size: 5vw;

	&:before {
		display:inline-block;
		color: $c-red;
		content: '*';
	}
	&-text{
		display: inline-block;
		width:78%;
		font-size: 5vw;
	}
}
.ocr .require:before {
	content: ' ';
}

label,
[type="number"] {
	@mixin inline middle;
}

[type="number"] {
	padding: 0.5em;
	width: 9rem;
	height: 1.5625rem;
	border: 1px solid #ccc;
	border-radius: 0.4em;
}
[type="checkbox"]{
	position: absolute;
	top: -100%;
}

.addfbForm {
	& .require{
		width: 36vw;
		text-align:right;
	}
	& [type="number"]{
		width: 33vw;
	}
}

.scroll {
	width:100%;
	height: 7.825rem;
	position: relative;	
	margin: 0.4375rem 0;
	padding:3.125vw;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	overflow-y: auto;
	font-size: 3.75vw;
}

.viewport {
	position: relative;
	overflow: hidden;
	margin-top: 0.5rem;
	height: 6.125rem;
	border: 1px solid $ct;
}

.overview {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.375rem;
	background: $c-white;

	& ul, & p, & li{
		margin-bottom: 0.625rem;
	}
	& ul{
		margin-top: 0.625rem;
		padding-left: 1.4375rem;
	}
	& li{
		list-style-type: disc;
	}
}

.scrollbar {
	position: absolute;
	top: 30px;
	right: 0.1875rem;
	z-index: 999;
	overflow: visible;
	width: 0.1875rem;
	height: 100%;
}

.track {
	position: relative;
	left: 0;
	margin: 0 auto;
	width: 0.1875rem;
	height: 100%;
	text-indent: 0;
}

.thumb {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 0.1875rem;
	background: #ccc;
	cursor: pointer;
}

.thumb .end {
	overflow: hidden;
	width: 0.1875rem;
}

.scroll .disable {
	display: none
}

.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}