html {
	font-size: 300%;
	@media screen and (max-width:960px){
		font-size: 230%;
	}
	@media screen and (max-width:758px){
		font-size: 170%;
	}
	@media screen and (max-width:524px){
		font-size: 120%;
	}
	@media screen and (max-width:400px){
		font-size: 100%;
	}
}

body {
	color: $ct;
	font-size: $t;
	font-family: Arial, Helvetica, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
	background: url(../../images/bg.jpg) no-repeat;
	@mixin bg bg, jpg;
	background-size: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.header{
	position: fixed;
	top:0;
	left: 0;
	padding: 3.125vw 0 0;
	width: 100%;
	height:17.1875vw;
	z-index: 50;
	background-color: #fff;
}
.nav{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	visibility: hidden;
	transition:background-color .5s;
	padding-top: 17.2vw;
	width: 100%;
	&-item{
		display: block;
		border:2px solid #fff;
		font-size: 5.625vw;
		width: 56.25vw;
		color:#fff;
		border-radius:1em;
		margin: 0 auto 1em;
		line-height: 10.3125vw;
		text-align: center;
	}
	&-item--logo{
		background: url(../../images/sprite/logo-sprite_misc.png) no-repeat;
		@mixin sprite logo-sprite_misc, png;
		background-size: 100%;
		width: 51.25vw;
		height: 12.1875vw;
		border:none;
		border-radius:initial;
	}
	&-share{
		color:#fff;
		margin: 0 auto;
		width: 56.25vw;
	}
	&-share--text, &-item--fb, &-item--line{
		display: inline-block;
		vertical-align: middle;
		font-size: 5.625vw;
		margin-bottom: 0;
	}
	&-share--text{
		text-align: center;
	}
	&-item--fb{
		border:none;
		border-radius:initial;
		background:url(../../images/sprite/nav-item--fb-sprite_misc.png) no-repeat;
		@mixin sprite nav-item--fb-sprite_misc, png;
		background-size: 100%;
		width: 12.75vw;
		height: 12.75vw;
		margin-left: 0.5em;
		text-indent: -9999px;
	}
	&-item--line{
		border:none;
		border-radius:initial;
		width: 12.75vw;
		height: 12.75vw;
		margin-left: 0.5em;
		background:url(../../images/sprite/nav-item--line-sprite_misc.png) no-repeat;
		@mixin sprite nav-item--line-sprite_misc, png;
		background-size: 100%;
	}
}
@at-root {
	.index .nav-item--home{
		 display: none;
	}
	.open .nav-item--line{
		display: inline-block;
	}
}
.menu {
	width: 13.75vw;
	height: 13.75vw;
	display: block;
	position: absolute;
	top:1.5625vw;
	right:1.5625vw;
	z-index: 50;
	background-color: #fff;
	border-radius: 0.3em;
	border:1px solid #e29199;

	span {
		width: 8.75vw;
		height: 1.5625vw;
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -32%;
		background-color: #e29199;
		border-radius: 1em;
		transform-origin: center center;
		transition: all .3s ease-in-out;

		&:nth-child(1) {
			top: 24%;
		}
		&:nth-child(2) {
			top: 45%;
			transform: translate(0);
			opacity: 1;
		}
		&:nth-child(3) {
			top: 66%;
		}
	}
	@at-root {
		.open .nav{
			background-color: rgba(242, 162, 200, 0.9);
			width: 100vw;
			height: 100vh;
			visibility: visible;
		}
		.open .menu{
			background: none;
		}
		.open .menu span {
			background-color: #fff;
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 40%;
			}
			&:nth-child(2) {
				transform: translate(100%);
				opacity: 0;
			}
			&:nth-child(3) {
				top: 40%;
				transform: rotate(-45deg);
			}
		}
	}
}
.footer{
	position: relative;
	background-color: #f2f6fa;
	padding: 3.125vw;
	font-size: 3.75vw;
	line-height: 1.2em;
	& p{
		margin-bottom: 0;
	}
	&-tel{
		color: #e74e97;
		font-size: 5.625vw;
	}
	&-amway{
		position: absolute;
		top:3.125vw;
		right:3.125vw;
		background:url(../../images/sprite/amway-sprite_misc.png) no-repeat;
		@mixin sprite amway-sprite_misc, png;
		background-size: 100%;
		width:32.5vw;
		height:10.9375vw;
		text-indent: -9999px;
	}
	&-line{
		background: url(../../images/line.png) no-repeat;
		@mixin bg line, png;
		background-size: 100%;
		width: 80vw;
		height: 4.0625vw;
		margin: 2.5vw auto 1.5vw;
	}
}
#wrap {
}
.content{
	position: relative;
	margin: 71.875vw auto 0;
	width: 93.75vw;
	background-color: #fff;
	padding: 12.5vw 1.5625vw;
	&-share{
		position: absolute;
		top:2vw;
		right:0;
		display: flex;
		padding-right: 3.125vw;
	}
	&-share .nav-item--fb{
		width: 9.375vw;
		height: 9.375vw;
	}
	&-share .nav-item--line{
		display: block;
		width: 9.375vw;
		height: 9.375vw;
	}
}
.tabsContentBox{
	margin: 0 auto;
	width: 95.3125vw;
	background-color:white;
	position: relative;
	transition:height .3s ease-in-out;
}
.tabsContent{
	/*position:absolute;
	top:0;
	left:0;*/
	background-color: #fff;
}
/*==漾媽學堂==*/
.school{
	margin: 5vw auto 0;
	width: 100%;
	border-bottom:1px dashed #f7c9dd;
	&-videoArea{
		position: relative;
		width: 89.375vw;
		min-height: 50.3125vw;
		margin-bottom: 0.8em
	}
	&-video{
		position: relative;
		width: 100%;
		height: 50.3125vw;
	}
	&-videoArea iframe{
		width: 100%;
		height: 100%;
	}
	&-tool{
		position: relative;
		width: 100%;
		height: 10.9375vw;
		background-color: #60c1c7;
	}
	&-explain{
		width: 100%;
	}
	&-mask{
		display: block;
		position: absolute;
		top:0;
		left: 0;
		z-index: 10;
		background: url(../../images/space.png);
		width: 100%;
		height: 50.3125vw;
		cursor: pointer;
	}
}
.tags{
	display: none;
	&-item{
		display: inline-block;
		background-color: #f8a4cb;
		color:#fff;
		padding: 0.625vw 3.125vw;
		border-radius: 4em;
		margin-right: 1.5625vw;
		margin-bottom: 1.5625vw;
	}
}
.box{
	&-login{
		position: relative;
		margin: 0 auto;
		width: 87.5vw;
		background-color: #fff;
		border-radius: 1.5625vw;
		padding:6.25vw;
		box-shadow:5px 5px 30px 5px #e28db5;
	}
	&-close{
		display: block;
		position: absolute;
		top:-3.125vw;
		right:-3.125vw;
		width: 9.375vw;
		height: 9.375vw;
		z-index: 999;
		text-decoration: none;
		text-indent:-9999px;
		background-color: #f870af;
		border-radius: 100%;
		border: 3px solid #fff;
	}
	&-close:before, &-close:after{
		content:'';
		position: absolute;
		top:47%;
		left: 11%;
		width: 75%;
		height: 2px;
		background-color: #fff;
		transform:rotate(45deg);
		transform-origin:center center;
		transition:transform .3s ease-in-out;
	}
	&-close:after{
		transform:rotate(-45deg);
	}
	&-signin{
		margin: 0 auto;
		width: 87.5vw;
	}
	&-signinItem{
		margin-bottom: 0.8em;
	}
	&-signinItem label{
		display: inline-block;
		color:#000;
		font-size: 5vw;
		width: 12.5vw;
	}
	&-signinItem input{
		display: inline-block;
		border-radius: 0.4em;
		border:1px solid #bfbfbf;
		width: 56.25vw;
		padding: 0 3.125vw;
		line-height: 9.375vw;
	}
	&-account{
		display: none;
		padding: 2.375vw 0 0;
	}
	&-process{
		margin-top: 1em;
	}
	&-accountItem{
		margin-bottom: 0.8em;
		font-size: 4.375vw;
		line-height: 2em;
	}
	&-accountItem label{
		display: block;
		vertical-align: top;
		margin-right: 3.125vw;
		color:#e85298;
		font-size: 5.625vw;
	}
	&-login--error{
		display: block;
		position: relative;
		margin: 0 auto;
		width: 87.5vw;
		background-color: #fff;
		border-radius: 1.5625vw;
		padding:6.25vw 9.375vw 18.75vw;
	}
	&-comingsoon{
		position: relative;
		margin: 0 auto;
		width: 87.5vw;
		background-color: #fff;
		border-radius: 1.5625vw;
		padding:6.25vw 6.25vw 18.75vw;
	}
}
/*.box-login--error, .box-comingsoon{ display: none; visibility: hidden;}*/
/*==index==*/
.owl-controls{
	position: relative;
}
.owl-prev{
	background:url(../../images/mobile-owl-pre-s.png) center center no-repeat;
	@mixin bg mobile-owl-pre-s, png;
	background-size: 33.3%;
	text-indent: -9999px;
	position: absolute;
	top:0;
	left: 0;
	width: 10.3125vw;
	height: 15.9375vw;
}
.owl-next{
	background:url(../../images/mobile-owl-next-s.png) center center no-repeat;
	@mixin bg mobile-owl-next-s, png;
	background-size: 33.3%;
	text-indent: -9999px;
	position: absolute;
	top:0;
	right: 0;
	width: 10.3125vw;
	height: 15.9375vw;
}
.owl-dots{
	text-align: center;
	padding: 5.625vw 0;
}
.owl-dot{
	display: inline-block;
	width: 3.75vw;
	height: 3.75vw;
	background-color: #cdeced;
	border-radius: 100%;
	margin: 0 2.5vw;
}
.owl-dot.active{
	background-color: #60c1c7;
}
.stage1{
	padding: 71.875vw 0 0;
	&-owl{
		margin: 0 auto;
		width: 87.5vw;
		height: 87.5vw;
	}
	&-link--add{
		display: flex;
		margin:15vw auto 10vw;
	}
}
.stage2{
	background: url(../../images/stage2-bg.png) center top no-repeat;
	@mixin bg stage2-bg, png;
	width: 100%;
	height: 112.5vw;
	text-align:center;
	& .h2-title{
		padding:9.375vw 0 0;
	}
	&-items{
		margin: 0 auto;
		width: 68.4375vw;
		height: 68.4375vw;
	}
	&-items--item1{
		background: url(../../images/sprite/stage2-content--item1-sprite_stage2items.png) no-repeat;
		@mixin sprite stage2-content--item1-sprite_stage2items, png;
		background-size: 100%;
	}
	&-items--item2{
		background: url(../../images/sprite/stage2-content--item2-sprite_stage2items.png) no-repeat;
		@mixin sprite stage2-content--item2-sprite_stage2items, png;
		background-size: 100%;
	}
	&-items--item3{
		background: url(../../images/sprite/stage2-content--item3-sprite_stage2items.png) no-repeat;
		@mixin sprite stage2-content--item3-sprite_stage2items, png;
		background-size: 100%;
	}
}
.stage3{
	position: relative;
	padding-top: 28.125vw;
	background: url(../../images/stage3bg.png) center top no-repeat;
	@mixin bg stage3bg, png;
	background-size: 100%;
	width: 100%;
	height: 112.5vw;
	&-video{
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 50.625vw;
	}
}
.stage4{
	padding: 3.125vw 0 0;
	&-owl{
		position: relative;
		margin: 12.5vw auto;
		width: 90.625vw;
	}
	& .h1-title--page{
		top:-4vw;
		left: -2vw;
	}
	&-owlItem{
		position: relative;
		margin: 0 auto;
		width:81.25vw;
		border-bottom:1px dashed #f7c9dd;
		padding-bottom: 1em;
	}
	@at-root {
		.index .stage4-owlItem{
			border:0;
			padding: 0;
		}
	}
	&-owlItem--pic{
		display: inline-block;
		vertical-align: top;
		width: 34.375vw;
		height: 34.375vw;
		padding-top: 3.125vw;
		margin-bottom: 6.25vw;
	}
	&-owlItem--pic img{
		width: 100%;
	}
	&-owlItem p{
		line-height: 1.5em;
		margin-bottom: 0;
	}
}
.stage5{
	position: relative;
	background: #c4e8f9 url(../../images/stage5bg.jpg) no-repeat;
	@mixin bg stage5bg, jpg;
	background-size: contain;
	width: 100%;
	padding-bottom: 3em;
	&-tip{
		padding:17vw 0 12vw 41vw;
	}
	&-description{
		position: relative;
		margin: 0 auto;
		width:90.625vw;
		border-radius: 1em;
		background-color: #fff;
		padding: 5vw 3.125vw;
	}
	&-description--item1{
		display: flex;
		& span{
			color:#2bb7ae;
			font-size:5vw;
			white-space:nowrap;
		}
		& p{
			margin-left: 1.5625vw;
			font-size: 3.75vw;
		}
	}
	&-description--item2{
		display: flex;
		& a{
			color:#ffffff;
			font-size:3.75vw;
			background-color: #60c1c7;
			border-radius: 100%;
			padding-top: 1.5625vw;
			width:13.75vw;
			height: 13.75vw;
			display: table;
			text-align:center;
		}
		& p{
			margin-left: 3.125vw;
			font-size: 3.75vw;
			width: 67.1875vw;
		}
		& p a{
	        font-size: 3.75vw;
	        margin: 0;
	        padding: 0;
	        border-radius: 0;
	        background: none;
	        color:#e85298;
	        text-decoration: underline;
	        width: auto;
	        height: auto;
	        display: inline-block;
	    }
	}
	&-description--item3{
		border-top:2px solid #60c1c7;
		padding-top: 3vw;
		margin-top: 3vw;
		& span{
			display: block;
			color:#2bb7ae;
			font-size:3.75vw;
			margin-bottom: 0.5em;
		}
	}
}
.owl-carousel{
	&--stage2{
		width: 100%;
	}
	&--stage3{
		width: 100%;
	}
	&--stage4{
		width: 100%;
		padding: 6.25vw 4.6875vw 0;
		-webkit-box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
		box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
	}
}
/*==優惠專案==*/
.kv{
	&-preferential{
		margin: 0 auto;
		width: 90.625vw;
	}
	&-preferential img{
		width: 100%;
	}
	&-article{
		margin: 0 auto;
		width: 90.625vw;
	}
	&-article img{
		width: 100%;
	}
}
.giftbox{
	margin: 0 auto;
	width: 90.625vw;
	&-item{
		position: relative;
		padding: 3.125vw 0;
		border-bottom: 1px dashed #f7c9dd;
	}
	&-pic{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 25vw;
		height: 25vw;
	}
	&-pic:after{
		content:'';
		background-color: #fce4d6;
		border-radius: 100%;
		width: 18.75vw;
		height: 18.75vw;
		display: block;
		position: absolute;
		top:3.125vw;
		left: 3.125vw;
	}
	&-img{
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
		width: 100%;
	}
	& p{
		line-height: 1.5em;
		width: 100%;
		margin-bottom: 0;
	}
}
.articlebox{
	&-item{
		position: relative;
		padding:3.125vw 0;
		border-bottom: 1px dashed #f7c9dd;
	}
	&-pic{
		display: inline-block;
		vertical-align: middle;
		width: 37.5vw;
		margin-right: 0;
	}
	&-img{
		width: 100%;
	}
}
.article--back{
	text-align: center;
	margin:9.375vw auto;
	& .btn-hollow{
		padding: 2.5vw 4.6875vw;
		border-radius: 4em;
		font-size: 5vw;
	}
}
.bold{
	font-weight:bold;
}
.m10{
	margin:3.125vw auto !important;
}
.m20{
	margin:6.25vw auto !important;
}
.bg{
	&-shadow{
		background:url(../../images/bg-shadow.png) center top no-repeat;
		@mixin bg bg-shadow, png;
        background-size: contain;
		width:100%;
		padding: 6.25vw 0 3.125vw;
	}
}
