$ct: #444444;
$ct-blue: #035187;
$ct-label: #67593a;
$c-white: #fff;
$c-box: #c3c0c0;
$c-red: #dc0211;
$dark-red:#d64802;
$t: 0.875rem /*14px*/;
$t-12: 0.75rem /*12px*/;
$t-15: 0.9375rem /*15px*/;
$t-btn: 1.375rem /*22px*/;

