@import url('http://fonts.googleapis.com/earlyaccess/cwtexming.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
* {
    transition: .3s;
}

html,
body {
    min-height: 100%;
}

html,
body {
    position: relative;
    font-family: Roboto, "Noto Sans TC", "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif, "新細明體", PMingLiU;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

nav {
    background-color: #d1eefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

nav .navbar-brand img {
    width: auto;
    height: 40px;
}

.nav>li>a {
    color: #e10416;
}

.nav>li>a:hover {
    color: #f00;
    background-color: #fdf94d;
}

.nav>li>a:focus {
    color: #f00;
    background-color: #fdf94d;
}


.arrow_target {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/target.png) center no-repeat;
    background-size: contain;
}

footer {
    padding: 20px 0;
    background-color: #f2f6fa;
    color: #373737;
}

.logo_amway {
    width: auto;
    height: 34px;
}


@media (min-width: 992px) {
    section.banner {
        min-height: 700px;
        margin-top: 70px;
        background: url(../img/index_bg.jpg) top center no-repeat;
        background-size: cover;
    }
    section.banner>.container {
        height: 700px;
        display: table;
        vertical-align: middle;
    }
    section.banner>.container>.row {
        height: 700px;
        display: table-cell;
        vertical-align: middle;
    }
}

section.ghSeries,
section.component,
section.introduce {
    padding: 30px 0;
}

.video_text {
    text-align: left;
}

.video_text h1 {
    margin-right: 25px;
}

.video_text h2 {
    margin-right: 45px;
}

.video_text p {
    margin-right: 53px;
}

@media (max-width: 992px) {
    section.banner {
        min-height: calc(100vh + 70px);
        padding-top: 70px;
        background: url(../img/index_bg.jpg) center no-repeat;
        background-size: cover;
    }
    section.banner .ghLogo,
    section.banner h1,
    section.banner h2 {
        margin: .75em 0;
        font-size: 28px;
        text-align: center;
    }
    section.banner .blank {
        height: 35vh;
    }
    section.banner .video {
        margin: 0 15px 3em;
    }
    section.banner .video::after {
        right: -10px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 11px 15px;
    }
    nav .navbar-brand img {
        width: auto;
        height: 34px;
    }
    nav {
        text-align: center;
    }
    .nav>li {
        display: inline-block;
        width: 100%;
    }
    .nav>li.sns {
        width: auto;
        border-bottom: 0px;
    }
    .nav>li.sns.line {
        display: inline-block;
    }
    .navbar-nav>li>a {
        line-height: 1.85;
    }
    section.banner {
        margin-top: 50px;
        min-height: calc(100vh + 70px);
        padding-top: 25px;
        background: url(../img/index_bg.jpg) center no-repeat;
        background-size: cover;
    }
    section.banner .ghLogo,
    section.banner h1,
    section.banner h2 {
        margin: .75em 0;
        font-size: 28px;
        text-align: center;
    }
    section.banner h2 {
        text-align: left;
    }
    section.banner .blank {
        height: 45vh;
    }
    section.banner .video {
        margin: 0 15px;
    }
    section.ghSeries .col-lg-4,
    section.introduce .introText {
        margin-bottom: 60px;
    }
    section.ghSeries .col-lg-4 .col-lg-6,
    section.ghSeries .col-lg-4 .col-lg-12,
    section.introduce .introText {
        padding: 0;
    }
    section.hadTitle h3 {
        margin: 0 15px;
        padding-left: 32.5px;
        font-size: 20px;
    }
    section.hadTitle h3 span {
        font-size: 28px;
    }
    section.hadTitle h3 span+span {
        display: none;
    }
    section.hadTitle h3::before {
        width: 28px;
        height: 30px;
    }
    section.honeySeris.hadTitle h3::before {
        width: 28px;
        height: 30px;
    }
    section.honeySeris.hadTitle h3::before {
        background: url(../img/beeToRight.png) left center no-repeat;
        background-size: contain;
    }
    section.refreshSeris.hadTitle h3::before {
        background: url(../img/grass-01.png) left center no-repeat;
        background-size: contain;
    }
    section.protectSeris.hadTitle h3::before {
        background: url(../img/grass-03.png) left center no-repeat;
        background-size: contain;
    }
    section.component {
        min-height: 100vh;
    }
    section.component.honeySeris {
        background: #f3efe8 url(../img/introduceMobile.png) top center no-repeat;
        background-size: contain;
    }
    section.component.refreshSeris {
        background: #f3efe8 url(../img/refreshIntroduceMobile.png) top center no-repeat;
        background-size: contain;
    }
    section.component.protectSeris {
        background: #f3efe8 url(../img/protectIntroduceMobile.png) top center no-repeat;
        background-size: contain;
    }
    section.component .col-lg-11 {
        position: relative;
        padding-top: 62.5vh;
    }
    section.component.refreshSeris .col-lg-11,
    section.component.protectSeris .col-lg-11 {
        padding-top: 52.5vh;
    }
    section.component .quote {
        margin: 0 15px;
    }
    section.component .quote h5,
    section.component .quote p {
        text-align: left;
    }
    section.component .quote h5 {
        position: relative;
        padding-left: 1.35em;
        font-weight: 400;
    }
    section.component .quote p {
        margin-bottom: 2em;
    }
    section.component .pumpkinQuote h5::before,
    section.component .oilQuote h5::before,
    section.component .honeyQuote h5::before,
    section.component .refreshQuoteA h5::before,
    section.component .refreshQuoteB h5::before,
    section.component .refreshQuoteC h5::before,
    section.component .protectQuoteA h5::before,
    section.component .protectQuoteB h5::before,
    section.component .protectQuoteC h5::before {
        position: absolute;
        top: 0;
        left: 0;
    }
    section.component .refreshQuoteA h5::before,
    section.component .protectQuoteA h5::before,
    section.component .pumpkinQuote h5::before {
        content: 'A.';
    }
    section.component .refreshQuoteB h5::before,
    section.component .protectQuoteB h5::before,
    section.component .oilQuote h5::before {
        content: 'B.';
    }
    section.component .refreshQuoteC h5::before,
    section.component .protectQuoteC h5::before,
    section.component .honeyQuote h5::before {
        content: 'C.';
    }
}

@media (max-width: 413px) {
    .nav>li>a {
        padding: 10px 7.5px;
    }
    section.banner .col-lg-5 {
        height: 30vh;
    }
}

@media (max-width: 365px) {
    section.banner {
        padding-top: 80px;
    }
    section.banner .ghLogo img {
        width: 120px;
        height: auto;
    }
    section.banner h1,
    section.banner h2 {
        font-size: 24px;
        letter-spacing: normal;
    }
}

@media screen and (max-width: 768px) {
    .nav>li.sns {
        width: auto;
        border-bottom: 0px;
        display: inline-block;
    }
    li.sns.pad_share_btn {
        margin: 0 0 0 350px;
    }
    section.introduce .honeyPicA::after,
    section.introduce .honeyPicA::before,
    section.introduce .honeyPicC::after {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    section.introduce .honeyPicA::after {
        background-image: none;
    }
    section.introduce .honeyPicA::before {
        background-image: none;
    }
    section.introduce .honeyPicC::after {
        background-image: none;
    }
}

a {
    ;
    text-decoration: none;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 505;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 504;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: -40px;
    top: -40px;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #FFF;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #000;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    top: 0;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: solid transparent;
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
    opacity: 0.8;
    border-top-width: 12px;
    border-bottom-width: 12px;
    top: 8px;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
    border-top-width: 20px;
    border-bottom-width: 20px;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
    border-right: 12px solid black;
    left: 5px;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    border-right: 20px solid white;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 12px solid black;
    left: 3px;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    border-left: 20px solid white;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

.mfp-iframe-holder .mfp-close {
    top: -43px;
}


/* Main image in popup*/

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}


/* The shadow behind the image*/

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-figure {
    line-height: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-break: break-word;
    padding-right: 36px;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    /** * Remove all paddings around the image on small screen*/
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    /* The shadow behind the image*/
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
}

@media all and (max-width: 800px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}


/** * Simple fade transition,*/

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/* Styles for dialog window*/

#small-dialog {
    background: #FFF;
    background: #FFF \9;
    padding: 20px 30px;
    text-align: center;
    line-height: 1.5;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}


/** * Fade-zoom animation for first dialog*/


/* start state*/

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in*/

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out*/

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state*/

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in*/

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out*/

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/** * Fade-move animation for second dialog*/


/* at start*/

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -moz-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -ms-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -o-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
}

@media (max-width: 500px) {
    #small-dialog {
        padding: 20px 8px;
    }
    .mfp-close {
        right: -5px;
    }
    .menu_top_desk {
        display: none !important;
    }
    .menu_top_ph {
        display: inline-block !important;
    }
}

section.ghSeries .col-lg-4 .ghSeriesPic.board,
section.introduce .honeyPic.board {
    background-image: url(../img/board.png);
    background-position: bottom;
}

section.ghSeries .col-lg-4 .ghSeriesPic.wall,
section.introduce .honeyPic.wall {
    background-image: url(../img/board.png);
    background-position: 8% 44%;
}

section.banner>.container>.row.index_pad {
    padding: 50px 0;
    display: block;
}

.gift_pic {
    z-index: 1;
    position: absolute;
}

.bonus_title::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50px;
    width: 120px;
    height: 60px;
    background: url(../img/bonus_title.png) center no-repeat;
    background-size: contain;
}

.bonus_box {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: -190px;
}

.pad_left_right {
    padding: 20px 40px;
    position: relative;
}

.pad_left_right::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    width: 300px;
    height: 600px;
    background: url(../img/bonus_gold.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}


.bonus_txt {
    color: #62a4c4;
    font-size: 18px;
}

.bonus_txt2 {
    color: #d05e82;
    font-size: 18px;
}

.point {
    font-size: 40px;
    vertical-align: middle;
}

.ul_li_type {
    list-style-type: none;
}

.ul_li_type2 {
    list-style-type: decimal;
}

.ul_li_type3 {
    list-style-type: disc;
}

.txt_justify {
    text-align: justify;
}

.txt_indent {
    text-indent: 20px;
}

.ul_li_mar {
    margin: -25px 0 0 -32px;
}

.bonus_txt_black {
    color: #333;
}

.bonus_txt_red {
    color: #f00;
}

.pic_box {
    margin: 5px auto;
}

.table_box {
    overflow: auto;
    white-space: nowrap;
    width: 90%;
}

.table_box2 {
    width: 70%;
}

.table_box3 {
    width: 100%;
}

.table_color_white {
    background: #fff;
}

.text_center {
    text-align: center;
    vertical-align: middle !important;
}

.table_color_blue {
    background: #41a1d4;
}

.table_color_blue2 {
    background: #cde4f2;
}

.table_color_blue3 {
    background: #53c1f2;
    color: #fff;
}

.table_color_yellow {
    background: #fef5cb;
}

.table_color_orange {
    background: #ff9800;
}

.pic_box table.table.table_box tr {
    border: 10px solid #fff;
}

.table_first_trth {
    border-right: 10px solid #fff;
}

.bonus_txt_width {
    width: 90%;
}

.bonus_left_box {
    margin: 10px auto;
}

.formula {
    display: block;
    position: relative;
    width: 60%;
    padding: 50px 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf4d9+1,feeeb0+30,feeeb0+70,fcf4d9+100 */
    background: #fcf4d9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #fcf4d9 1%, #feeeb0 30%, #feeeb0 70%, #fcf4d9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fcf4d9 1%, #feeeb0 30%, #feeeb0 70%, #fcf4d9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fcf4d9 1%, #feeeb0 30%, #feeeb0 70%, #fcf4d9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf4d9', endColorstr='#fcf4d9', GradientType=1);
    /* IE6-9 */
}

.formula::before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: 115%;
    width: 400px;
    height: 300px;
    background: url(../img/bonus_bullion.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.formula_inblock {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}

.formula_2 {
    position: absolute;
    top: 30px;
    left: 36%;
}

.formula_3 {
    background: #000;
    width: 45%;
    height: 2px;
    position: relative;
    padding: 0;
}

.formula_4 {
    position: absolute;
    bottom: 20px;
    left: 28%;
}

.Q_bonus_box {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: -50px;
}

.Q_bonus_title::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50px;
    width: 200px;
    height: 60px;
    background: url(../img/Q_bonus_title.png) center no-repeat;
    background-size: contain;
}

.Q_bonus_pad_left_right {
    padding: 20px 40px;
    position: relative;
}

.Q_bonus_unit {
    width: 89%;
    text-align: right;
    margin: -20px 0 -30px;
}

.ul_li_mar2 {
    margin-left: -40px;
}

.Q_bonus_notice {
    padding: 10px 10px 10px 30px;
    width: 65%;
}

.notice_txt {
    display: inline-block;
    line-height: 1.5;
}

.notice_txt2 {
    display: block;
}

.notice_pad {
    padding: 0px 0px 0 50px;
    display: block;
    float: left;
    margin-top: -25px;
    text-align: justify;
}

.notice_pad2 {
    padding: 0px 0px 0 50px;
    display: block;
    margin-top: -25px;
    text-align: justify;
}

.bonus_mar_txt {
    margin-top: -20px;
}

.bonus_mar_ex {
    margin-top: -10px;
    margin-bottom: 20px;
}

.txt_indent_none {
    text-indent: 0;
}

.ul_li_mar3 {
    margin-left: 10px;
}

.txt_indent2 {
    text-indent: 50px;
}

.txt_indent3 {
    text-indent: 70px;
}

.Q_bonus_pad_left_right::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background: url(../img/Q_bonus_pic_2.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.lead_bonus_box {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: -30px;
    margin-bottom: 20px;
}

.lead_bonus_title::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50px;
    width: 200px;
    height: 60px;
    background: url(../img/lead_bonus_title.png) center no-repeat;
    background-size: contain;
}

.lead_bonus_pad_left_right {
    padding: 20px 40px 50px;
    position: relative;
}

.lead_bonus_pad_left_right::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -58px;
    right: 0;
    width: 350px;
    height: 300px;
    background: url(../img/lead_team.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.note_pad_left_right {
    padding: 150px 40px 400px;
    position: relative;
}

.ul_li_mar4 {
    margin: -20px 0 0 -15px;
}

.lead_txt {
    width: 70%;
}

.ship_bonus_title::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50px;
    width: 250px;
    height: 60px;
    background: url(../img/ship_title.png) center no-repeat;
    background-size: contain;
}

.ship_bonus_pad_left_right {
    padding: 20px 40px 50px;
    position: relative;
}

.ship_bonus_pad_left_right::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 350px;
    height: 300px;
    background: url(../img/ship_right.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.ship_left_box {
    width: 65%;
    margin: 10px 10px 10px 30px;
}

.note_pad_left_right::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 530px;
    height: 600px;
    background: url(../img/note.png) center no-repeat;
    background-size: contain;
}

.note_pad_left_right::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 500px;
    height: 300px;
    background: url(../img/note2.png) center no-repeat;
    background-size: contain;
}

.bonus_top_line {
    border-top: 1px solid #000;
}

.bonus_mar_txt2 {
    margin-top: -150px;
    padding: 10px 0;
}

.bonus_ph_pic {
    display: none;
}

.lead_bonus_pic_ph {
    display: none;
}

.index_pad_ph {
    display: none;
}


/*cruise*/

section.banner2.cruise {
    min-height: 700px;
    margin-top: 70px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#227cdd+0,64a9eb+40,a3d7ec+70,b7dfe7+100 */
    background: rgb(34, 124, 221);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(34, 124, 221, 1) 0%, rgba(100, 169, 235, 1) 40%, rgba(163, 215, 236, 1) 70%, rgba(183, 223, 231, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(34, 124, 221, 1) 0%, rgba(100, 169, 235, 1) 40%, rgba(163, 215, 236, 1) 70%, rgba(183, 223, 231, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(34, 124, 221, 1) 0%, rgba(100, 169, 235, 1) 40%, rgba(163, 215, 236, 1) 70%, rgba(183, 223, 231, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227cdd', endColorstr='#b7dfe7', GradientType=0);
    /* IE6-9 */
}

.cruise_title {
    margin-top: 10px;
}

.ship_pic {
    position: relative;
    right: -60px;
    top: 10px;
    z-index: 1;
}

.cruise_box {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}

.cruise_box_ul {
    width: 75%;
}

.cruise_left_right {
    padding: 40px 160px;
    position: relative;
}

.cruise_left_right::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 225px;
    height: 500px;
    background: url(../img/cruise_box_left.png) center no-repeat;
    background-size: contain;
}

.cruise_left_right::after {
    content: '';
    display: block;
    position: absolute;
    top: 550px;
    left: 15px;
    width: 98%;
    height: 500px;
    background: url(../img/cruise_box_bottom.png) center no-repeat;
    background-size: contain;
}

.juice_photo::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: -148px;
    width: 350px;
    height: 850px;
    background: url(../img/cruise_box_right.png) center no-repeat;
    background-size: cover;
}

.juice_photo::before {
    content: '';
    display: block;
    position: absolute;
    top: 300px;
    left: -110px;
    width: 120px;
    height: 150px;
    background: url(../img/juice.png) center no-repeat;
    background-size: contain;
}

.cruise_left_right_box2 {
    padding: 40px 180px;
    position: relative;
}

.pic_box table.table.table_box2 tr {
    border: 3px solid #53c1f2;
}

.table_first_trth2 {
    border-right: 3px solid #fff;
}

.table_right_trth {
    border-right: 3px solid #53c1f2;
}

.Q_bonus_notice2 {
    padding: 10px 10px 10px 30px;
    width: 95%;
    color: #f00;
}

.cruise_box2 {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin: 250px auto 20px;
}

.pic_box2 {
    margin: 2% 3%;
}

.cruise_left_right_box3 {
    padding: 40px 180px 600px;
    position: relative;
}

.bonus_mar_txt3 {
    margin-top: -50px;
    padding: 10px 0;
}

.cruise_left_right_box3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: 10px;
    width: 250px;
    height: 450px;
    background: url(../img/cruise_box3_left.png) center no-repeat;
    background-size: contain;
}

.cruise_left_right_box3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    right: 150px;
    width: 120px;
    height: 120px;
    background: url(../img/cruise_box3_rught.png) center no-repeat;
    background-size: contain;
}

.cruise_phone {
    display: none;
}

.tumbler::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -130px;
    left: -150px;
    width: 200px;
    height: 150px;
    background: url(../img/tumbler.png) center no-repeat;
    background-size: contain;
}

.cruise_title2 {
    position: absolute;
    top: 20%;
    left: 80%;
}


/* vegas */

section.banner2.vegas_bg {
    min-height: 700px;
    margin-top: 70px;
    background: url(../img/vegas_bg.jpg) top center no-repeat;
    background-size: cover;
}

.vegas_title2 {
    position: absolute;
    top: 150px;
    left: 55%;
}

.vegas_box {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}

.vegas_left_right {
    padding: 40px 160px;
    position: relative;
}

.vegas_left_right::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: -20px;
    width: 260px;
    height: 480px;
    background: url(../img/vegas_left.png) center no-repeat;
    background-size: contain;
    z-index: 2;
}

.vegas_left_right::after {
    content: '';
    display: block;
    position: absolute;
    top: 180px;
    left: -70px;
    width: 100%;
    height: 300px;
    background: url(../img/vegas_bottom.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.vegas_box2 {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin: 250px auto 20px;
}

.vegas_left_right_box3 {
    padding: 80px 160px 600px;
    position: relative;
}

.vegas_left_right_box3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 400px;
    height: 600px;
    background: url(../img/vegas_box_left2.png) center no-repeat;
    background-size: contain;
}

.vegas_left_right_box3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 180px;
    height: 180px;
    background: url(../img/vegas_box_right.png) center no-repeat;
    background-size: contain;
}

.nav>li>a {
    padding: 16px 7px;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .gift_pic {
        width: 700px;
    }
}

@media (max-width: 1366px) {
    .gift_pic {
        width: 670px;
    }
}

@media (max-width: 1280px) {
    .gift_pic {
        width: 600px;
    }
    .vegas_mark {
        width: 640px;
        margin-top: 56px;
    }
}

@media (max-width: 1024px) {}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .nav>li>a {
        padding: 10px 4px;
    }
    .sun_title2 {
        width: 450px;
    }
    .gift_pic {
        width: 500px;
        margin-top: 100px;
    }
    .formula::before {
        left: 102%;
    }
    .pad_left_right::before {
        width: 280px;
    }
    .formula_3 {
        width: 40%;
    }
    .lead_bonus_pad_left_right::before {
        width: 320px;
    }
    .ship_bonus_pad_left_right::before {
        bottom: 30px;
        width: 300px;
    }
    /*cruise*/
    .ship_pic {
        right: -32px;
        top: 126px;
        width: 480px;
    }
    .cruise_box2 {
        margin: 150px auto 20px;
    }
    .cruise_left_right_box3 {
        padding: 40px 180px 100px;
    }
    .cruise_title2 {
        top: 5%;
        left: 100%;
    }
    .cruise_title {
        margin-top: 80px;
    }
    section.banner2.cruise {
        min-height: 800px;
    }
    /*vegas*/
    .vegas_mark {
        width: 510px;
        margin-top: 185px;
    }
    .vegas_left_right::before {
        right: -10px;
        width: 190px;
    }
    .vegas_left_right_box3 {
        padding: 0px 160px 100px;
    }
    section.banner2.vegas_bg {
        min-height: 800px;
    }
    .vegas_title {
        margin-top: 80px;
    }
    .vegas_title2 {
        left: 62%;
    }
}

@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }
    nav {
        background-color: rgba(255, 255, 255, 0.6);
    }
    .bonus_box {
        margin-top: 0px;
    }
    .gift_pic {
        margin-left: 12%;
    }
    .nav>li>a {
        padding: 10px 4px;
    }
    .navbar-collapse {
        background: #fff;
        border-top: 1px solid #ccc;
    }
    .nav>li {
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    section.ghSeries,
    section.component,
    section.introduce {
        padding: 0;
    }
    .pad_left_right::before {
        top: 30px;
        right: 20px;
        width: 150px;
        height: 100px;
        background: url(../img/bonus_box_ph.png) center no-repeat;
        background-size: contain;
    }
    .formula::before {
        top: 0;
        left: 110%;
        width: 250px;
        height: 150px;
    }
    .Q_bonus_box {
        margin-top: -20px;
    }
    .Q_bonus_notice {
        width: 100%;
    }
    .Q_bonus_pad_left_right::before {
        display: none;
    }
    .bonus_ph_pic {
        display: block;
        margin: 30px auto;
    }
    .top_after {
        height: 125px;
    }
    .bonus_title::before {
        top: 30px;
        left: 280px;
        width: 200px;
        height: 60px;
    }
    .Q_bonus_title::before {
        top: 30px;
        left: 190px;
        width: 400px;
        height: 60px;
    }
    .lead_bonus_title::before {
        top: 30px;
        left: 180px;
        width: 400px;
        height: 60px;
    }
    .lead_bonus_pad_left_right {
        padding: 20px 40px;
    }
    .lead_bonus_pad_left_right::before {
        display: none;
    }
    .table_box,
    .bonus_txt_width {
        width: 100%;
    }
    .lead_bonus_pic_ph {
        display: block;
    }
    .note_pad_left_right::before {
        display: none;
    }
    .note_pad_left_right::after {
        display: none;
    }
    .note_pad_left_right {
        padding: 150px 40px 0px;
    }
    .formula_inblock {
        font-size: 15px;
    }
    .formula_2 {
        bottom: 10px;
        left: 32%;
        width: 35%;
        text-align: center;
    }
    .formula_3 {
        width: 31%;
    }
    .formula_4 {
        bottom: 5px;
        left: 32%;
        width: 35%;
        text-align: center;
    }
    .ship_bonus_pad_left_right::before {
        bottom: 100px;
        right: 0;
        width: 250px;
        height: 300px;
    }
    /*cruise*/
    .cruise_title {
        margin-top: 40px;
        margin-left: 5%;
    }
    .cruise_title2 {
        left: 65%;
        width: 250px;
    }
    .ship_pic {
        right: 0;
        top: -310px;
        width: 260px;
        position: absolute;
    }
    .cruise_box {
        margin-top: 0px;
    }
    .juice_photo::after {
        display: none;
    }
    .cruise_box2 {
        margin: 100px auto 50px;
    }
    .cruise_left_right {
        padding: 40px 15px 40px 160px;
    }
    .cruise_left_right_box2 {
        padding: 40px 50px;
    }
    .cruise_left_right_box3 {
        padding: 40px 50px 40px;
    }
    .cruise_left_right_box3::after {
        right: 70px;
    }
    .tumbler::before {
        bottom: -120px;
        left: 50px;
        width: 120px;
        height: 150px;
    }
    /*vegas*/
    .vegas_left_right {
        padding: 40px 180px 40px 15px;
    }
    .vegas_left_right::after {
        top: 210px;
    }
    .vegas_left_right_box3 {
        padding: 80px 15px 100px 150px;
    }
    .vegas_left_right_box3::before {
        bottom: -18px;
        left: 4px;
        width: 300px;
        height: 500px;
    }
    .vegas_left_right_box3::after {
        bottom: -30px;
        right: 20px;
        width: 120px;
        height: 150px;
    }
    .vegas_mark {
        position: absolute;
        width: 250px;
        margin-top: 0;
        bottom: 80px;
        right: 0;
    }
    .vegas_viedo {
        margin: 10px auto 100px;
    }
    .vegas_title2 {
        top: 50px;
        left: 55%;
    }
}

@media (max-width: 480px) {
    li.sns.pad_share_btn {
        margin: 0 0 0 0px;
    }
    section.banner {
        background-position: 40% 100%;
        margin-top: 0;
        margin-bottom: -60px;
    }
    .sun_title {
        width: 280px;
        margin-left: 15%;
    }
    .sun_title2 {
        width: 260px;
        margin-left: 15%;
    }
    .gift_pic {
        margin-left: 15%;
        margin-top: -8%;
        width: 280px;
    }
    .index_pad_ph {
        display: block;
        margin: 170px 0 50px;
        padding: 0px 0 50px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcfc+1,ffffff+25,ffffff+75,fffcfc+100&0.7+20,0.7+80 */
        background: -moz-linear-gradient(top, rgba(255, 252, 252, 0) 1%, rgba(255, 254, 254, 1) 20%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 254, 254, 0) 80%, rgba(255, 252, 252, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 252, 252, 0) 1%, rgba(255, 254, 254, 1) 20%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 254, 254, 0) 80%, rgba(255, 252, 252, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 252, 252, 0) 1%, rgba(255, 254, 254, 1) 20%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 254, 254, 0) 80%, rgba(255, 252, 252, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3fffcfc', endColorstr='#b3fffcfc', GradientType=0);
        /* IE6-9 */
    }
    .index_pad_ph::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -160px;
        left: 0;
        width: 500px;
        height: 300px;
        background: url(../img/index_pad_ph2.png) center no-repeat;
        background-size: contain;
    }

    .index_pad_ph::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -110px;
        right: 0;
        width: 150px;
        height: 200px;
        background: url(../img/index_pad_ph.png) center no-repeat;
        background-size: contain;
    }

    .index_btn_ph {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eabe5f+0,f9f4a2+44,f9f4a2+60,eabe5f+100 */
        background: #eabe5f;
        /* Old browsers */
        background: -moz-linear-gradient(left, #eabe5f 0%, #f9f4a2 44%, #f9f4a2 60%, #eabe5f 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #eabe5f 0%, #f9f4a2 44%, #f9f4a2 60%, #eabe5f 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #eabe5f 0%, #f9f4a2 44%, #f9f4a2 60%, #eabe5f 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eabe5f', endColorstr='#eabe5f', GradientType=1);
        /* IE6-9 */
        padding: 5px 20px;
        margin: 20px auto;
        width: 80%;
        border-radius: 4px;
        color: #66460d;
    }
    section.ghSeries {
        padding: 10px 0;
    }
    .pad_left_right::before {
        top: 21%;
        right: 50px;
        width: 100px;
        height: 50px;
    }

    .top_after {
        height: 70px;
    }
    .bonus_title::before {
        top: 65px;
        left: 170px;
        width: 120px;
        height: 60px;
    }
    .Q_bonus_title::before {
        top: 65px;
        left: 140px;
        width: 180px;
        height: 60px;
    }
    .lead_bonus_title::before {
        top: 65px;
        left: 150px;
        width: 180px;
        height: 60px;
    }
    .table_box {
        display: block;
    }
    .formula {
        width: 100%;
    }
    .formula_inblock {
        font-size: 14px;
        padding: 0;
    }
    .pad_left_right {
        padding: 20px 15px;
    }
    #bonus,
    #Q_bonus,
    #lead_bonus {
        padding: 60px 0 0;
    }
    .bonus_box {
        margin-bottom: 40px;
    }
    .formula::before {
        top: 150%;
        left: 60%;
        width: 150px;
        height: 100px;
    }
    .Q_bonus_pad_left_right {
        padding: 20px 15px;
    }
    .bonus_ph_pic {
        margin: 40px auto -40px;
    }
    .bonus_ph_pic img {
        width: 300px;
    }
    .lead_bonus_pad_left_right {
        padding: 20px 15px;
    }
    .note_pad_left_right {
        padding: 150px 15px 0px;
    }
    span.point {
        font-size: 24px;
    }
    .Q_bonus_unit {
        margin: -20px 0 -10px;
    }
    .ul_li_mar {
        margin: -10px 0 0 -32px;
    }
    .notice_pad2 {
        margin-top: -24px;
    }
    .formula_2 {
        bottom: 10px;
        left: 32%;
        width: 35%;
        text-align: center;
    }
    .formula_3 {
        width: 40%;
    }
    .formula_4 {
        bottom: 10px;
        left: 32%;
        width: 35%;
        text-align: center;
    }
    .ship_bonus_pad_left_right {
        padding: 20px 15px 50px;
    }
    .ship_bonus_pad_left_right::before {
        bottom: 0;
        right: 15px;
        width: 260px;
        height: 300px;
    }
    .bonus_mar_ex {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    /*cruise*/
    .cruise_phone {
        display: block;
    }
    .cruise_desk {
        display: none;
    }
    section.banner2.cruise {
        margin-top: 0;
        min-height: calc(100vh + 10px);
        padding-top: 25px;
        background: url(../img/cruise_box_ph_bg.png) center no-repeat;
        background-size: cover;
    }
    .cruise_pad iframe {
        max-width: 100%;
        position: absolute;
        z-index: 2;
    }
    .cruise_pad::before {
        content: '';
        display: block;
        position: absolute;
        top: 440px;
        right: -31px;
        width: 250px;
        height: 280px;
        background: url(../img/cruise_ship_phone.png) center no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .cruise_pad::after {
        content: '';
        display: block;
        position: absolute;
        top: 565px;
        left: 20px;
        width: 200px;
        height: 180px;
        background: url(../img/cruise_people_phone.png) center no-repeat;
        background-size: contain;
    }

    .cruise_title_ph {
        margin-top: 40px;
    }
    .cruise_box {
        margin-top: 20px;
    }
    .cruise_left_right::before {
        display: none;
    }
    .juice_photo::before,
    .juice_photo::after {
        display: none;
    }
    .cruise_left_right {
        padding: 10px 15px;
    }
    .cruise_left_right_box2 {
        padding: 40px 15px;
    }
    .cruise_left_right_box3 {
        padding: 40px 15px 40px;
    }
    .cruise_box_ul {
        width: 100%;
        margin: -10px 0 0 0px;
    }
    .table_box2 {
        width: 100%;
        position: relative;
    }
    .cruise_left_box_phone {
        margin-bottom: 180px;
    }
    .cruise_left_right::after {
        display: none;
    }
    .pic_box2 {
        width: 60%;
        margin: 2% auto;
    }
    .pic_box2::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -70px;
        right: 0;
        width: 100%;
        height: 300px;
        background: url(../img/cruise_box3_bg_phone.png) center no-repeat;
        background-size: contain;
    }
    .cruise_left_box_phone::after {
        content: '';
        display: block;
        position: absolute;
        top: 480px;
        right: 0;
        width: 100%;
        height: 200px;
        background: url(../img/cruise_box3_right_phone.png) center no-repeat;
        background-size: contain;
        display: none;
    }
    .cruise_box2 {
        margin: -60px auto 20px;
    }
    .cruise_left_right_box3::before {
        bottom: -35px;
        width: 100px;
        height: 200px;
    }
    .cruise_left_right_box3::after {
        display: none;
    }
    .txt_blue {
        color: #29b2e7;
    }
    .cruise_left_right_box3_txt {
        display: block;
    }
    .cruise_left_right_box3_txt2 {
        display: block;
    }
    .tumbler::before {
        display: none;
    }
    .table_box2_ph {
        white-space: initial;
        font-size: 12px;
    }
    /*vegas */
    section.banner2.vegas_bg {
        margin-top: 0;
        min-height: calc(100vh + 70px);
        padding-top: 25px;
        background: url(../img/vegas_box_ph_bg.jpg) center no-repeat;
        background-size: cover;
    }
    .vegas_title_ph {
        margin-top: 50px;
    }
    .vegas_title_ph2 {
        position: absolute;
        right: 0;
        top: 215px;
    }
    .vegas_mark_ph {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .vegas_viedo_ph {
        max-width: 100%;
        margin: 30px auto;
    }
    .vegas_left_right {
        padding: 20px 15px;
    }
    .vegas_left_right::before {
        content: '';
        display: block;
        position: absolute;
        top: 240px;
        right: 20px;
        width: 120px;
        height: 120px;
        background: url(../img/vegas_trunk.png) center no-repeat;
        background-size: contain;
        z-index: 2;
    }
    .vegas_left_right::after {
        left: 0;
        top: 180px;
    }
    .vegas_box2 {
        margin: 115px auto 20px;
    }
    .vegas_left_right_box3 {
        padding: 80px 15px 100px;
    }
    .vegas_left_right_box3::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -28px;
        left: 0px;
        width: 130px;
        height: 600px;
        background: url(../img/vegas_box_left2_ph.png) center no-repeat;
        background-size: contain;
        z-index: 2;
    }
    .vegas_left_right_box3::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -75px;
        left: 0px;
        width: 100%;
        height: 200px;
        background: url(../img/vegas_box2_bottom_ph.png) center no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .vegas_notice {
        position: relative;
        z-index: 3;
    }
}

@media (max-width: 380px) {
    .pad_left_right::before {
        width: 80px;
    }
    .bonus_title::before {
        left: 150px;
    }
    .Q_bonus_title::before {
        left: 120px;
    }
    .lead_bonus_title::before {
        left: 120px;
    }
    .formula_2 {
        left: 35%;
    }
    .formula_3 {
        width: 38%;
    }
    .formula_4 {
        bottom: 10px;
        left: 35%;
        width: 35%;
        text-align: center;
    }
    .bonus_ph_pic img {
        width: 250px;
    }
    .index_pad_ph {
        margin: 150px 0 50px;
    }
    footer {
        font-size: 15px;
    }
    .pad_left_right::before {
        top: 23%;
    }
    /*cruise*/
    .cruise_pad::before {
        top: 400px;
        right: 0px;
        width: 180px;
        height: 280px;
    }
    .cruise_pad::after {
        top: 528px;
        left: 20px;
        width: 200px;
        height: 140px;
    }
    .pic_box2 {
        width: 65%;
    }
    /*vegas*/
    .vegas_title_ph {
        width: 180px;
    }
    .vegas_title_ph2 {
        top: 155px;
    }
    .vegas_mark_ph {
        right: 20px;
        top: 50px;
    }
    .vegas_viedo_ph {
        width: 100%;
    }
    .vegas_left_right_box3::after {
        bottom: -79px;
    }
    .vegas_box2 {
        margin: 85px auto 20px;
    }
}

@media (max-width: 365px) {
    .sun_title {
        margin-top: -20%;
    }
    .pad_left_right::before {
        width: 70px;
    }
    .formula_2 {
        top: 20px;
        left: 40%;
        width: 25%;
        text-align: center;
    }
    .formula_3 {
        width: 36%;
    }
    .formula::before {
        left: 55%;
    }
    /*cruise*/
    .cruise_title_ph {
        width: 220px;
    }
    .cruise_pad::before {
        top: 440px;
        right: 0px;
        width: 150px;
        height: 200px;
    }
    .cruise_pad::after {
        top: 500px;
    }
    .pic_box2 {
        width: 70%;
    }
    /*vegas*/
    .vegas_title_ph2 {
        top: 176px;
        width: 165px;
    }
    .vegas_box2 {
        margin: 80px auto 20px;
    }
}


@media (max-width: 320px) {
    section.protectSeris .introText h5 {
        width: 300px;
    }
    .sun_title {
        width: 250px;
        margin-left: 12%;
        margin-top: -25%;
    }
    .sun_title2 {
        width: 240px;
        margin-left: 12%;
    }
    .gift_pic {
        width: 250px;
    }
    .bonus_title::before {
        left: 120px;
    }
    .Q_bonus_title::before {
        left: 90px;
    }
    .lead_bonus_title::before {
        left: 90px;
    }
    .pad_left_right::before {
        top: 31%;
    }
    .formula {
        padding: 40px 5px 60px;
    }
    .formula_2 {
        top: 20px;
        left: 42%;
    }
    .formula_3 {
        width: 33%;
    }
    .formula_4 {
        left: 38%;
        bottom: 15px;
    }
    .formula_6 {
        width: 20%;
        text-align: center;
    }
    .formula::before {
        left: 50%;
    }
    .txt_indent3_ph {
        text-indent: 30px;
    }
    .bonus_ph_pic img {
        width: 200px;
    }
    .ship_bonus_pad_left_right::before {
        height: 280px;
    }
    /*cruise*/
    .cruise_title_ph {
        width: 180px;
    }
    .cruise_pad::before {
        top: 410px;
        right: 0px;
        width: 120px;
        height: 160px;
    }
    .cruise_pad::after {
        top: 435px;
        width: 150px;
        height: 140px;
    }
    .cruise_left_box_phone::after {
        top: 550px;
    }
    .pic_box2 {
        width: 75%;
    }
    .pic_box2::before {
        bottom: -90px;
    }
    /*vegas*/
    .vegas_title_ph {
        width: 140px;
    }
    .vegas_title_ph2 {
        top: 120px;
        width: 160px;
    }
    .vegas_mark_ph {
        right: 30px;
        width: 70px;
    }
    .vegas_left_right::after {
        top: 205px;
    }
    .vegas_left_right::before {
        top: 250px;
        width: 100px;
        height: 100px;
    }
    .vegas_left_right_box3::after {
        bottom: -70px;
        height: 170px;
    }
}