body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset, img{border:0;}address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;font-weight:normal;}li{list-style:none;}caption, th{text-align:left;}h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}q:before, q:after{content:;}abbr, acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input, textarea, select{font-family:inherit;font-size:100%;font-weight:inherit;}legend{color:#000;}
img, a, object{border:0;outline:0;}
/* clearfix*/
/* For modern browsers */
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {zoom:1;}
/* inFBApp Tips */
.tips-ios, .tips-android{display:none;width:100%; height:100%; background-color:rgba(0,0,0,.75); position:fixed; top:0; left:0; text-indent:-9999px; line-height:0; z-index:10;}
.tips-ios ul, .tips-android ul{width:100%; background:url(../images/tips_inpapp.png) no-repeat 0 0; background-size:100% 200%; margin-top:20%;}
.tips-ios ul{background-position:0 100%; background-size:100% auto; padding-bottom:59.375%;}
.tips-android ul{background-size:100% auto; padding-bottom:87.5%;}
@media screen and (-webkit-device-pixel-ratio:2){
	/* inFBApp Tips */
	.tips-ios ul, .tips-android ul{background-image:url(../images/tips_inpapp@2x.png);}
	
}
@media screen and (-webkit-device-pixel-ratio:3){
	/* inFBApp Tips */
	.tips-ios ul, .tips-android ul{background-image:url(../images/tips_inpapp@3x.png);}
	
}
html{font-size:300%;}
@media screen and (max-width:960px){html{font-size:230%;}}
@media screen and (max-width:758px){html{font-size:170%;}}
@media screen and (max-width:524px){html{font-size:120%;}}
@media screen and (max-width:400px){html{font-size:100%;}}
body{color:#444444;font-size:0.875rem;font-family:Arial, Helvetica, 'Microsoft JhengHei', '微軟正黑體', sans-serif;background:url(../images/bg.jpg) no-repeat;background-size:100%;}
@media screen and (-webkit-min-device-pixel-ratio:2){body{background-image:url(../images/bg@2x.jpg);}}
@media screen and (-webkit-min-device-pixel-ratio:3){body{background-image:url(../images/bg@3x.jpg);}}
*{box-sizing:border-box;}
a{text-decoration:none;}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.header{position:fixed;top:0;left:0;padding:3.125vw 0 0;width:100%;height:17.1875vw;z-index:50;background-color:#fff;}
.nav{position:absolute;top:0;left:0;z-index:50;visibility:hidden;transition:background-color .5s;padding-top:17.2vw;width:100%;}
.nav-item{display:block;border:2px solid #fff;font-size:5.625vw;width:56.25vw;color:#fff;border-radius:1em;margin:0 auto 1em;line-height:10.3125vw;text-align:center;}
.nav-item--logo{background-position:0% 0%;background-size:100% 328.2%;background-repeat:no-repeat;width:51.25vw;height:12.1875vw;border:none;border-radius:initial;}
@media screen and (-webkit-min-device-pixel-ratio:2){.nav-item--logo{background-position:0% 0%;background-size:100% 323%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.nav-item--logo{background-position:0% 0%;background-size:100% 321.3%;background-repeat:no-repeat;}}
.nav-share{color:#fff;margin:0 auto;width:56.25vw;}
.nav-share--text, .nav-item--fb, .nav-item--line{display:inline-block;vertical-align:middle;font-size:5.625vw;margin-bottom:0;}
.nav-share--text{text-align:center;}
.nav-item--fb{border:none;border-radius:initial;background-position:41.9% 88.6%;background-size:409.9% 320%;width:12.75vw;height:12.75vw;margin-left:0.5em;text-indent:-9999px;}
@media screen and (-webkit-min-device-pixel-ratio:2){.nav-item--fb{background-position:41.1% 88.3%;background-size:409.9% 315%;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.nav-item--fb{background-position:40.8% 88.2%;background-size:409.9% 313.3%;}}
.nav-item--line{border:none;border-radius:initial;width:12.75vw;height:12.75vw;margin-left:0.5em;background-position:75.8% 88.6%;background-size:409.9% 320%;}
@media screen and (-webkit-min-device-pixel-ratio:2){.nav-item--line{background-position:74.1% 88.3%;background-size:409.9% 315%;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.nav-item--line{background-position:73.6% 88.2%;background-size:409.9% 313.3%;}}
.index .nav-item--home{display:none;}
.open .nav-item--line{display:inline-block;}
.open .nav{background-color:rgba(242, 162, 200, 0.9);width:100vw;height:100vh;visibility:visible;}
.open .menu{background:none;}
.open .menu span{background-color:#fff;}
.open .menu span:nth-child(1){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);top:40%;}
.open .menu span:nth-child(2){-webkit-transform:translate(100%);-ms-transform:translate(100%);transform:translate(100%);opacity:0;}
.open .menu span:nth-child(3){top:40%;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.menu{width:13.75vw;height:13.75vw;display:block;position:absolute;top:1.5625vw;right:1.5625vw;z-index:50;background-color:#fff;border-radius:0.3em;border:1px solid #e29199;}
.menu span{width:8.75vw;height:1.5625vw;display:block;position:absolute;left:50%;margin-left:-32%;background-color:#e29199;border-radius:1em;-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;transition:all .3s ease-in-out;}
.menu span:nth-child(1){top:24%;}
.menu span:nth-child(2){top:45%;-webkit-transform:translate(0);-ms-transform:translate(0);transform:translate(0);opacity:1;}
.menu span:nth-child(3){top:66%;}
.footer{position:relative;background-color:#f2f6fa;padding:3.125vw;font-size:3.75vw;line-height:1.2em;}
.footer p{margin-bottom:0;}
.footer-tel{color:#e74e97;font-size:5.625vw;}
.footer-amway{position:absolute;top:3.125vw;right:3.125vw;background-position:0% 44%;background-size:157.6% 365.7%;background-repeat:no-repeat;width:32.5vw;height:10.9375vw;text-indent:-9999px;}
@media screen and (-webkit-min-device-pixel-ratio:2){.footer-amway{background-position:0% 43.9%;background-size:157.6% 360%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.footer-amway{background-position:0% 43.9%;background-size:157.6% 358%;background-repeat:no-repeat;}}
.footer-line{background:url(../images/line.png) no-repeat;background-size:100%;width:80vw;height:4.0625vw;margin:2.5vw auto 1.5vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.footer-line{background-image:url(../images/line@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.footer-line{background-image:url(../images/line@3x.png);}}
#wrap{}
.content{position:relative;margin:71.875vw auto 0;width:93.75vw;background-color:#fff;padding:12.5vw 1.5625vw;}
.content-share{position:absolute;top:2vw;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;padding-right:3.125vw;}
.content-share .nav-item--fb{width:9.375vw;height:9.375vw;}
.content-share .nav-item--line{display:block;width:9.375vw;height:9.375vw;}
.tabsContentBox{margin:0 auto;width:95.3125vw;background-color:white;position:relative;transition:height .3s ease-in-out;}
.tabsContent{
/*position:absolute;
	top:0;
	left:0;*/background-color:#fff;}
/*==漾媽學堂==*/
.school{margin:5vw auto 0;width:100%;border-bottom:1px dashed #f7c9dd;}
.school-videoArea{position:relative;width:89.375vw;min-height:50.3125vw;margin-bottom:0.8em;}
.school-video{position:relative;width:100%;height:50.3125vw;}
.school-videoArea iframe{width:100%;height:100%;}
.school-tool{position:relative;width:100%;height:10.9375vw;background-color:#60c1c7;}
.school-explain{width:100%;}
.school-mask{display:block;position:absolute;top:0;left:0;z-index:10;background:url(../images/space.png);width:100%;height:50.3125vw;cursor:pointer;}
.tags{display:none;}
.tags-item{display:inline-block;background-color:#f8a4cb;color:#fff;padding:0.625vw 3.125vw;border-radius:4em;margin-right:1.5625vw;margin-bottom:1.5625vw;}
.box{}
.box-login{position:relative;margin:0 auto;width:87.5vw;background-color:#fff;border-radius:1.5625vw;padding:6.25vw;box-shadow:5px 5px 30px 5px #e28db5;}
.box-close{display:block;position:absolute;top:-3.125vw;right:-3.125vw;width:9.375vw;height:9.375vw;z-index:999;text-decoration:none;text-indent:-9999px;background-color:#f870af;border-radius:100%;border:3px solid #fff;}
.box-close:before, .box-close:after{content:'';position:absolute;top:47%;left:11%;width:75%;height:2px;background-color:#fff;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out, -webkit-transform .3s ease-in-out;}
.box-close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.box-signin{margin:0 auto;width:87.5vw;}
.box-signinItem{margin-bottom:0.8em;}
.box-signinItem label{display:inline-block;color:#000;font-size:5vw;width:12.5vw;}
.box-signinItem input{display:inline-block;border-radius:0.4em;border:1px solid #bfbfbf;width:56.25vw;padding:0 3.125vw;line-height:9.375vw;}
.box-account{display:none;padding:2.375vw 0 0;}
.box-process{margin-top:1em;}
.box-accountItem{margin-bottom:0.8em;font-size:4.375vw;line-height:2em;}
.box-accountItem label{display:block;vertical-align:top;margin-right:3.125vw;color:#e85298;font-size:5.625vw;}
.box-login--error{display:block;position:relative;margin:0 auto;width:87.5vw;background-color:#fff;border-radius:1.5625vw;padding:6.25vw 9.375vw 18.75vw;}
.box-comingsoon{position:relative;margin:0 auto;width:87.5vw;background-color:#fff;border-radius:1.5625vw;padding:6.25vw 6.25vw 18.75vw;}
/*.box-login--error, .box-comingsoon{ display: none; visibility: hidden;}*/
/*==index==*/
.owl-controls{position:relative;}
.owl-prev{background:url(../images/mobile-owl-pre-s.png) center center no-repeat;background-size:33.3%;text-indent:-9999px;position:absolute;top:0;left:0;width:10.3125vw;height:15.9375vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.owl-prev{background-image:url(../images/mobile-owl-pre-s@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.owl-prev{background-image:url(../images/mobile-owl-pre-s@3x.png);}}
.owl-next{background:url(../images/mobile-owl-next-s.png) center center no-repeat;background-size:33.3%;text-indent:-9999px;position:absolute;top:0;right:0;width:10.3125vw;height:15.9375vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.owl-next{background-image:url(../images/mobile-owl-next-s@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.owl-next{background-image:url(../images/mobile-owl-next-s@3x.png);}}
.owl-dots{text-align:center;padding:5.625vw 0;}
.owl-dot{display:inline-block;width:3.75vw;height:3.75vw;background-color:#cdeced;border-radius:100%;margin:0 2.5vw;}
.owl-dot.active{background-color:#60c1c7;}
.stage1{padding:71.875vw 0 0;}
.stage1-owl{margin:0 auto;width:87.5vw;height:87.5vw;}
.stage1-link--add{display:-webkit-box;display:-ms-flexbox;display:flex;margin:15vw auto 10vw;}
.stage2{background:url(../images/stage2-bg.png) center top no-repeat;width:100%;height:112.5vw;text-align:center;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage2{background-image:url(../images/stage2-bg@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage2{background-image:url(../images/stage2-bg@3x.png);}}
.stage2 .h2-title{padding:9.375vw 0 0;}
.stage2-items{margin:0 auto;width:68.4375vw;height:68.4375vw;}
.stage2-items--item1{background-position:0% 0%;background-size:200.9% 200.9%;background-repeat:no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage2-items--item1{background-position:0% 0%;background-size:200.4% 200.4%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage2-items--item1{background-position:0% 0%;background-size:200.3% 200.3%;background-repeat:no-repeat;}}
.stage2-items--item2{background-position:100% 0%;background-size:200.9% 200.9%;background-repeat:no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage2-items--item2{background-position:100% 0%;background-size:200.4% 200.4%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage2-items--item2{background-position:100% 0%;background-size:200.3% 200.3%;background-repeat:no-repeat;}}
.stage2-items--item3{background-position:0% 100%;background-size:200.9% 200.9%;background-repeat:no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage2-items--item3{background-position:0% 100%;background-size:200.4% 200.4%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage2-items--item3{background-position:0% 100%;background-size:200.3% 200.3%;background-repeat:no-repeat;}}
.stage3{position:relative;padding-top:28.125vw;background:url(../images/stage3bg.png) center top no-repeat;background-size:100%;width:100%;height:112.5vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage3{background-image:url(../images/stage3bg@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage3{background-image:url(../images/stage3bg@3x.png);}}
.stage3-video{position:relative;margin:0 auto;width:90%;height:50.625vw;}
.index .stage4-owlItem{border:0;padding:0;}
.stage4{padding:3.125vw 0 0;}
.stage4-owl{position:relative;margin:12.5vw auto;width:90.625vw;}
.stage4 .h1-title--page{top:-4vw;left:-2vw;}
.stage4-owlItem{position:relative;margin:0 auto;width:81.25vw;border-bottom:1px dashed #f7c9dd;padding-bottom:1em;}
.stage4-owlItem--pic{display:inline-block;vertical-align:top;width:34.375vw;height:34.375vw;padding-top:3.125vw;margin-bottom:6.25vw;}
.stage4-owlItem--pic img{width:100%;}
.stage4-owlItem p{line-height:1.5em;margin-bottom:0;}
.stage5{position:relative;background:#c4e8f9 url(../images/stage5bg.jpg) no-repeat;background-size:contain;width:100%;padding-bottom:3em;}
@media screen and (-webkit-min-device-pixel-ratio:2){.stage5{background-image:url(../images/stage5bg@2x.jpg);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.stage5{background-image:url(../images/stage5bg@3x.jpg);}}
.stage5-tip{padding:17vw 0 12vw 41vw;}
.stage5-description{position:relative;margin:0 auto;width:90.625vw;border-radius:1em;background-color:#fff;padding:5vw 3.125vw;}
.stage5-description--item1{display:-webkit-box;display:-ms-flexbox;display:flex;}
.stage5-description--item1 span{color:#2bb7ae;font-size:5vw;white-space:nowrap;}
.stage5-description--item1 p{margin-left:1.5625vw;font-size:3.75vw;}
.stage5-description--item2{display:-webkit-box;display:-ms-flexbox;display:flex;}
.stage5-description--item2 a{color:#ffffff;font-size:3.75vw;background-color:#60c1c7;border-radius:100%;padding-top:1.5625vw;width:13.75vw;height:13.75vw;display:table;text-align:center;}
.stage5-description--item2 p{margin-left:3.125vw;font-size:3.75vw;width:67.1875vw;}
.stage5-description--item2 p a{font-size:3.75vw;margin:0;padding:0;border-radius:0;background:none;color:#e85298;text-decoration:underline;width:auto;height:auto;display:inline-block;}
.stage5-description--item3{border-top:2px solid #60c1c7;padding-top:3vw;margin-top:3vw;}
.stage5-description--item3 span{display:block;color:#2bb7ae;font-size:3.75vw;margin-bottom:0.5em;}
.owl-carousel{}
.owl-carousel--stage2{width:100%;}
.owl-carousel--stage3{width:100%;}
.owl-carousel--stage4{width:100%;padding:6.25vw 4.6875vw 0;box-shadow:1px 3px 20px rgba(0,0,0,0.2);}
/*==優惠專案==*/
.kv{}
.kv-preferential{margin:0 auto;width:90.625vw;}
.kv-preferential img{width:100%;}
.kv-article{margin:0 auto;width:90.625vw;}
.kv-article img{width:100%;}
.giftbox{margin:0 auto;width:90.625vw;}
.giftbox-item{position:relative;padding:3.125vw 0;border-bottom:1px dashed #f7c9dd;}
.giftbox-pic{position:relative;display:inline-block;vertical-align:middle;width:25vw;height:25vw;}
.giftbox-pic:after{content:'';background-color:#fce4d6;border-radius:100%;width:18.75vw;height:18.75vw;display:block;position:absolute;top:3.125vw;left:3.125vw;}
.giftbox-img{position:absolute;top:0;left:0;z-index:2;width:100%;}
.giftbox p{line-height:1.5em;width:100%;margin-bottom:0;}
.articlebox{}
.articlebox-item{position:relative;padding:3.125vw 0;border-bottom:1px dashed #f7c9dd;}
.articlebox-pic{display:inline-block;vertical-align:middle;width:37.5vw;margin-right:0;}
.articlebox-img{width:100%;}
.article--back{text-align:center;margin:9.375vw auto;}
.article--back .btn-hollow{padding:2.5vw 4.6875vw;border-radius:4em;font-size:5vw;}
.bold{font-weight:bold;}
.m10{margin:3.125vw auto !important;}
.m20{margin:6.25vw auto !important;}
.bg{}
.bg-shadow{background:url(../images/bg-shadow.png) center top no-repeat;background-size:contain;width:100%;padding:6.25vw 0 3.125vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.bg-shadow{background-image:url(../images/bg-shadow@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.bg-shadow{background-image:url(../images/bg-shadow@3x.png);}}
.listNum{}
.listNum--data{margin-left:-0.8vw;font-size:4.375vw;padding-top:7vw;background:url(../images/data-step2.png) no-repeat;background-size:100%;width:93.125vw;height:85.625vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.listNum--data{background-image:url(../images/data-step2@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.listNum--data{background-image:url(../images/data-step2@3x.png);}}
.listNum-item{margin-left:2em;list-style:decimal;font-weight:normal;}
.infoBox{background:#c3c0c0;margin:0 0.625rem 1.125rem;padding:0.5625rem 0.3125rem;border:1px solid #67593a;}
.text-title{margin-bottom:0.875rem;font-size:0.9375rem;}
.text--darkred{color:#d64802;}
.text-note{margin-top:0.3125rem;}
.text-note--group{width:100%;margin-top:5.0vw;}
.data-title--fb{display:block;margin:1vw auto 2vw;background-position:0% 100%;background-size:100.4% 270.8%;background-repeat:no-repeat;width:63.125vw;height:7.5vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.data-title--fb{background-position:0% 100%;background-size:100.4% 266.6%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.data-title--fb{background-position:0% 100%;background-size:100.4% 265.2%;background-repeat:no-repeat;}}
.addGroup{background-color:#fadcea;color:#af3e73;padding:1vw 2vw;border-radius:0.2em;}
.p{}
.p--photo{position:absolute;top:1.5em;left:18.1vw;color:#2bb7ae;}
.ico{}
.ico--arrow{display:inline-block;color:#5b9ecd;font-size:6.25vw;vertical-align:middle;}
.ico--share{width:9.375vw;height:9.375vw;display:inline-block;background:url(../images/share.svg) no-repeat 0 0;vertical-align:middle;}
.text-center{text-align:center;}
.textNone{text-indent:-9999px;}
p{margin-bottom:1em;line-height:1.5em;}
.p{}
.p-account{color:#e85298;font-size:5.625vw;text-align:center;padding-bottom:0.5em;border-bottom:1px dashed #f7c9dd;}
.h1{}
.h1-title{font-size:5.625vw;font-weight:bold;color:#fff;}
.h1-title--page{position:absolute;top:-1.5625vw;left:-1.25vw;z-index:2;display:-webkit-box;display:-ms-flexbox;display:flex;background-color:#e85298;height:10.3125vw;line-height:10.3125vw;padding-right:7.375vw;}
.h1-title--page:before{content:'';background-position:95.5% 86.6%;background-size:3279.9% 336.8%;width:1.5625vw;height:11.875vw;margin-right:7.5vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.h1-title--page:before{background-position:93% 86.3%;background-size:3279.9% 331.5%;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.h1-title--page:before{background-position:92.2% 86.2%;background-size:3279.9% 329.8%;}}
.h1-title--page:after{content:'';position:absolute;top:0;right:-4vw;background-position:90.6% 86.6%;background-size:1171.4% 336.8%;width:4.375vw;height:11.875vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.h1-title--page:after{background-position:88.6% 86.3%;background-size:1171.4% 331.5%;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.h1-title--page:after{background-position:88% 86.2%;background-size:1171.4% 329.8%;}}
.h2{}
.h2-title{color:#e85298;font-size:7.5vw;margin-bottom:0.5em;}
.h2-title--stage4{display:inline-block;vertical-align:top;margin-bottom:3.125vw;padding-top:4.6875vw;padding-left:.9375vw;font-size:5.625vw;width:45.3125vw;}
.h2-title--stage5{font-size:7.5vw;}
.h2-title--gift{background-position:0% 0%;background-size:100% 166.6%;background-repeat:no-repeat;width:63.4375vw;height:12.1875vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.h2-title--gift{background-position:0% 0%;background-size:100% 164.1%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.h2-title--gift{background-position:0% 0%;background-size:100% 163.2%;background-repeat:no-repeat;}}
.h3{}
.h3-title-video{color:#e85298;font-size:5.625vw;margin:0.2em 0;}
.h3-giftbox{display:inline-block;vertical-align:middle;width:62.5vw;color:#e85298;font-size:5.625vw;}
.h3-giftbox--detail{display:block;font-size:3.75vw;color:#444444;}
.h3-articlebox{display:inline-block;vertical-align:middle;width:51.5vw;color:#e85298;font-size:5.625vw;margin-right:0;}
.precautions{padding-left:18.75vw;}
.precautions-title{display:inline-block;vertical-align:top;border:1px solid #2bb7ae;border-radius:100%;color:#2bb7ae;width:13.75vw;height:13.75vw;text-align:center;margin-right:3.125vw;padding:2.5vw;font-size:4.375vw;font-weight:normal;}
.decimal{}
.decimal li{position:relative;margin-left:20px;margin-bottom:0.5em;line-height:1.5em;font-size:14px;list-style:decimal;}
.point{}
.point li{position:relative;padding-left:5vw;line-height:1.8em;font-size:3.75vw;}
.point li:before{content:' ';position:absolute;top:2vw;left:1vw;background-color:#000;border-radius:100%;width:2.5vw;height:2.5vw;}
.ocr .precautions-title{padding:2.5vw 0 0;}
.precautions--campagin{padding:0;}
.precautions-title--campagin{width:auto;border-radius:1em;height:auto;line-height:1.5em;padding:0 1em;margin:1.5em 0 0.5em;}
.bold{font-weight:bold;}
.text12{font-size:3.75vw;}
.text18{font-size:5.625vw;}
.text--black{color:#000;}
.text--pink{color:#e85298;}
p, .justify{text-align:justify;text-justify:inter-ideograph;}
.btn{}
.btn-top{display:block;position:fixed;bottom:3.125vw;right:3.125vw;z-index:10;background-position:0% 100%;background-size:328% 256%;background-repeat:no-repeat;width:15.625vw;height:15.625vw;text-indent:-9999px;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-top{background-position:0% 100%;background-size:328% 252%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-top{background-position:0% 100%;background-size:328% 250.6%;background-repeat:no-repeat;}}
.btn--arrow{position:relative;}
.btn--arrow:before, .btn--arrowBlue:before{pointer-events:none;display:inline-block;margin-right:0.4em;content:'';width:0;height:0;border-style:solid;border-width:5px 0 5px 7px;border-color:transparent transparent transparent #fff;}
.btn--arrowBlue:before{border-color:transparent transparent transparent #3b5997;}
.btn-hollow.btn--arrow:before{border-color:transparent transparent transparent #e85298;}
.btn-solid{display:block;margin:0 auto;background-color:#e85298;border-radius:2em;color:#fff;padding:0.3em 2em;font-size:5vw;text-align:center;}
.btn-solid--blue{background-color:#60c1c7;}
.btn-hollow{border-radius:1em;border:1px solid #e85298;color:#e85298;padding:0.1em 0.8em;}
.btn-hollow--blue{position:relative;border:1px solid #08286a;border-radius:2em;color:#08286a;padding:2px 8px;margin:0 5px;font-size:4.375vw;}
.btn-read{color:#e85298;text-decoration:underline;}
.btn-icon--fb{display:inline-block;vertical-align:sub;background:url(../images/btn-icon--fb.png) no-repeat;background-size:100%;width:21.25vw;height:4.375vw;text-indent:-99999px;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-icon--fb{background-image:url(../images/btn-icon--fb@2x.png);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-icon--fb{background-image:url(../images/btn-icon--fb@3x.png);}}
.tabs{margin:0 auto;width:95.3125vw;padding-top:71.875vw;font-size:4.375vw;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;line-height:1.3;}
.tabs-item{height:12.5vw;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0 2vw;font-weight:bold;text-align:center;box-sizing:border-box;transition:all .3s ease-in-out;background-color:#e85298;color:#fff;border-top-left-radius:8px;border-top-right-radius:8px;}
.tabs-item--fb{width:39%;}
.tabs-item--member{width:59%;
/*margin-left: 0.37%;*/}
.tabs-item--active{background-color:#fff;color:#e85298;}
.btn-tool{display:block;position:absolute;top:0;width:9.375vw;height:10.9375vw;}
.btn-tool:before{display:block;}
.btn-tool--play{left:3.125vw;}
.btn-tool--play:before{content:'';background-position:52.9% 76.4%;background-size:440% 278.9%;width:4.6875vw;height:5.9375vw;margin:2.5vw 0 0 2.8125vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-tool--play:before{background-position:53% 75.7%;background-size:426.6% 273.6%;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-tool--play:before{background-position:53.1% 75.5%;background-size:422.2% 271.9%;}}
.btn-tool--pause{left:3.125vw;}
.btn-tool--pause:before{content:'';background-position:100% 0%;background-size:471.4% 265%;background-repeat:no-repeat;width:4.375vw;height:6.25vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-tool--pause:before{background-position:100% 0%;background-size:457.1% 260%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-tool--pause:before{background-position:100% 0%;background-size:452.3% 258.3%;background-repeat:no-repeat;}}
.btn-tool--replay{left:14.0625vw;}
.btn-tool--replay:before{content:'';background-position:0% 100%;background-size:275% 203.8%;background-repeat:no-repeat;width:7.5vw;height:8.125vw;margin:1.25vw 0 0 1.25vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-tool--replay:before{background-position:0% 100%;background-size:266.6% 200%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-tool--replay:before{background-position:0% 100%;background-size:263.8% 198.7%;background-repeat:no-repeat;}}
.btn-tool--sound{right:3.125vw;}
.btn-tool--sound:before{content:'';background-position:0% 0%;background-size:264% 212%;background-repeat:no-repeat;width:7.8125vw;height:7.8125vw;margin:1.5625vw 0 0 0.9375vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-tool--sound:before{background-position:0% 0%;background-size:256% 208%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-tool--sound:before{background-position:0% 0%;background-size:253.3% 206.6%;background-repeat:no-repeat;}}
.btn-tool--nosound{right:3.125vw;}
.btn-tool--nosound:before{content:'';background-position:62.7% 0%;background-size:286.9% 220.8%;background-repeat:no-repeat;width:7.1875vw;height:7.5vw;}
@media screen and (-webkit-min-device-pixel-ratio:2){.btn-tool--nosound:before{background-position:63.4% 0%;background-size:278.2% 216.6%;background-repeat:no-repeat;}}
@media screen and (-webkit-min-device-pixel-ratio:3){.btn-tool--nosound:before{background-position:63.6% 0%;background-size:275.3% 215.2%;background-repeat:no-repeat;}}
.form{
/*background-color:white;*/padding:1.05rem;}
.form .input-item{position:relative;margin-bottom:1.5em;}
.form.ocr .input-item{margin-bottom:2.5em;}
.form .input-item--float{position:absolute;top:8vw;left:18vw;width:60vw;padding:5vw 3vw;}
.form scroll{margin:0.4375rem 0 0 -0.625rem;width:18.75rem;}
.form .check-item{position:relative;overflow:hidden;margin-bottom:0.875rem;}
.form .check-item label{width:12.5rem;}
.form .check-item label:before{display:inline-block;vertical-align:text-top;margin-right:0.3125rem;width:0.8125rem;height:0.8125rem;border:1px solid #444444;background:#fff;content:'';}
.form .check-item input:checked + label:before{content:'\2714';line-height:100%;}
label{margin-right:3.125vw;}
.require{position:relative;font-size:5vw;}
.require:before{display:inline-block;color:#dc0211;content:'*';}
.require-text{display:inline-block;width:78%;font-size:5vw;}
.ocr .require:before{content:' ';}
label, [type="number"]{display:inline-block;vertical-align:middle;}
[type="number"]{padding:0.5em;width:9rem;height:1.5625rem;border:1px solid #ccc;border-radius:0.4em;}
[type="checkbox"]{position:absolute;top:-100%;}
.addfbForm{}
.addfbForm .require{width:36vw;text-align:right;}
.addfbForm [type="number"]{width:33vw;}
.scroll{width:100%;height:7.825rem;position:relative;margin:0.4375rem 0;padding:3.125vw;border:1px solid #cccccc;box-sizing:border-box;overflow-y:auto;font-size:3.75vw;}
.viewport{position:relative;overflow:hidden;margin-top:0.5rem;height:6.125rem;border:1px solid #444444;}
.overview{position:absolute;top:0;left:0;padding:0.375rem;background:#fff;}
.overview ul, .overview p, .overview li{margin-bottom:0.625rem;}
.overview ul{margin-top:0.625rem;padding-left:1.4375rem;}
.overview li{list-style-type:disc;}
.scrollbar{position:absolute;top:30px;right:0.1875rem;z-index:999;overflow:visible;width:0.1875rem;height:100%;}
.track{position:relative;left:0;margin:0 auto;width:0.1875rem;height:100%;text-indent:0;}
.thumb{position:absolute;top:0;overflow:hidden;width:0.1875rem;background:#ccc;cursor:pointer;}
.thumb .end{overflow:hidden;width:0.1875rem;}
.scroll .disable{display:none;}
.noSelect{-ms-user-select:none;user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}
/*# sourceMappingURL=style.css.map */.misc, .h1-title--page:before, .h1-title--page:after{background-image:url(../images/misc.png);}
.stage2items{background-image:url(../images/stage2items.png);}
.text{background-image:url(../images/text.png);}
.tools, .btn-tool--play:before, .btn-tool--pause:before, .btn-tool--replay:before, .btn-tool--sound:before, .btn-tool--nosound:before{background-image:url(../images/tools.png);}
@media screen and (-webkit-min-device-pixel-ratio:2) {
.misc, .h1-title--page:before, .h1-title--page:after{background-image:url(../images/misc@2x.png);}
.stage2items{background-image:url(../images/stage2items@2x.png);}
.text{background-image:url(../images/text@2x.png);}
.tools, .btn-tool--play:before, .btn-tool--pause:before, .btn-tool--replay:before, .btn-tool--sound:before, .btn-tool--nosound:before{background-image:url(../images/tools@2x.png);}
}
@media screen and (-webkit-min-device-pixel-ratio:3) {
.misc, .h1-title--page:before, .h1-title--page:after{background-image:url(../images/misc@3x.png);}
.stage2items{background-image:url(../images/stage2items@3x.png);}
.text{background-image:url(../images/text@3x.png);}
.tools, .btn-tool--play:before, .btn-tool--pause:before, .btn-tool--replay:before, .btn-tool--sound:before, .btn-tool--nosound:before{background-image:url(../images/tools@3x.png);}
}
