@-webkit-keyframes visibleAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes visibleAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes visibleAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes visibleAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes visibleAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    font-family: Roboto-Bold;
    font-size: 100%;
    color: #000000;
    -moz-animation: visibleAnimation 1s ease-in;
    -webkit-animation: visibleAnimation 1s ease-in;
    -ms-animation: visibleAnimation 1s ease-in;
    animation: visibleAnimation 1s ease-in;
}

h3 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

a:-webkit-any-link {
    text-decoration: none;
}

.topwrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #EBEBEB;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    background: #7828B4;
}

.logo {
    color: white;
    font-size: 2em;
    font-weight: bolder;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


.tools {
    display: flex;
    flex-direction: column;
    background: #EBEBEB;
}

.search {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    box-shadow: 0 5px 10px 0 #D7D7D7;
    height: 55px;
    padding: 0 1rem;
}

.search>.border {
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 2px solid #000;
}

.search>.border>i {
    color: #9B9B9B;
    font-size: 1em;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.search>.border>i:before {
    content: "\f002";
}

.search>.border>input {
    border: 0;
    outline: 0;
    width: 90%;
    background: transparent;
    font-size: 1.2em;
    padding: .5rem 1rem;
}

.search>.border>input::-webkit-input-placeholder {
    font-family: Roboto-Italic;
    font-style: italic;
}

.search>.border>input ::-moz-placeholder {
    font-family: Roboto-Italic;
    font-style: italic;
}

.search>.border>input :-ms-input-placeholder {
    font-family: Roboto-Italic;
    font-style: italic;
}

.search>.border>input :-moz-placeholder {
    font-family: Roboto-Italic;
    font-style: italic;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D7D7D7;
    padding: 0 1rem;
    border-top: 1px solid #9B9B9B;
    overflow: hidden;
    padding: 1rem;
}

.panel>h3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel>h3>i {
    color: #9B9B9B;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.panel>h3>i:before {
    content: "\f067";
}

.panel .panelbody {
    display: none;
}

.panel.active {
    background: #EBEBEB;
}

.panel.date.active {
    height: auto;
}

.panel.active>h3>i:before {
    content: "\f068";
}

.panel.active>.panelbody {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.area select {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding-left: 1em;
}

.date>.panelbody>div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 1rem;
}

.date>.panelbody>div>label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    padding-right: 1em;
}

.date>.panelbody>div>input {
    display: inline-flex;
    width: calc(100% - 50px);
    height: 40px;
    padding-left: 1em;
}

.category ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.category ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: .5rem 0;
}

.category ul li label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #7828B4;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #7828B4;
}


.contentwrap>h2 {
    display: none;
}

.contentwrap>ul {
    display: none;
}

.content {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    height: 100%;
    overflow: hidden;
}

.paper {
    width: 100%;
    background: white;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.paper img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.paper .wrap {
    padding: 1rem;
}

.paper .ttl {
    color: #9013FE;
}

.paper .desc {
    max-height: 39px;
    overflow: hidden;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-margin-after: 0;
}

.author .fullname {
    font-weight: bold;
    margin-right: 1rem;
}

.author .industry {
    display: inline-block;
    background: #D7D7D7;
    border-radius: 100px;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    padding: 0 1rem;
}

.venue,
.period {
    color: #9B9B9B;
}

.venue>i,
.period>i {
    color: #000;
    margin-right: .25rem;
    letter-spacing: 0;
}

.pagination {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin-bottom: 50px;
}

.pagination a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    color: black;
    text-decoration: none;
    background: white;
    margin-left: 1px;
}

.pagination a.prev,
.pagination a.next {
    color: #9013FE;
}

.pagination .active {
    background: #9013FE;
    color: white;
}



/*內頁*/

.page>.topwrap>.topnav>a {
    position: relative;
}

.page>.topwrap>.topnav>.btn {
    position: absolute;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    float: right;
    width: 69px;
    height: 69px;
}

.page>.topwrap>.topnav>.btn>i {
    color: #fff;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.page .topnav .btn i {
    color: #fff;
    font-size: 1.2em;
    font-weight: 900;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.page>.topwrap>.topnav>.btn>i:before {
    content: "\f002";
}

.page>.topwrap>.topnav>.btn.active>i:before {
    content: "\f057";
}

.page .search {
    display: none;
}

.page .search.active {
    display: flex;
    -moz-animation: visibleAnimation 1s ease-in;
    -webkit-animation: visibleAnimation 1s ease-in;
    -ms-animation: visibleAnimation 1s ease-in;
    animation: visibleAnimation 1s ease-in
}

.page .tools {
    display: none;
}

.page .content {
    margin-top: unset;
    padding: unset;
}

ol.breadcrumb {
    display: flex;
    flex: 1;
    height: 48px;
    align-items: center;
    background: #EBEBEB;
    margin: 1rem;
    list-style: none;
    -webkit-margin-before: 1rem;
    -webkit-margin-after: 1rem;
    -webkit-padding-start: 0;
    padding-left: 1rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    content: "/\00a0";
}

.breadcrumb a,
a:focus {
    color: #9013FE;
}

.breadcrumb a:hover,
.breadcrumb>.active,
a:focus {
    color: #000;
}

.page .paper {
    margin-bottom: unset;
}

.page .infowrap {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

.page .infowrap .venue {
    display: inline-block;
    margin-right: .5rem;
}

.page .infowrap .period {
    display: inline-block;
}

.recommand {
    display: none;
}

.hide {
    display: none !important;
}

@media (min-width: 768px) {
    .topwrap {
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 92px;
        background: #7828B4;
    }
    .topnav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 92px;
        background: #7828B4;
    }

    .logo {
        font-size: 3em;
    }

    .search {
        flex: 1;
        background: #7828B4;
        box-shadow: none;
        padding: 0 2rem
    }
    .search .border {
        border-color: white;
    }
    .search>.border>i {
        font-size: 1.25em;
        color: rgba(255, 255, 255, 0.50);
    }

    .search .border input {
        font-size: 1.5em;
        color: white;
    }
    .search>.border>input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
    .search>.border>input ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
    .search>.border>input :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
    .search>.border>input :-moz-placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
    .bottomwrap {
        display: flex;
        flex: 1;
        flex-direction: row;
    }
    .tools {
        min-width: 30%;
    }
    .panel {
        background: #ebebeb;
    }
    .panel>h3>i {
        display: none;
    }
    .panel>.panelbody {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
    .contentwrap {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem;
    }
    .contentwrap>h2 {
        font-family: Roboto-Bold;
        font-weight: bold;
    }
    .contentwrap>h2>span {
        color: #9013FE;
        margin: 0 .5rem;
    }
    .contentwrap>ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        list-style-type: none;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    .contentwrap>ul>li {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 128px;
        height: 35px;
        color: #9013FE;
        border: 1px solid #9013FE;
        border-radius: 100px;
        margin-right: 1rem;
        cursor: pointer;
    }
    .contentwrap>ul>li>i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #9013FE;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        border: 1px solid #9013FE;
    }
    .content {
        margin-top: 2rem;
        padding: 0;
    }
    .pagination {
        justify-content: flex-end;
        padding: unset;
    }

    .page>.topwrap>.topnav>.btn {
        display: none
    }
}

@media (min-width: 1024px) {

    .paper {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 220px;
    }
    .imgwrap>img {
        width: 220px;
        height: 220px;
    }

    .page .search {
        display: flex;
    }

    .paper .wrap {
        flex-direction: column;
        flex: 1;
    }

    .page .tools {
        display: flex;
    }

    .page ol.breadcrumb {
        margin: 0;
    }

    .page .paper {
        flex-direction: column;
        height: auto
    }
    .page .imgwrap>img {
        width: 100%;
        height: auto;
    }

    .page .paper .wrap {
        padding: 1rem 3rem;
    }

    .page .paper .ttl {
        font-size: 2em;
    }
}

@media (min-width: 1279px) {

    .topnav {
        width: 21.7%;
        justify-content: flex-start;
    }
    .logo {
    	font-size: 2.5em;
        padding-left: 1rem;
    }
    .search {
        padding: 0 3rem;
    }
    .tools {
        min-width: 20%;
    }

    .page .tools {
        min-width: 22%;
    }

    .page .contentwrap {
        flex-direction: row;
    }

    .page .content {
        width: 60%;
        margin: 0 1rem;
    }

    .recommand {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: #fff;
        padding: 2rem;
    }

    .recommand>h3>i {
        margin-right: .5rem
    }

    .recommand .paper {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #333;
        font-style: italic;
    }

    .page .recommand .paper .wrap {
        padding: 1rem;
        border: 1px solid #eee;
    }
}

@media (min-width: 1441px) {
    .contentwrap {
        padding: 1rem;
    }

    .page .content {
        width: 800px;
        margin: 0 3rem;
    }

    .recommand {
        margin-right: 8rem;
    }
}