#x-friend-picker .scroll{width:651px;height:147px;position:relative;top:29px;left:-10px;overflow:hidden;}

#x-friend-picker .scroll{top:0; left:10px;}
#x-friend-picker .viewport{position:relative;overflow:hidden;}
#x-friend-picker .overview{position:absolute;top:0;left:0;}
#x-friend-picker .scrollbar{width:18px;height:100%;position:absolute;right:0;overflow:visible;z-index:999;}
#x-friend-picker .track{width:18px;height:100%;margin:0 auto;text-indent:0;position:relative;left:0;}
#x-friend-picker .thumb{background:#d6a453;width:6px;position:absolute;top:0;left:6px;overflow:hidden;cursor:pointer;}
#x-friend-picker .thumb .end{width:6px;overflow:hidden;}
#x-friend-picker .scroll .disable{display:none}

#x-friend-picker{background:url(../images/bg-friendbox.png) 0 0 no-repeat;width:391px;height:350px;position:relative;top:10px;left:10px;}
#x-friend-picker .scroll{width:389px;height:311px;}
#x-friend-picker .scrollbar, #x-friend-picker .track{width:14px;}
#x-friend-picker .scrollbar, #x-friend-picker .viewport{height:305px;top:4px;right:9px;}
#x-friend-picker .thumb{background:#d6a453 url(../images/scroll-thumb.png) 0 0 no-repeat;left:5px;}
#x-friend-picker .thumb .end{background:#d6a453;}
#x-friend-picker .viewport{width:372px;left:4px;}
#x-friend-picker .overview{width:100%;height:100%;}
#x-friend-picker .searchbox, #x-friend-picker button{position:absolute;}
#x-friend-picker .searchbox{padding-left:53px;bottom:2px;left:89px;}
#x-friend-picker .searchbox input{width:131;height:17px;border-color:#eed0a1;}
#x-friend-picker button{background:#000;width:86px;height:29px;padding:0;border:0;bottom:0;left:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}

#x-friend-picker .friends{width:100%; margin:0;text-align:justify;position:relative;overflow:hidden;}
#x-friend-picker .friends ul{ padding-left:5px;list-style-type:none;}
#x-friend-picker .friends li.item{background:none;width:116px;height:47px;margin:7px 6px 10px 0; color:#8b5528;position:relative;float:left;cursor:pointer;}
#x-friend-picker .friends .avatar{width:47px;padding:0;}
#x-friend-picker .friends .name{width:60px;height:auto; line-height:130%;font-size:12px;display:inline-block;margin:5px 0 0 5px; overflow:hidden;vertical-align:top; word-wrap:break-word;}
#x-friend-picker .friends img.select{position:absolute;bottom:29px;right:2px;z-index:2;display:none;}
#x-friend-picker .friends li.select{margin-right:4px;margin-bottom:8px;border:1px solid #eedab9;}
#x-friend-picker .friends li.picked{background:#8b5528;color:#fff;}
