@font-face {
    font-family: icomoon;
    src: url(iconfont.eot);
    src: url(iconfont.eot#iefix) format('embedded-opentype'), url(iconfont.woff2) format('woff2'), url(iconfont.ttf) format('truetype'), url(iconfont.woff) format('woff'), url(iconfont.svg#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-fbbet:before {
    content: "\e60b"
}

.icon-fbteam:before {
    content: "\e60e"
}

.icon-iconcompany:before {
    content: "\e61a"
}

.icon-icofeedback:before {
    content: "\e62a"
}

.icon-iconemail:before {
    content: "\e62c"
}

.icon-ico-answer-rule2:before {
    content: "\e68f"
}

.icon-ico_input:before {
    content: "\e6b6"
}

.icon-ico_succeed:before {
    content: "\e6b7"
}

.icon-float-feedback:before {
    content: "\e6bc"
}

.icon-x:before {
    content: "\78"
}

.icon-qq:before {
    content: "\e612"
}

.icon-sina:before {
    content: "\e61b"
}

.icon-sina-radius:before {
    content: "\e61f"
}

.icon-wechat:before {
    content: "\e622"
}

.icon-wechat-radius:before {
    content: "\e623"
}

.icon-qq-radius:before {
    content: "\e620"
}

.icon-portrait:before {
    content: "\e626"
}

.icon-error:before {
    content: "\e627"
}

.icon-fwymoer:before {
    content: "\e65b"
}

.icon-collecth:before {
    content: "\e600"
}

.icon-close:before {
    content: "\e609"
}

.icon-top:before {
    content: "\e618"
}

.icon-down:before {
    content: "\e619"
}

.icon-next:before {
    content: "\e624"
}

.icon-prev:before {
    content: "\e625"
}

.icon-iconresults:before {
    content: "\e61e"
}

.icon-iconepdatabase:before {
    content: "\e633"
}

.icon-iconepindex:before {
    content: "\e634"
}

.icon-iconepnews:before {
    content: "\e635"
}

.icon-iconepresult:before {
    content: "\e636"
}

.icon-iconepschedule:before {
    content: "\e637"
}

.icon-iconepscore:before {
    content: "\e638"
}

.icon-logo:before {
    content: "\e66c"
}

.icon-menu_exponent:before {
    content: "\e66e"
}

.icon-menu_information:before {
    content: "\e66f"
}

.icon-menu_results:before {
    content: "\e670"
}

.icon-menu_schedule:before {
    content: "\e671"
}

.icon-menu_score:before {
    content: "\e672"
}

.icon-nav_date:before {
    content: "\e673"
}

.icon-nav_more:before {
    content: "\e674"
}

.icon-nav_screen:before {
    content: "\e675"
}

.icon-live-animation:before {
    content: "\e677"
}

.icon-live-tv:before {
    content: "\e678"
}

.icon-injury:before {
    content: "\e67a"
}

.icon-suspend:before {
    content: "\e67b"
}

.icon-event_yc:before {
    content: "\e67c"
}

.icon-event_start:before {
    content: "\e67d"
}

.icon-event_rc:before {
    content: "\e67e"
}

.icon-event_placekick:before {
    content: "\e67f"
}

.icon-event_pkgoal:before {
    content: "\e680"
}

.icon-event_owngoal:before {
    content: "\e681"
}

.icon-event_outball:before {
    content: "\e682"
}

.icon-event_info:before {
    content: "\e683"
}

.icon-event_goalkick:before {
    content: "\e684"
}

.icon-event_goal:before {
    content: "\e685"
}

.icon-event_corner:before {
    content: "\e687"
}

.icon-event_austauschen:before {
    content: "\e688"
}

.icon-event_rc1:before {
    content: "\e689"
}

.icon-gototop:before {
    content: "\e68a"
}

.icon-web:before {
    content: "\e68c"
}

.icon-mobile:before {
    content: "\e68d"
}

.icon-download:before {
    content: "\e68e"
}

.icon-ico-answer-rule:before {
    content: "\e6a8"
}

.icon-ico-answer-query:before {
    content: "\e6a9"
}

.icon-video:before {
    content: "\e62f"
}

.icon-icon-iphone:before {
    content: "\e69c"
}

.icon-icon-android:before {
    content: "\e69d"
}

.icon-ico-collect:before {
    content: "\e6a1"
}

.icon-btn-screen:before {
    content: "\e6a2"
}

.icon-inputbox-user:before {
    content: "\e6a3"
}

.icon-inputbox-lock:before {
    content: "\e6a4"
}

.icon-feedback:before {
    content: "\e6a5"
}

.icon-live-animation1:before {
    content: "\e6ab"
}

.icon-live-tv1:before {
    content: "\e6ac"
}

.icon-emo:before {
    content: "\e6bd"
}

.icon-ico_toolbar_props:before {
    content: "\e6be"
}

.icon-ico_input_pic:before {
    content: "\e6bf"
}